[2015-01-30 20:39] lsegal commented on #487
That seems like a regression or breaking change in the v0.11.15 release, then. Looking at the [release notes](http://blog.nodejs.org/2015/01/20/node-v0-11-15-unstable/) it's hard to track down the exact change, but if you're able to figure out the cause, do let us know. You might also want to look at the Node.js GitHub issues to see if anyone has reported any bugs in the latest release that might

[2015-01-30 20:46] mhart commented on #487
Also, v0.11.16 was just released, so worth trying that (especially if there is an error and it's SSL or URL path related: http://blog.nodejs.org/2015/01/30/node-v0-11-16-unstable/

[2015-01-30 20:52] mhart commented on #487
(just checked, works fine in v0.11.16 for me - but breaks in v0.11.15 - so I think it's a regression, perhaps in the path handling stuff)

[2015-01-30 20:53] lsegal commented on #487
Thanks for diving in on this @mhart!

[2015-01-30 20:56] mhart commented on #487
No probs, I was as intrigued as you. Pretty bad regression - or just an unlucky edge case that the SDK was hitting.

[2015-01-30 21:01] lazutkin commented on #487
Checked, it works on node 0.11.16.

[2015-01-31 00:09] lsegal commented on #487
Going to mark this as closed since it's an issue with Node.js. Thanks for letting us know about this regression!

[2015-01-31 00:09] #487 closed

[2015-01-31 09:49] ghost opened #488 "API for validating operation params without making request"
Is there any way to use the operation param validation that appears to be part of the SDK on it's own? My interests are in making a mock of the SDK to enable easier development of our applications without necessarily needing to take real actions in AWS. My team builds automation tools to orchestrate AWS and we have had to each basically have a real AWS account setup to our specifications in order

[2015-01-31 10:19] lsegal commented on #488
@chadwintzer this is a great question! Here are a couple of suggestions:

1. You don't have to use param validation as a separate module, you can instead just use the aws-sdk as is and build a request without sending it. There are a couple of ways to do this, the easiest is to just use the `request.build()` method, which runs all lifecycle events up to `'send'`. Technically, `build()` is a private

[2015-02-02 13:02] eugene-dounar opened #489 "Trim whitespace when reading credentials from INI file"
Leaving a space after a value in ~/.aws/credentials INI file makes the credentials invalid. This is hardly noticeable. Trimming whitespace may save a lot of time for developers

[2015-02-02 23:52] #489 closed

[2015-02-02 23:53] AdityaManohar commented on #489
Hey @eugene-dounar !

This is now fixed in master. Thanks for reporting!

[2015-02-02 23:59] AdityaManohar commented on #488
Closing this out since the OP seems to have left the conversation.

[2015-02-02 23:59] #488 closed

[2015-02-03 06:10] manzanofab opened #491 "TypeError: Object doesn't support property or method 'indexOf'"
Hi I am trying to use this file. It works perfectly on all browsers except for IE
if i display the error message i get
TypeError: Object doesn't support property or method 'indexOf'

I am using like:
            bucket.putObject(params, function (err, data) {
              console.log('data inside function: ' + data);
              console.log('err inside function: ' + err);
              .......

[2015-02-03 10:27] ramonck opened #492 "Https CloudFront + AWS Lambda JS"
Hello,

I have the following scenario, wondering what's the security for a "user/password" authentication utilizing Lambda using only aws-sdk-js, what are the best practices?

![image](https://cloud.githubusercontent.com/assets/5229948/6018471/261e1b7c-ab7e-11e4-9e43-ae0f497ac0ae.png)

Best Regards

[2015-02-03 17:43] AdityaManohar commented on #491
Which version of IE are you using? The SDK works on IE 10+.

[2015-02-03 20:36] AdityaManohar commented on #492
@ramonck can you help me understand where you want to authenticate users? Would you also be able to elaborate a little on your scenario?

[2015-02-03 21:17] manzanofab commented on #491
Hi Thank you so much for prompt reply, I am using IE 11. I dont understand why, I have also try IE in different computers with the same outcome.
This is a bigger portion of my code

This morning I got a new error, not sure if it is because before I was usingan older version of the sdk
addEventLIstener
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.8.min.js"></script>
    <script type="t

[2015-02-03 21:18] manzanofab commented on #491
![amazon-upload-issue](https://cloud.githubusercontent.com/assets/2888146/6029688/03e48c9c-ac3e-11e4-82db-0fda1c7a1028.jpg)

[2015-02-03 21:24] AdityaManohar commented on #491
Are you using some version of `sarissa.js` (possibly through Salesforce) in your application?

[2015-02-04 00:42] manzanofab commented on #491
Hi Thank you so much for your prompt reply, I am sorry i just realised that it didnt  copy all my code
yes I am using t in a Visualforce page
the current version that I am using is "sdk.amazonaws.com/js/aws-sdk-2.1.8.min.js"
on firebug I wasnt able to find sarissa.js in the find tool

![vfpage-request](https://cloud.githubusercontent.com/assets/2888146/6032897/803340ce-ac5a-11e4-8d40-86ef48cf64ab.

[2015-02-04 00:45] manzanofab commented on #491
So this means that I cant use aws-sdk-2.1.8.min.js in visualforce? or is there a work around ?
Actually (not sure if already mentioned but) this visualforce page works fine in chrome and in firefox

[2015-02-04 00:49] AdityaManohar commented on #491
Salesforce/VisualForce seems to be replacing the native `XMLHttpRequest` object only on IE browsers.

Can you inspect the `XMLHttpRequest` on IE?

The workaround is to cache a reference of the modified `XMLHttpRequest` object, and restore the native `XMLHttpRequest` object before using the AWS SDK.

[2015-02-04 02:12] manzanofab commented on #491
HI Thank you so much for the prompt response.
I am sorry I know that this will be out of topic, but I am not familiar with XMLHttpRequest, from google I understand that this are the headers of the page?
![xml request](https://cloud.githubusercontent.com/assets/2888146/6033858/f4588e12-ac66-11e4-8f21-43c2fe41930d.jpg)
this is what  get in the console tool network tab

Thank you so much

[2015-02-04 02:23] AdityaManohar commented on #491
In IE you can `console.log(XMLHttpRequest)` to inspect it.

[2015-02-04 02:42] manzanofab commented on #491
Hi

thank you very much for that, this is the result when calling it from a onload:
window.onload=function(){
is the following:

function() {
    if (!_SARISSA_XMLHTTP_PROGID) {
        _SARISSA_XMLHTTP_PROGID = Sarissa.pickRecentProgID(["Msxml2.XMLHTTP.6.0", "MSXML2.XMLHTTP.3.0", "MSXML2.XMLHTTP", "Microsoft.XMLHTTP"]);
    }
    return new ActiveXObject(_SARISSA_XMLHTTP_PROGID);
}
![xmlrequest1]

[2015-02-04 02:42] manzanofab commented on #491
again thank you so much for the help

[2015-02-04 02:53] AdityaManohar commented on #491
@manzanofab anytime!

You don't need to call `console.log(XMLHttpRequest)` on `window.onload`. You can simply type it into your console and it should print out the object

You will need to restore the native `XMLHttpRequest` only in IE, something to the effect of:
[code]
This will work provided this function block is sequentially executing.

[2015-02-04 04:28] manzanofab commented on #491
Thank you so much, that works perfectly!!!!!

[2015-02-04 04:28] #491 closed

[2015-02-04 04:30] AdityaManohar commented on #491
@manzanofab Glad you got it to work!

[2015-02-04 11:09] ramonck commented on #492
Hi Aditya,

So I'm building a scenario to authenticate a user directly on a HTML page utilizing aws-sdk-js.

I'm worried about the security implications of this scenario. I've drawed it so you can understand ir better.

![image](https://cloud.githubusercontent.com/assets/5229948/6039364/67bb9ca6-ac4d-11e4-8d9e-433e4d904d7c.png)

I want to know what are the best practices and what are the security

[2015-02-04 14:45] piuccio opened #493 "Cannot read property 'removeAllListeners' of undefined"
Hi, I'm using this [grunt plugin](https://github.com/guardian/grunt-frequency-graph) to upload a file to an S3 bucket.

The AWS logic is in [aws.js](https://github.com/guardian/grunt-frequency-graph/blob/master/tasks/lib/aws.js).

It works fine on my machine, but when I try to use it on [TeamCity](https://www.jetbrains.com/teamcity/) I get this error.

[code]

Looking at the stack trace, this seem

[2015-02-04 16:59] piuccio commented on #493
I figured out what's causing the error. Somewhere the following exception is thrown

[code]

[2015-02-04 17:05] lsegal commented on #493
Looks like you don't have a shared credentials file, which is required by that plugin. I'm not sure why they are only checking environment and shared credentials-- you may want to open an issue with that project to simply use the default credentials provider which already checks in these locations. Until then, you can follow the [Getting Started Guide](http://docs.aws.amazon.com/AWSJavaScriptSDK/g

[2015-02-04 17:18] piuccio commented on #493
:grin: I'm the author of that plugin. Honestly I didn't understand the documentation, how to use the default credentials provider. A snippet of code would have helped. I'll try to change that

Anyway the question is why on my machine I get a nice error message while on CI the message is hard to understand.

TeamCity is using node 0.10.24
Local machine uses 0.10.35

[2015-02-04 17:24] lsegal commented on #493
@piuccio the default provider is just that-- the default. You don't need any special code to get the default provider, simply start calling AWS operations and it will look for configuration. This is described in the guide linked above.

As for the difference in error messages, perhaps this is more relevant to TeamCity? I've never used the tool, so I'm not sure if there is something related to its

[2015-02-04 17:52] piuccio commented on #493
@lsegal off topic, how do i specify a different file for credentials using the default config?

Anyway, it's not related to the node version. The error `Cannot read property 'removeAllListeners' of undefined` happens when `validate` fails, the `Body` is a Buffer and the stream is chunked.

You can reproduce
* clone this repo https://github.com/guardian/frontend.git
* checkout branch `debug-frequen

[2015-02-04 18:01] lsegal commented on #493
See [AWS.SharedIniFileCredentials](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SharedIniFileCredentials.html) documentation for information on how to specify a different file, but ideally you should not need to provide a different name. The reason the file is called a "shared" credentials file is because the file is shared among the CLI and all other SDKs when grabbing configuration. By

[2015-02-04 18:32] piuccio commented on #493
oh sorry, any version is fine

[2015-02-04 19:30] AdityaManohar commented on #492
@ramonck From what I understand, you are trying to authenticate the SDK in the browser. There are a couple of ways to do this:

1. The recommended way to authenticate the SDK in the browser is to use [Amazon Cognito](http://aws.amazon.com/cognito/). Our developer guide describes how to [authenticate users using Cognito](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-configuring.html#Usi

[2015-02-04 22:04] AdityaManohar commented on #483
I'm closing this out since there hasn't been any recent correspondence and the issue cannot be reproduced. Feel free to reopen this issue or open another issue if the problem still persists.

[2015-02-04 22:04] #483 closed

[2015-02-04 23:22] ramonck commented on #492
Hi Aditya,

Thanks for the feedback, yes you nailed it. I never thought about using Cognito, always had in mind as being a game api, it sure fits like a glove in my solution puzzle.
 Found this post on utilizing the AWS-SDK-JS API
http://mobile.awsblog.com/post/TxBVEDL5Z8JKAC/Use-Amazon-Cognito-in-your-website-for-simple-AWS-authentication

[code]

Wanted to know now how do I pass in the username

[2015-02-05 00:08] AdityaManohar commented on #492
Are you referring to the username and password of the provider or access key-secret access key combination?

[2015-02-05 09:51] ramonck commented on #492
I just want a simple login and password with Cognito authentication scenario, how do I do it in JS API?

[2015-02-05 10:08] ramonck commented on #492
I've seen in some tutorials that I can send them to login at Facebook and when they comeback Cognito will fetch the identity, does it work like that or do I have to send the user to login to facebook through a special Cognito API on the JS SDK?

[2015-02-05 14:51] jhford opened #495 "I probably shouldn't be able to submit a spot instance request with a SpotBid of $NaN"
While developing an application which uses this sdk, I accidentally was generating spot bids that were not numbers (0.040.050.04 / 3).  The SDK didn't catch this error and the request succeeded, but the EC2 management console showed $Nan as the price.  Sadly there's a bug in Firefox which cased my screenshots to be all black, so I can't attach them.

There should probably be something in either th

[2015-02-05 19:24] AdityaManohar commented on #492
1. You will have to register your application with a 3rd party provider. Amazon Cognito currently supports Facebook, Google, and Login with Amazon.
2. Use the provider SDK to authenticate users with their username and password. You will have to refer to the provider documentation to see how to do this. Here is the documentation for the [Facebook](https://developers.facebook.com/docs/facebook-login

[2015-02-05 20:48] AdityaManohar commented on #495
Which version of the SDK are you using? I tried the following and it doesn't go through (which is expected). I'm using SDK v2.1.8 and Node v0.10.35

[code]
Here is the error:
[code]

[2015-02-05 21:58] arbitrarytech commented on #488
@lsegal Thanks for the info! I have started mocking out the calls to the SDK that I am using and it is very successful so far. I now have functional mocks of an SQS queue as well as some of the EC2 calls I am making. In each of my mocks I now basically have something like this:
[code]
With this, I get the the validation you guys provide in the SDK and I can mock the backend behavior myself. If it

[2015-02-05 22:06] oldshuren opened #496 "queue missing from SQS HTTP Request's URL PATH"
The Amazon document http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequests_MakingQueryRequestsArticle.html says for SQS the queue should be the resource (PATH) of the request URL, for example,

http://sqs.us-east-1.amazonaws.com/123456789012/queue1?Action=SendMessage&MessageBody=Your%20Message%20Text​&Version=2012-11-05​&AUTHPARAMS

But in the current javascript i

[2015-02-05 22:07] oldshuren commented on #496
The current javascript implementation is using POST, not GET. But the problem is the same. No queue in the URL PATH, only QueueUrl in parameters.

[2015-02-05 22:12] oldshuren commented on #496
My solution is add one line in lib/services/sqs.js to set the http request path, but I'm not sure it is the right solution.

[code]

[2015-02-05 22:31] AdityaManohar commented on #496
Which version of the SDK are you using? I'm not able to reproduce an error with SDK v2.1.8 and Node.js v0.10.35

[code]
Note that the parameters are derived from the [SQS service model](https://github.com/aws/aws-sdk-js/blob/master/apis/sqs-2012-11-05.min.json#L387) and are not hand maintained.

[2015-02-05 22:51] oldshuren commented on #496
Both npm install aws-sdk and github version have the problem.

The aws server won't complain, only when you talk to CMB server or use wireshark to capture the packet  you'll see it.

And Java SDK version is correctly set the queue as URL PATH.

[2015-02-05 23:24] lsegal commented on #496
Can you explain what you mean by this? Passing the QueueURL as a parameter in the body is supported by SQS, and should be supported by any SQS-compatible API implementation. Many of our other SDKs use this mechanism as well.

[2015-02-05 23:35] AdityaManohar commented on #496
The `buildEndpoint()` handler correctly set the region from the `QueueUrl`. I just confirmed this with the AWS CLI as well. There is no queue name in the path.
[code]

Can you explain what you mean by this please?

[2015-02-05 23:51] oldshuren commented on #496
Comcast released an open source implementation of Amazon's SQS and SNS server, here is github link

https://github.com/Comcast/cmb

In Comcast's implementation, if the queue info is missing in the path, the server will return AWS.SimpleQueueService.NonExistentQueue error.

[2015-02-06 00:03] oldshuren commented on #496
The JAVA AWS SDK uses only queue name in path, no QueueUrl in the body. And the Amazon's own document "Making Query Request" http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequests_MakingQueryRequestsArticle.html says the queue name should be in the URL path. And the SQS service wsdl http://queue.amazonaws.com/doc/2012-11-05/QueueService.wsdl doesn't mention QueueU

[2015-02-06 02:19] #493 closed

[2015-02-06 02:23] AdityaManohar commented on #493
@piuccio I was able to reproduce your issue with just a plain `s3.upload()`. The above commit fixes the error reporting issue. It does not fix the lack of credentials in your plugin.

Here is the output when I run `grunt frequency_graph`
[code]
Let me know if this works for you, and feel free to re-open this issue if you continue to experience issues!

[2015-02-06 02:59] AdityaManohar commented on #493
@piuccio Your plugin *also* seems to be working fine and picking up credentials. Since you've specified `profile: 'nextgen'` in `grunt-configs/frequency_graph.js` you will need to set up the same profile in your shared INI credentials file (~/.aws/credentials)

Here is what I was able to replicate using your code (logging credentials in `tasks/lib/aws.js`).
[code]
When I run `grunt frequency_graph

[2015-02-06 07:13] lsegal commented on #496
@oldshuren SQS supports the QueueURL either as the endpoint *or* as the parameter. This isn't documented all that well, but it is supported, and many tools like this SDK and the CLI actually rely on this behavior, so ideally any implementation of this protocol should support this parameter. I would recommend opening an issue against Comcast/cmb to let them know about this behavior.

[2015-02-06 12:05] piuccio commented on #493
Thanks

[2015-02-06 14:35] oldshuren commented on #496
@lsegal I'll open an issue in Comcast/cmb, but aws-sdk should also use its own standard. At least among different languages, such as java and javascript. Now java and javascript use different implementation, it really confuses people.

By the way, I notice another difference between java and javascript implementations. Java will reuse the TCP connection, but javascript will open a new TCP connecti

[2015-02-06 14:54] lsegal commented on #496
This is a detail of Node.js. You can configure your Node.js runtime to use [keepalive connections](https://github.com/node-modules/agentkeepalive) if necessary. Node.js 0.12 (and io.js) is going to provide out-of-the-box support for keepalive connection pooling, which should improve performance.

[2015-02-06 17:07] ramonck commented on #492
Aditya,

You nailed it once again. Thank you very much for all your help, I now continue on being a happy aws-sdk-js user :).
Keep up the great work.
Best Wishes,

[2015-02-06 17:07] #492 closed

[2015-02-06 17:07] oldshuren commented on #496
Thanks!

By the way, I submitted an issue in comcast/cmb.

[2015-02-06 17:39] ramonck opened #498 "Cognito Identity how to keep session on page change (next page)"
Hello,

Wanted to know if I go into another page utilizing the js sdk, utilizing a href, how would I get the current session the user is logged in with cognito? I'm in the next page and I want to keep the session alive from the user that already logged in to Google or Facebook.

Do I have to do the AWS.config.credentials = new AWS.CognitoIdentityCredentials(params); on the next page again? If yes

[2015-02-06 20:35] AdityaManohar commented on #498
Yes, any JavaScript state that you had on your previous page will be lost when you make a synchronous HTTP request.

The AWS SDK however, caches the Cognito `IdentityId` in `localStorage`, so you will be refreshing credentials for the same identity. You will need to pass in the provider auth token when you create the new `CognitoIdentityCredentials` object.

Most provider SDKs will manage the auth

[2015-02-07 00:31] ramonck commented on #498
Thank you Aditya.

[2015-02-07 00:31] #498 closed

[2015-02-07 02:26] ide opened #499 "Add structure to some errors"
Currently there's some important info in errors that needs to be grepped for in the error message. All the info is there but it would be even better if there were more structure. For example this is an error I got back from SNS:

[code]

I can see from the message that the TargetArn is the invalid parameter but currently I have to write a small regex / indexOf check. Something like `err.Info.Inval

[2015-02-07 08:31] AdityaManohar commented on #499
@ide
There is some flexibility in error messages returned by both the SDK and services, and parsing the error message to glean information from it does not scale well because of the variety in error messages.

You can rely on `error.code` across service operations. I'd be interested to know more about how/why you are using this parsed information.

CC: @lsegal

[2015-02-07 08:45] ide commented on #499
@AdityaManohar: here are two examples I've encountered (both with SNS).

One is if you call `sns.createPlatformEndpoint` with a token that has already been registered, you get back an error with the code "InvalidParameter" and the endpoint ARN is part of the error message. To my knowledge, this is the only way to get the endpoint ARN for a single token that you've previously registered. So current

[2015-02-07 10:42] AdityaManohar commented on #499
From the documentation:

If you are using the same token to create a new endpoint on the same application, you should see the `EndpointArn` in your data. I'm not sure why you are getting an error. Is your `Attributes` map identical across requests? Also, it may be a good idea to cache the `EndpointArn` locally.

I was able to create an application and an application endpoint. Multiple `CreatePlatf

[2015-02-07 11:12] Alex0007 opened #500 "TypeError: Cannot read property 'length' of null"
/home/ubuntu/processing/node_modules/aws-sdk/lib/sequential_executor.js:261
        throw err;
              ^
TypeError: Cannot read property 'length' of null
    at Object.AWS.util.buffer.concat (/home/ubuntu/processing/node_modules/aws-sdk/lib/util.js:114:29)
    at Request.HTTP_DONE (/home/ubuntu/processing/node_modules/aws-sdk/lib/event_listeners.js:210:36)
    at Request.callListeners (/home

[2015-02-07 18:30] zain-qubit opened #501 "AWS S3 constructor ignoring passed accessKeyId & secretAccessKey"
I use the S3 constructor in the following way:
`var s3Options = {
accessKeyId: "my key",
secretAccessKey: "my secret",
region: "eu-west-1"
};`
`new AWS.S3(s3Options)`
But it still tries to look for credentials in ~.aws/credentials file.
I was under the impression that passing hardcoded keys would skip the traversal of default credentials provider chain.
I understand passing hardcoded keys is not a

[2015-02-07 18:49] lsegal commented on #501
I can't seem to reproduce this behavior. S3 accepts the keys for me:

[code]

Output:

[code]

[2015-02-07 18:50] lsegal commented on #500
Can you provide the version of Node.js and SDK that you are using?

[2015-02-07 18:54] lsegal commented on #499
Unfortunately having the `InvalidParameter` name specified in the error as a structured response would be no less fragile, because the SDK would have to write the same regex / indexOf check that you are writing, and our code would be just as susceptible to changes in error message content.

I would recommend following @AdityaManohar's advice of getting the correct ARN from a list or describe call

[2015-02-07 19:24] #501 closed

[2015-02-08 19:52] Alex0007 commented on #500
Node.js v0.12.0 stable
Latest SDK from npm

[2015-02-09 07:12] fantapop opened #502 "pass x-amz-meta-* headers to the getPresignedUrl api call"
Is there a way of passing custom headers to getPresignedUrl?  I'd like to pass an id field along with the presigned url so that I can correlate requests to the url with the S3 logs.  I can do this using custom signing code to add the addtional header into the toSign string but the aws-sdk doesn't seem to like this.

[2015-02-09 09:41] lsegal commented on #502
The Metadata parameter allows you to pass `x-amz-meta` headers to a request but note that in addition to signing with these parameters, the client that actually sends the request will have to pass the same values as actual headers. In other words both the URL generator code and client code need to know the headers being sent.

[2015-02-09 16:11] fantapop commented on #502
Yes, that is my understanding. In this case, I'm sending the signed url to
the browser as a redirect so I can add the additional parameter as a query
string item.

On Monday, February 9, 2015, Loren Segal <notifications@github.com> wrote:

[2015-02-09 17:50] AdityaManohar commented on #496
@oldshuren
I'm closing this out as this doesn't seem to be a problem with the SDK. Please feel free to re-open it or open another issue if you have any other questions.

[2015-02-09 17:50] #496 closed

[2015-02-09 18:00] oldshuren commented on #496
@AdityaManohar I think aws-sdk-js should be modified to put queue info in the URL PATH, the QueueUrl can be still used. The reasons are,

1. It is what Amazon's documentation specified. If someone implements a server they will follow the specification, not reverse engining existing code.
2. Different language implementations should use the same protocol on the wire.

For me personally I have to pa

[2015-02-09 18:01] AdityaManohar commented on #495
@jhford
I'm closing this out as the problem is not reproducible, and there hasn't been any recent activity.

FWIW, the SDK does not perform any regular expression or value validation. This error is returned by EC2 itself.

Please feel free to reopen this issue or open another issue if you have any other questions.

[2015-02-09 18:01] #495 closed

[2015-02-09 18:18] lsegal commented on #496
@oldshuren we will reach out to the documentation team to ensure that the SQS docs reflect the current API. Thanks for reporting!

[2015-02-09 20:52] AdityaManohar commented on #500
Would you be able to share some sample code that you are using? I'm unable to reproduce it with the following code:

[code]
Would you also be able to log the output of `AWS.VERSION`?

[2015-02-10 21:50] jasonvasquez opened #504 "Unable to require using browserify"
I'm having an issue any time I attempt to require in aws-sdk with browserify.  Whenever I require aws-sdk in any source file, I receive the following error when I attempt to build with browserify:

    $ NODE_ENV=production browserify . > bundle.js
    Error: ENOTDIR, stat '<....>/aws-sdk-browserify/node_modules/aws-sdk/lib/browser.js/dist-tools/transform.js'
    at Error (native)

I've created an

[2015-02-11 01:49] AdityaManohar commented on #504
@jasonvasquez
Browserify introduced a breaking change in v4.0 which included a module-deps overhaul. This changed the way transformation modules were fetched.

For now you can use  Browserify v3.x, and it should work as expected. I will keep this open to track it when we do consider updating our dependencies.

Thanks for reporting!

[2015-02-11 03:47] gsphanikumar commented on #454
@lsegal  We are not using a proxy but it turned out to be our Ec2 Nat instance capacity issue.

[2015-02-11 18:38] fantapop commented on #502
I tried passing Metadata to the getSignedUrl function but it throws an exception:

uncaughtException: Unexpected key 'Metadata' found in params

[2015-02-11 19:06] lsegal commented on #502
I'm not sure which operation you are calling. You can see an example of the `Metadata` parameter in the [S3.putObject()](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#putObject-property) documentation, but Metadata is not available in all operations. If you're using getObject, for instance, you cannot pass in metadata. See the docs for the relevant operation you are trying to sign

[2015-02-11 21:07] fantapop commented on #502
S3 allows an x-amz-meta-* query param to be passed along with a GET request to a signed url as long as this parameter is signed with the request.  What I'd like to do is use this mechanism to insert an id field  that someone following the signed url cannot remove.

The S3 docs suggest using an x-* query parameter to accomplish this (http://docs.aws.amazon.com/AmazonS3/latest/dev/LogFormat.html#Log

[2015-02-12 03:18] AdityaManohar commented on #502
From the [S3 Object and Metadata documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html)

This clarifies what @lsegal said about only being able to pass metadata with `S3.putObject`. When you are generating a pre-signed URL the metadata will be added as a query string. If you remove it you will get a signature error.

I hope this helps clarify things!

[2015-02-12 04:09] oz-boots opened #505 "JavaScript SDK build on WIndows does not include any AWS service"
Building the SDK on a Windows 8 system with node.js v0.12.0 does not include the AWS services in the output SDK js file.

For further details see https://forums.aws.amazon.com/thread.jspa?threadID=171478&tstart=0

[2015-02-12 07:24] #505 closed

[2015-02-12 07:27] AdityaManohar commented on #505
@oz-boots This should fix the builder on a Windows box. Feel free to reopen this issue if you continue to have problems building, or have any other questions.

Thanks for reporting!

[2015-02-12 08:59] ide commented on #499
We do cache the EndpointArn in a Postgres RDS table but want to handle potential data loss if the table is unavailable or we lose rows for some reason. In this scenario all I have is the device token (don't have the attributes of the endpoint either) so it is possible that my code would try to re-register a device token with different attributes than the ones stored in SNS. I'll keep the little re

[2015-02-12 09:00] #499 closed

[2015-02-12 09:13] lsegal commented on #502
@fantapop there is no *explicit* support for adding arbitrary query strings to a pre-signed URL in the JS SDK, but you can use the request event cycle to add any query string values you want directly to the path. The following will ensure that your generated URL will contain `x-foo=value` and it cannot be removed.

[code]

Note that you must use v4 signing when generating this URL as our S3 signer

[2015-02-12 11:32] AlaRuba opened #508 "SignatureDoesNotMatch: The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method."
Hi,

I saw https://github.com/aws/aws-sdk-js/issues/86 and couldn't figure out how to solve it based off my issue.

I'm getting the same error when I try to upload a file.

I'm trying to POST and GET from my S3 bucket. Here is the html form I'm using
My AWS ID is AKIAIO3FNB3XLQP4AJFA which was created on 2015 Feb 12. I figured that's fine to put out there because it's the public key.
'''
<form act

[2015-02-12 12:56] lsegal commented on #508
I would recommend posting a thread on the [S3 forums](https://forums.aws.amazon.com/forum.jspa?forumID=24) about this issue, as it does not seem to be related to the AWS SDK for JavaScript. The POST object method is not supported by the SDK itself, furthermore it seems as though you are manually generating the signed URL yourself. I would recommend using an SDK to do this, if possible. The S3 foru

[2015-02-12 18:17] stockholmux commented on #500
I am getting a similar error -

[code]
I'm using node 0.12 and the latest SDK.

I'm doing a simpledb request something like this:

[code]

Worked fine on Node 10.30

[2015-02-12 18:18] fantapop commented on #502
sweet. Thats what I'm looking for. Thank you.

On Thu, Feb 12, 2015 at 1:13 AM, Loren Segal <notifications@github.com>
wrote:

[2015-02-12 20:53] AlaRuba commented on #508
Cool. Is this the way you recommend putting stuff into an S3 bucket?
http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-examples.html

[2015-02-12 21:06] lsegal commented on #508
Yes, if you are using the SDK that is the right way to do it and this is the right place for those questions.

[2015-02-12 22:14] AlaRuba commented on #508
I decided to use the SDK. I want to try loading all the things in a bucket. My bucket is empty btw.
[code]
However, I get a Error: Missing credentials in config {message: "Missing credentials in config", code: "SigningError", name: "SigningError".

However, I believe I configured the credentials the right way. I know hardcoding the keys is a no-no but in this case I just need something to work rea

[2015-02-12 22:34] lsegal commented on #508
It looks like you're creating a `config` object but not using it. You would either want to configure the global object or pass the config object to the S3 constructor.

[2015-02-12 22:43] AlaRuba commented on #508
I just tried that and I still get the same error.

I'm passing it like so
[code]

When I do a console.log(err). I see the keys in the credentials. However, my endpoint is null. Is that a cause of the problem.

[2015-02-12 22:44] AlaRuba commented on #508
Oh nevermind. I changed config to config.credentials. Now I'm getting different errors. I'll dig around and a bit before bugging you again.

Thanks so much the help and sorry to bug.

[2015-02-12 23:32] AlaRuba commented on #508
I'm closing this because my issue is solved.

[2015-02-12 23:32] #508 closed

[2015-02-12 23:38] AdityaManohar commented on #500
@stockholmux
I am still unable to replicate this on Node v0.12 stable and SDK v2.1.10

[code]
Can you provide some more information about your environment? Are you running this on an EC2 instance?

[2015-02-13 09:52] AlaRuba opened #509 "Download file using Javascript"
Hi,

I can get the data from my S3 bucket. However, the file is in memory. I'm wondering how to download the file. I don't see any documentation on this.

[code]

Thanks in advance.

[2015-02-13 10:05] lsegal commented on #509
Browsers do not currently allow programmatic access of writing to the filesystem, or at least, not in the way that you would likely want. My recommendation would be to generate a signed url (see [S3.getSignedUrl()](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getSignedUrl-property)) and put that in a HTML link and/or navigate to that URL in an iframe the way that [auto-downloader

[2015-02-13 20:12] miickel opened #510 "AWS.SNS GCM no error but no message delivered"
Hi,

I'm using SNS to send notifications to iOS and Android devices. I've gotten it to play nicely on iOS, but not on Android. :anguished:

I use two Application ARNs, one for iOS and one for Android. I can publish messages to the Android ARN using the AWS dev console, but only when selecting 'Use platform specific JSON message dictionaries'.

This makes me think that the node.js AWS SDK does not

[2015-02-13 22:07] AdityaManohar commented on #510
From what I read in the [SNS Publish documentation](http://docs.aws.amazon.com/sns/latest/APIReference/API_Publish.html), you will need to send a [platform specific payload](http://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html) to mobile devices.

For Android your messsage would need to look like this:
[code]

Let me know if this helps!

[2015-02-14 06:28] fantapop commented on #502
this worked, thanks for the work-around.

On Thu, Feb 12, 2015 at 10:17 AM, Christopher Fitzner <
chrisfitzner@gmail.com> wrote:

[2015-02-14 17:16] stockholmux commented on #500
Here is the system that is causing the issue:
`Ubuntu 14.04.1 LTS (GNU/Linux 3.13.0-37-generic x86_64)` on DigitalOcean, node version `v0.12.0` and aws-sdk package.json shows version `1.6.0`.

I can recreate the issue by running the this script (table names, etc removed)
[code]

This outputs:
[code]

When I execute the same code after switch to Node 0.10.36 (with `nvm use 0.10`) it runs without er

[2015-02-14 17:33] lsegal commented on #500
I can't seem to reproduce this on Node 0.12 either. FWIW you should know that 'us-east' is not an actual region name. I would recommend constructing the client as, simply:

[code]

Note that the endpoint is built based on the region, you don't need to configure it manually. That said, I'm not sure this will change your results. I was unable to reproduce even without changing that line.

[2015-02-14 17:38] lsegal commented on #500
@stockholmux are you sure this is the only code you have in your project? Can you confirm the node/SDK version by logging the following in your script?

[code]

[2015-02-14 18:00] stockholmux commented on #500
Okay - I think I'm squared on this. As mentioned above my aws-sdk version was set at 1.6.0 not the 2.1.10. During debugging I had swapped aws-sdk versions between 1.6.0 and * in package.json trying to isolate the problem - should I have removed the the directory before running `npm install` again to get the latest version. So, with sdk version 2.1.10 it works fine.

[2015-02-15 07:12] blocka commented on #504
Isn't browserify up to v8? I also started having this randomly happen to me. I installed 6tofify, and then I started getting it. Now I can't stop it.

[2015-02-15 08:14] blocka commented on #504
The issue seems to be from a minor update to browser-resolve (1.7.0). I made a fork which uses 1.6.0 and doesn't have the issue (https://github.com/blocka/node-browserify). This is possibly also a bug in node-resolve https://github.com/defunctzombie/node-browser-resolve/pull/54

[2015-02-15 10:56] AdityaManohar commented on #504
@blocka
Thanks for tracking this down to the breaking change in `browser-resolve v1.7.0`. I can confirm that I can get the builder to work with browser-resolve 1.6.0. I was also able to get it to work by locking in
`node-resolve to 1.0.0`.

Referencing substack/node-resolve/issues/69.

[2015-02-16 11:29] miickel commented on #510
@AdityaManohar thanks! That did not work either. However, I got it to work. :pray: First, I had to set `MessageStructure` to `'json'`. Then I formatted the message like this, so that quotes got escaped by stringify:
[code]

[2015-02-16 11:29] #510 closed

[2015-02-16 18:48] AdityaManohar commented on #502
@fantapop
I'm closing this issue since you seem to have it working. Feel free to reopen this issue or another issue if you have any other questions.

[2015-02-16 18:48] #502 closed

[2015-02-16 19:35] jpfranco opened #512 "Unauthenticated multipart upload from the browser"
Is there a way to use ```s3.upload``` from the browser with without specifying a secret key? The use case for this would be uploading to a public bucket. I tried using ```makeUnauthenticatedRequest``` but I'm assuming it fails because ```s3.upload``` returns a ```ManagedUpload``` object instead of a single request. Is it a requirement to use signed requests when using multipart uploads? Thanks

[2015-02-16 19:45] tmcw commented on #484
Fixed upstream in createHmac 1.1.3.

[2015-02-16 19:54] AdityaManohar commented on #500
@Alex0007 @stockholmux
I'm closing this issue as the problem is not reproducible, and the SDK seems to be working with Node.js v0.12 stable. Feel free to reopen this issue or open another issue if you continue to have problems.

[2015-02-16 19:54] #500 closed

[2015-02-16 20:33] AdityaManohar commented on #512
@jpfranco
The `AWS.S3.ManagedUpload` is a convenience wrapper over [`AWS.S3.createMultipartUpload`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#createMultipartUpload-property), [`AWS.S3.uploadPart`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#uploadPart-property), and [`AWS.S3.completeMultipartUpload()`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S

[2015-02-16 21:14] jpfranco commented on #512
Thanks for the info, I will take a look at Amazon Cognito then. I'm a bit curious though, is there  a particular reason why unauthenticated access is not allowed for multipart uploads?

[2015-02-16 21:23] AdityaManohar commented on #512
@jpfranco
Unauthenticated is actually allowed. I misread your initial question and have updated my response above.

I would recommend that you use Amazon Cognito for unauthenticated access. Cognito allows you to configure access using IAM roles at a very granular level. In addition it is also possible to audit identities that users are assigned using Cognito.

[2015-02-16 22:07] jpfranco commented on #512
@AdityaManohar thanks again. So for testing purposes is it possible to make an ```s3.upload``` call without setting my keys like I can when using ```s3.makeUnauthenticatedRequest('putObject')``` on an unrestricted bucket, for example? Sorry about the repeated questions btw.

[2015-02-16 22:23] AdityaManohar commented on #512
@jpfranco
For a test setup you can set `s3.api.signatureVersion = ''`. Note that this would not sign any request made to S3, and would affect all your S3 clients.

Like I mentioned earlier, the other way to do it would be to use a scoped IAM user with hardcoded credentials.

`s3.makeUnauthenticatedRequest()` does not currently work with `s3.upload()` because `s3.upload()` internally makes 3 (somet

[2015-02-16 22:28] jpfranco commented on #512
@AdityaManohar thanks again. I'm trying out clearing the signature version and that makes the ```CredentialsError: Missing credentials in config``` error go away, but I now get this new error:

```AccessDenied: Anonymous users cannot initiate multipart uploads.  Please authenticate.```

 I'm very positive that this bucket is unrestricted because I'm able to do a ```putObject``` without credentials

[2015-02-16 22:40] AdityaManohar commented on #512
@jpfranco
I am able to confirm the error. It seems like you cannot initiate multipart uploads anonymously.

For now you could use Cognito to provide anonymous access. In the meantime, I'll verify this behavior with the Amazon S3 team, just to make sure it's not a configuration issue.

[2015-02-16 23:12] AdityaManohar commented on #484
@tmcw
Thanks for letting us know! I can confirm that `browserify` does work with `crypto-browserify/createHmac v1.1.3`.

I'm going to close this issue out as the problem seems to be resolved. Feel free to reopen this issue or open another issue if you run into any other problems.

And again, thanks for reporting!

[2015-02-16 23:12] #484 closed

[2015-02-17 06:48] odeke-em commented on #509
If doing this in NodeJS or io.js on the server side, this is how I do it.
[code]

[2015-02-17 11:45] polythene1337 opened #513 "Route53 CreateHostedZone specification"
Hi,
This should probably be tagged as feedback as it's only related to the documentation.

The documentation for CreateHostedZone is a bit misleading unless you read the fine print.
The example states:
[code]
But if you continue reading under **Parameters** it says:

The aws-cli documentation does not mention the PrivateZone parameter at all:

Wouldn't it make sense to omit the PrivateZone from th

[2015-02-18 03:03] AdityaManohar commented on #513
@polythene1337

Thanks for reporting this! All of our documentation is auto generated and I will reach out to the Route53 service team to report / clarify this parameter.

[2015-02-18 21:42] jpfranco opened #514 "Inconsistent timeouts when using s3.upload"
Hey guys. I'm not sure if I'm testing this properly, but I just wanted to confirm what the expected behavior should be in this case. I've been noticing that when using ```s3.upload``` the time it takes for the ```NetworkingError: Network Failure``` error to be raised after a connection is dropped is a bit inconsistent. I've set the following config options:

[code]

I'm testing this by starting an

[2015-02-18 22:50] AdityaManohar commented on #514
@jpfranco
Pulling out the network cable doesn't simulate a connection timeout. The SDK will retry the error though because you have configured it to retry once.

If you are using an OSX install you can use the [Network Link Conditioner](https://developer.apple.com/downloads/index.action?q=Network%20Link%20Conditioner#) to simulate a slow connection. There should be other alternatives depending on

[2015-02-18 22:59] jpfranco commented on #514
Thanks. You're right, I'm able to get consistent results with Network Link Conditioner, sorry about that.

[2015-02-18 22:59] #514 closed

[2015-02-18 23:18] AdityaManohar commented on #514
@jpfranco any time!

[2015-02-19 14:57] ei02028 commented on #262
Guys,

I'm trying my luck in this forum. I'm having an issue with Amazon SNS when I try to send a push notification to several devices at the same time.

I've explained my issue here: https://forums.aws.amazon.com/thread.jspa?threadID=171981

Any help?

[2015-02-20 00:16] noah-freitas opened #515 "S3.getObject with VersionId fails in Chrome."
A getObject request against a version enabled S3 bucket with a version ID specified fails in the CORS OPTIONS request in Chrome 40.  If a version id is specified S3 returns 400 Bad Request with the following XML:

[code]

Because of the returned status code, Chrome never issues the GET request.  Interestingly, Safari 7 also makes the OPTIONS request and gets back 400, but seems to ignore the OPTIO

[2015-02-20 00:50] AdityaManohar commented on #515
@noah-freitas
I am able to confirm this behavior. This seems like a problem with Amazon S3 and not an SDK issue since the SDK does conform to the S3 wire protocol spec.

I would recommend opening an issue on the [Amazon S3 Forums](https://forums.aws.amazon.com/forum.jspa?forumID=24). I will also try and follow up with the S3 team on this.

[2015-02-22 23:01] AReallyGoodName commented on #384
OK I have a problem with how this all works. I had the same issue. BUT... I was still getting the ETag back in the header from the remote side if i read the header manually without the Amazon SDK.

Incorrect CORS configuration merely seems to change what the SDK sees. If you do a manual request without the Amazon SDKs uploadPart function you can see the ETag regardless of that particular setting.

[2015-02-22 23:28] lsegal commented on #384
@AReallyGoodName

Amazon S3 is exposing the direct CORS configuration parameters as described by the [CORS specification](http://www.w3.org/TR/cors/), in this case, the `Access-Control-Expose-Headers` option. In other words, it is required because it is part of the CORS specification, and is required there. The CORS spec dictates that any response header not listed in the above "expose headers" ru

[2015-02-23 10:42] mortenlyager commented on #455
@Erve1879 - Can you post a working copy of your code?

[2015-02-23 18:30] Erve1879 commented on #455
@mortenlyager : https://gist.github.com/fbda7c0afed03ae1ef8c.git

[2015-02-23 20:12] AdityaManohar commented on #509
I'm closing this issue out as the question seems to be answered. Feel free to re-open this issue, or open another issue if you have other questions.

[2015-02-23 20:12] #509 closed

[2015-02-23 20:24] AdityaManohar commented on #504
@jasonvasquez @blocka
This is resolved in [node-resolve v1.1.3](https://github.com/substack/node-resolve/tree/1.1.3). I am able to build the SDK as a dependency  with `browserify 8.x`.

Closing this issue since the problem seems to be resolved. Feel free to re-open this issue or open another issue if you continue to have problems building the SDK as a dependency.

[2015-02-23 20:24] #504 closed

[2015-02-23 22:25] AnonymousOpposum opened #516 "Config Encapsulation"
I'm building a service that allows users to interact with the Amazon Cloud through a GUI. It's being built as SaaS in Node.js. With out of the box Node.js architecture, every user session would use the same Node.js thread on the app server. Currently, the AWS SDK Node.js module returns a singleton namespace. So, every user session uses the same instance of the AWS SDK in the thread.

This means th

[2015-02-23 22:48] AnonymousOpposum commented on #516
Ah, wait. I think I found what I'm looking for [here](https://github.com/aws/aws-sdk-js/blob/master/doc-src/guide/node-configuring.md)

I'll come back and close once I've done a little testing.

[2015-02-23 22:49] AnonymousOpposum commented on #516
Is it possible to decouple the config object of each service class from the global config object? I would like it if it were possible to make sure there were absolutely no way config settings leak from one user session to another.

[2015-02-23 23:24] lsegal commented on #516
Can you clarify if you're allowing users to execute arbitrary code in this process? If not, you can guarantee that no global config ever comes through by wiping out the global object before constructing any client:

[code]

[2015-02-24 00:12] AnonymousOpposum commented on #516
Regarding arbitrary code, what users can and can not run, I'm creating one use interface element in my GUI for each method in the Node.js AWS API. After the user logs into my app, they can interact with the GUI, triggering calls to a restful interface on my server, bound to a wrapper of aws-sdk-js.

The wrapper provides the same interface as the clients in the aws-sdk namespace, but is chainable,

[2015-02-24 00:31] lsegal commented on #516
FYI another option would be to use [Object.defineProperty](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/defineProperty) to define a non-writable constant to `AWS.config` such that you could never accidentally re-write the object unless you tried really hard:

[code]

That way you wouldn't need to explicitly clobber it at each call and you could ensure tha

[2015-02-24 00:37] AnonymousOpposum commented on #516
Oh, wow. `Object.defineRroperty` is a beautiful, beautiful thing! Thank you; I'll try that.

[2015-02-24 03:16] AnonymousOpposum commented on #516
Using `Object.defineProperty` does the trick. Thank you!

[2015-02-24 05:30] denodaeus commented on #435
This was a really really super annoying issue for me to track down before reading this, and I echo @mateneine, if you guys can just fix it without having to do work arounds and search for things broken, that would be awesome.  The problem is when starting a new project, I have no clue that because I'm using the latest and greatest, one of the dependencies for aws-sdk is broken when bundling as an

[2015-02-24 07:39] blocka commented on #504
Confirmed as well

[2015-02-24 17:32] piuccio opened #517 "More parameters for filtering listObjects"
Filtering [listObject](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#listObjects-property) can only be done with `Prefix`.

Would it be possible to add something like
`Since` -> all objects modified since that data
`Reverse` -> list 1000 items starting from the bottom

In my bucket I have objects like this
[code]
and I have multiple objects with the same date but different time, c

[2015-02-25 07:53] RavikiranDasari opened #518 "Send Message to SNS Topic"
Hello,

I am trying to send a message to SNS topic in webMethods 8.2. I am using the AWS SDK to generate the signature. I have passed the correct Access and Secret Keys and used the method called "Publish".

Unfortunately I am getting the below error-
"<Code>SignatureDoesNotMatch</Code>
    <Message>The request signature we calculated does not match the signature you provided. Check your AWS Secre

[2015-02-25 07:59] RavikiranDasari commented on #518
Sorry, Correction in my post.

Signature Methode - HmacSHA256
Action = Publish

[2015-02-25 10:06] yamsellem commented on #26
Using `https-proxy-agent` worked for me.

[code]

[2015-02-25 13:05] AnonymousOpposum commented on #516
After looking a little closer, it seems clobbering `AWS.config` isn't isolating the config data for different client instances afterall.

Here are the steps to reproduce:

 1. ) Create two AWS accounts, Account A and Account B
 2. ) Put the credentials for Account A in your `~/.aws/credentials` file under `[default]`
 3. ) Put the credentials for Account B in your project's root directory, `repo/a

[2015-02-25 13:31] AnonymousOpposum commented on #516
I can see that credentials aren't meant to be passed directly to `AWS.EC2`. I wonder where credentials can be passed to make sure a call to  `new AWS.EC2()` knows to use them.

[2015-02-25 14:02] AnonymousOpposum commented on #516
I tried using [this Gist][1] in `repo/index.js`, instead. The difference being I use `AWS.Credentials( accountB )` to generate credentials that are then assigned to `new AWS.EC2( region ).config.credentials`

Repeating Steps 7 and 8 above with that gist returns an `AWS was not able to validate the provided access credentials` error.

So, so close now, I think. I wonder what I'm missing.

  [1]: ht

[2015-02-25 14:15] AnonymousOpposum commented on #516
We were prepending `aws` on all the keys in `accountB` ( So, `accountB.accessKeyId ` was actually found on `accountB.awsAccessKeyId ` )... No longer doing that, everything works fine now.

 ...time for a cup of coffee and a good cry. Lol

Sorry about that.

[2015-02-25 14:15] #516 closed

[2015-02-25 20:15] AdityaManohar commented on #517
@piuccio
You can you a combination of `Prefix` and `Marker` to filter your keys. Only keys that are lexicographically after the `Marker` will be listed Here are some examples:

[code]
The S3 API documentation describes this in further detail: [ListObjects](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html).

If you want something even more sophisticated, then you can also use [JMES

[2015-02-25 20:36] AdityaManohar commented on #518
Which version of the SDK are you using? Also which version of Node.js is this server running? Can you provide some sample code that you are using?

My initial guess would be the time on your server is not correctly synchronized.

[2015-02-26 07:02] odeke-em commented on #517
Thank you @AdityaManohar, to build upon your response, don't forget to use some sort of pagination since @piuccio you say you have > 1K objects.
The response returns values  of interest
[code]
If `IsTruncated` is set, repeat almost the previous query performed except this time set `Marker` to the value retrieved from `NextMarker`.

I could be wrong so feel free to educate me.

[2015-02-26 22:39] demisx opened #519 "Update README to include bower install instructions"
Currently, it appears that bower is not one of the supported methods of installation.

[2015-03-02 16:59] john-aws commented on #178
Hi, is there any way to get httpUploadProgress events in the browser if you call putObject via makeUnauthenticatedRequest? If I add .on('httpUploadProgress', f) then I see "TypeError: undefined is not a function", for example:

[code]

[2015-03-02 20:40] #519 closed

[2015-03-02 20:46] AdityaManohar commented on #519
@demisx
Bower installation instructions have been added to the [README](https://github.com/aws/aws-sdk-js/blob/master/README.md) as well as the [developer guide](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-intro.html). The changes to the developer guide will go out with our next release.

Thanks for reporting!

[2015-03-03 16:03] polythene1337 opened #521 "S3.getObject fails with version 2.1.13 & 2.1.14"
Hi,

We just found an issue with aws-sdk version 2.1.14 & 2.1.13.
We do a simple s3.getObject and what happens is that the process starts consuming 100% CPU and eventually all available memory. Running the same script with 2.1.12 works as expected though.
We had the same behaviour locally on Mac OSx as on EC2 (Amazon Linux).
Not sure what's actually happening and we're kind of stressed to fix the

[2015-03-05 18:51] AdityaManohar commented on #512
@jpfranco
I just confirmed that multipart uploads do not work with unauthenticated requests. I'm closing this issue out since you already have a workaround. Feel free to open this issue or another issue if you have any other questions.

[2015-03-05 18:51] #512 closed

[2015-03-05 18:56] AdityaManohar commented on #513
@polythene1337
I'm closing this issue out because the documentation needs to be fixed upstream by the Route53 team. I would recommend opening an issue on the [Amazon Route53](https://forums.aws.amazon.com/forum.jspa?forumID=87) forums.

Feel free to reopen this issue, or open another issue if you have other questions.

[2015-03-05 18:56] #513 closed

[2015-03-05 18:58] AdityaManohar commented on #515
@noah-freitas
I'm closing this out since it is not an SDK issue and needs to be fixed upstream by the Amazon S3 team.

Feel free to reopen this issue or open another issue if you have other questions.

[2015-03-05 18:58] #515 closed

[2015-03-05 19:01] AdityaManohar commented on #517
Closing this issue since there are a couple of solutions suggested. Feel free to reopen this issue if you have other questions.

[2015-03-05 19:01] #517 closed

[2015-03-05 20:38] blzabub opened #522 "AWS object has no Glacier component?"
I'm working with the browser sdk, trying to interact with Glacier, just trying to instantiate a Glacier service interface object per the documentation:

[code]
Getting the following error:

[code]

In the Chrome console:

[code]

[2015-03-05 21:29] lsegal commented on #522
The hosted version of the SDK is only built to support services that work with [CORS](http://www.w3.org/TR/cors/). This list of services is documented in the [browser guide](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-services.html) and does not include Glacier. You can [build your own version](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-building.html) of the SDK with G

[2015-03-05 21:33] blzabub commented on #522
Ah yes, I did see that list of 11 services which does not include Glacier, but when I saw Glacier in the javascript documentation I thought otherwise. Thanks for the explanation.

[2015-03-05 21:38] lsegal commented on #522
I am going to mark this as closed, but feel free to open new ones if you do end up generating a client with Glacier and run into any issues!

[2015-03-05 21:38] #522 closed

[2015-03-05 21:44] blzabub commented on #522
Thanks @lsegal, am going to consider implementing an S3 client instead and just moving files from S3 to Glacier, or maybe send chunks to my web host and have the host send the chunk to Glacier and then delete the chunk on success. My web host has about 20GB total storage and these archives I'm moving are hundreds of GB in size. Cheers!

[2015-03-05 23:55] lsegal commented on #521
@polythene1337 thanks for reporting this! We're working on a fix right now and will have a patch release out shortly for this regression.

[2015-03-06 00:00] #521 closed

[2015-03-06 00:00] AdityaManohar commented on #521
@polythene1337
This fix is out in master. I will cut a patch release shortly.

[2015-03-06 00:19] AdityaManohar commented on #521
@polythene1337
I just pushed a release. You can now use `v2.1.16` from `npm`. Let me know if this fixes the issue for you.

Thanks again for reporting!

[2015-03-06 01:57] trozware commented on #521
When using Lambda, what do I have to specify to get this new version?
I was using

    var s3 = new aws.S3({
    	apiVersion: '2006-03-01'
    });

and then tried:

    var s3 = new aws.S3({
    	apiVersion: '2014-11-11'
    });

But both fail at s3.getObject for any large files.

Or is this the line I need to change?

    var aws = require('aws-sdk');

Regards,
Sarah

[2015-03-06 02:01] AdityaManohar commented on #521
@trozware
You'll have to update to the latest version of the SDK:
[code]
Let me know if this helps.

[2015-03-06 02:04] trozware commented on #521
My script is a Lambda script running on the AWS servers, using the AWS-SDK installed there.
How can I get that updated?

[2015-03-06 02:19] AdityaManohar commented on #521
Unfortunately there is no way to force an update of the SDK in the Lambda environment. You can open an open an issue on the [AWS Lambda Forums](https://forums.aws.amazon.com/forum.jspa?forumID=186) and let them know about it. I will also try to talk to the Lambda team internally.

In the meantime you can also upload a bundle containing the SDK and its dependencies. Doing this will `require` your l

[2015-03-06 02:22] trozware commented on #521
Thanks very much.
I got here from the Lambda forums, so this is already an issue there, but I will add to the topic.

Meanwhile I will experiment with creating and uploading a bundle.

[2015-03-06 04:28] trozware commented on #521
And for anyone else waiting for the fix, here is the response I got on the forum:

"We're working to deploy the corrected JavaScript SDK in AWS Lambda now. I'll update this thread again by 9pm Pacific Time on progress. Apologies for the problems this is causing our users."

Posted on: Mar 5, 2015 6:58 PM

[2015-03-06 09:32] AdityaManohar commented on #518
I'm going to mark this as closed since there hasn't been any recent activity. Feel free to reopen this issue or another issue if you continue to run into problems.

[2015-03-06 09:32] #518 closed

[2015-03-06 13:03] alessioalex opened #524 "SES example?"
I find the documentation really weird, I would have expected it to be in the Github wiki really. That's how 90% of the projects do it from what I've seen (just my opinion).

The fact of the matter is that I could not find a simple SES example unfortunately. Can you point me in the right direction? I would prefer a code sample and not an API link. Thanks!

[2015-03-06 13:38] LinusU opened #525 "S3.upload with buffer larger than 5 MB"
I seem to get this error whenever I try to `.upload` a buffer that is larger than 5 MB.

[code]

Here is my call to `S3.upload`:

[code]

It seems like there is a problem when S3 is deciding to use the multipart upload instead of regular one. For some reason the multipart-id isn't passed on the the function that actually uploads the parts.

[2015-03-06 17:24] e-gineer opened #526 "S3.createBucket with LocationContraint: '' fails"
Creating an S3 bucket while setting the LocationConstraint to an empty string fails, but should work as a valid setting for US Standard according to the documentation at:
* http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#createBucket-property
* http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUT.html

The workaround is simple enough (just remove LocationConstraint when work

[2015-03-06 19:10] lsegal commented on #526
I can confirm this behavior. This documentation comes from the S3 documentation for [PUT Bucket](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUT.html). It looks like the documentation there might be incorrect, I'll follow up with the S3 team to make sure.

[2015-03-06 19:18] lsegal commented on #524
What kind of examples are you looking for? If just you're looking to send mail, you can look at the example for [AWS.SES.sendEmail()](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SES.html#sendEmail-property) which is part of the API documentation. Each operation includes sample code at the API level, which should help you get started. If you're looking for a higher level overview of how

[2015-03-06 19:18] e-gineer commented on #526
Thanks for the quick confirmation! I've moved forward with the workaround, so please close this issue when you consider it complete from the AWS side.

[2015-03-06 19:19] lsegal commented on #525
@LinusU can you provide more details about your use case?

* What version of the SDK are you using (`AWS.VERSION` should tell you)?
* What environment is this in (Node.js, browser, etc.)?

[2015-03-06 20:31] LinusU commented on #525
AWS version `2.1.16` running in Node.js `v0.12.0`.

[2015-03-06 21:08] AdityaManohar commented on #525
I am unable to replicate the issue with SDK version `2.1.16` on Node.js `v0.12.0 stable` on OS X `10.9`.

[code]
Would you be able to provide details about your operating system?

[2015-03-06 21:42] lsegal commented on #525
@LinusU where is `theLargeBuffer` coming from? Can you provide details on that as well?

[2015-03-07 00:00] AdityaManohar commented on #521
@trozware
Lambda seems to have upgraded the AWS SDK version to `v2.1.16`. You should be able to use the latest version of the SDK in Lambda now.

[2015-03-07 00:42] trozware commented on #521
@AdityaManohar Thanks for your help, it all appears to be working correctly now.

[2015-03-07 00:44] polythene1337 commented on #521
I've tested with 2.1.16 and it works like a charm. Thanks for fixing the
issue so fast as always :)

On Saturday, March 7, 2015, Aditya Manohar <notifications@github.com> wrote:

[2015-03-07 01:21] AdityaManohar commented on #521
@polythene1337 and @trozware
I'm glad you got it working. Thanks again for reporting!

[2015-03-09 03:17] alexpearce92 commented on #232
@msafi

What is the "file" that you are referring to in:

.putObject({
  Bucket: bucketName,
  Key: file.key,
  Body: file.body,
  ContentType: file.type,
  ACL: file.acl,
  Metadata: { 'foobar': JSON.stringify(file.metadata) }
})

[2015-03-09 03:22] msafi commented on #232
@alexpearce92 it is just a simple JS object

[2015-03-09 03:28] alexpearce92 commented on #232
@msafi
Thanks for the quick reply.
I am trying to replicate what you explained above by exposing one of my meta headers, x-amz-meta-type. I successfully exposed it in my CORS and am currently trying to implement the above code. However, I'm at a loss as to what I try to JSON.stringify(). Here is my current setup:

[code]
If you could give me any input I would greatly appreciate it.

[2015-03-09 03:34] msafi commented on #232
@alexpearce92 It looks to me that you're specifying the file meta-data in the AWS.S3 constructor configurations. As far as I understand, meta-data is per file, so you wanna specify it in your putObject request.

[2015-03-09 03:55] alexpearce92 commented on #232
@msafi
I guess I may be going about this the wrong way then. My goal is to read the x-amz-meta-type of each file in an s3 folder in order to organize them by the returned meta-type, which will be accomplished by looping through all of the files and performing a putObject.
I was attempting to retrieve the value of meta-type in a url so that I could substring the value out of the url and organize my

[2015-03-09 04:06] alexpearce92 commented on #232
Answered my own question. I was able to get it to work by switching to putObject:

[code]
Thanks for the help @msafi

[2015-03-09 04:16] lsegal commented on #232
@alexpearce92 you should not be using `getObject()` if you just want to access metadata. Use `headObject()` instead. Your data will be in the `Metadata` property of the response.

[2015-03-09 06:31] shooding commented on #468
It will work.
My application server generates pre-signed url for each uploadPart.
Client can upload parts to pre-signed urls and each of them will response ETag.
The tricky part is that Content-Type is not required (or say should not exists) in UploadPart requests,
which is different from PutObject (If you have tried low-level REST PutObject to presigned url, you will know what i'm saying).
Otherw

[2015-03-09 10:34] LinusU commented on #525
I'm so sorry, I didn't realise that this just happens locally where we are using `fake-s3`. The issue really is with the `fake-s3` project.

Again, terribly sorry for wasting your time.

[2015-03-09 10:34] #525 closed

[2015-03-09 20:50] evansolomon opened #527 "InvalidSignatureException: Signature expired"
First, I know there have been several similar issues in the past.  I've tried to read through them all but they all seem to be either for issues that are closed or for different problems.

I have a bunch of apps that run on AWS + Docker and at some point will randomly start throwing these errors.  I think the error usually comes up when I haven't worked on the app for a couple days, so the "expira

[2015-03-10 06:20] odeke-em commented on #527
Just curious are you able to synchronize your NTP server/clock with AWS' ? Several months ago, I encountered this error a couple of times, when creating signatures on my local machine. Hopefully this doc will be relevant: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html

[2015-03-10 06:47] evansolomon commented on #527
I've looked into the clock thing before but don't think that's it.  In the stack trace above, the date is off by like 48 hours, so that would be a **lot** of clock skew.

[2015-03-10 07:08] lsegal commented on #527
@evansolomon I'm not sure why clock skew would be ruled out, it seems to coincide precisely with your usage pattern described above:

If Docker images only resync NTP when they are re-activated through commands and they have not been activated in multiple days, that would explain the skew pretty accurately. The SDK definitely relies on "current system time" when making requests, so it needs to be

[2015-03-10 07:15] evansolomon commented on #527
I have tried running `date` in the past when it's happened and always had correct results.  I've also rebuilt the docker image without cache and had the same problem.

I don't know how the internals of docker image clocks work, but I just took a couple of old (and not recently used) docker images on my machine and ran `docker run old-image-name date` for each one.  They all came out with correct.

[2015-03-10 16:27] ottopoika opened #528 "SQS Inaccessible host"
For some reason sqs fails time to time with error message:
Inaccessible host: `sqs.eu-west-1.amazonaws.com'. This service may not be available in the `eu-west-1' region.

This is weird because the script starts fine and gets messages correctly but after 1 or 2 days it throws  the mentioned message.

[2015-03-10 18:15] AdityaManohar commented on #527
@evansolomon
Circling back to the error stack, it looks like the skew is actually **5 min** and not **48 hours**. Would you be able to re-run the date command on your Docker image and let me know what you find?

Do you also encounter the error when you run the same code outside your Docker image?

Alternatively, would you be able to share your Docker image? This would help debug the issue.

[2015-03-10 18:25] evansolomon commented on #527
I assume you mean this line

[code]

I parsed that as March 7, 2015 19:47 is earlier than March 9, 2015 20:40.  I don't really know what the 5 minute thing on the end means, I was thinking maybe that was the threshold.

Just tried again on an image I haven't used since yesterday and got "Tue Mar 10 18:22:48 UTC 2015" (which is correct at the time I'm writing this).

I'm not sure.  Our workflow is

[2015-03-10 21:08] AdityaManohar commented on #459
@andrewrk
I just ran this sample on an Ubuntu install and I'm still not able to reproduce the error (SDK `v2.1.16`).

[code]
Is there any other information that you can provide that can help reproduce your issue?

[2015-03-11 01:19] AdityaManohar commented on #528
This error is thrown when the SDK encounters a lower level `ENOTFOUND ` error. This is usually because of a transient network or DNS issue.

Would you be able to verify network / DNS connectivity of the environment running your code? I'd be interested to know what you find.

Hope this helps!

[2015-03-11 22:13] mick commented on #528
I have got this error to on a few requests to DynamoDB, from an several EC2s in the same region.

[code]

Since this seems caused by intermittent DNS request failures, shouldnt this error be `retryable:true`? https://github.com/aws/aws-sdk-js/blob/master/lib/event_listeners.js#L362

cc @lsegal

[2015-03-11 22:20] lsegal commented on #528
That's a fair point, regarding retryability. The primary intention of this error is to deal with clients that are incorrectly configured to talk to services in regions that they are not available on (as displayed in the message), in those cases retrying would be wasteful. We could probably toggle retryable on for this class of errors without a significant behavioral difference for those users if i

[2015-03-11 22:23] lsegal commented on #528
FWIW you should be able to use the following global event in the meantime to make this class of errors retryable:

[code]

I haven't tested this myself, so let me know if it does not work.

[2015-03-11 22:24] mick commented on #528
@lsegal great thanks. I'll try out. In the meantime sent an PR for the change #529

[2015-03-11 22:28] lsegal commented on #528
@mick thanks, we'll do some testing to make sure there's no unwanted impact but otherwise I don't see a problem with taking that change.

[2015-03-12 16:04] JacobEvelyn opened #531 "Missing required key 'Bucket' in params"
I haven't been able to pin down when this issue happens, but I've got code (in the browser) looking something like this:

[code]

I receive `Missing required key 'Bucket' in params` errors in the console when this code runs. The strange thing is, the files save to S3 successfully, and the `params` that I log do indeed include the `Bucket` argument.

What's going on? I have very similar code on oth

[2015-03-12 18:04] aseemk commented on #231
(Hat-tip to my colleague @chanadian for finding this.)

It'd be great if you guys could mention this lack of feature in the docs, and link to this module and/or issue. Thanks folks!

[2015-03-12 23:55] AdityaManohar commented on #531
@JacobEvelyn
What is the size of the file you are uploading? Also which version of the SDK are you using? This information will help debug the issue.

[2015-03-13 14:19] JacobEvelyn commented on #531
That page handles fairly small files—60 KB for one I'm seeing it on. I'm using version 2.1.15.

Is there particular network information you're looking for? I'm seeing:

Request:
[code]

Response:
[code]

Request:
[code]

Response:
[code]

[2015-03-13 18:27] AdityaManohar commented on #531
I'd be interested in the network logs of the request that is failing. For what threshold of object sizes do you notice failures? FWIW, I'd recommend upgrading to `v2.1.16` or above.

I've tried to reproduce it with a large object (~50M) and I have been unable to do so.

[2015-03-13 19:38] JacobEvelyn commented on #531
Sorry for being unclear in my original description... there *is* no failing request. It works perfectly, except for the fact that I get this message in the console:

[code]

[2015-03-13 19:45] AdityaManohar commented on #531
Can you provide some sample code that you are using?

[2015-03-13 20:58] AdityaManohar commented on #528
I did some testing with this. It doesn't seem like there is any noticeable impact for clients talking to incorrectly configured regions.

This also means that it is unlikely that the retry backoff is long enough to catch transient network issues that are of a longer duration.

[2015-03-13 21:02] #528 closed

[2015-03-15 10:54] buu700 opened #533 "AWS.SES is undefined"

[2015-03-15 10:58] ondruska commented on #533
http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-services.html

[2015-03-15 11:08] buu700 commented on #533
Ahh, thanks! Building it myself fixed that.

[2015-03-15 11:08] #533 closed

[2015-03-16 04:27] cancan101 opened #535 "CDN URL for Newest Patch Version"
Some CDN URL that can be used which always provides the newest (patch) version

Something like:
https://sdk.amazonaws.com/js/aws-sdk-2.1.x.min.js
or
https://sdk.amazonaws.com/js/aws-sdk-2.1.min.js

[2015-03-16 05:24] lsegal commented on #535
Thanks for the suggestion, Alex. This has come up before. One of the biggest concerns with automatically sending updates of the SDK into user applications is that we do not want to promote the practice of using untested version dependencies in downstream consumer applications.

We do try very hard to maintain backwards compatibility across patchlevels, but there is always a risk associated with pu

[2015-03-16 05:24] #535 closed

[2015-03-16 05:50] ondruska opened #536 "Provide decent expiration/cache headers AWS JS SDK"
Can you please set some expiration (Expires = now + X) and/or caching (Cache-Control = public,max-age=X,s-maxage=X") headers to AWS JS SDK? Thanks, relates to #535

[2015-03-16 17:04] milashenko opened #537 "'npm test' fails with node 0.12.0"
Most likely testing semver.gt(process.version, 'v0.11.3') at line 128 of the https://github.com/aws/aws-sdk-js/blob/master/test/helpers.coffee#L128 is outdated.

[2015-03-16 18:32] devinus commented on #528
@AdityaManohar This is actually super useful for us. Right now I suspect we're having issues with DNS resolve caching in Docker containers, so at high load `dns.resolve` just fails to work and we get these errors (maybe 1 in 50 times). Obviously the "correct" solution is to figure out why this is happening in the first place, but for now this is going to make it much more robust for us. Thanks @mi

[2015-03-16 21:39] vkovalskiy commented on #468
Thanks @lsegal and @shooding for the info. I'll give it a try - we really need multipart uploads with unstable channels.

[2015-03-17 04:04] nicholaswyoung commented on #418
@lsegal I just ran into this issue too. However, [according to the documentation](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Glacier.html#uploadArchive-property), ```uploadArchive``` seems to support streams.

[code]

Is this incorrect?

[2015-03-18 02:32] lsegal commented on #418
@nicholaswyoung indeed, streams are not supported as noted above. The documentation is automatically generated based on the type, which technically can accept a stream in the general case, but will not work in the specific case of Glacier. Note however that *all* streams must have a way to determine their length-- this requirement is the same for all uses of streams in the SDK, not just Glacier. S

[2015-03-18 03:08] nicholaswyoung commented on #418
@lsegal I see your reasoning, but the documentation should be correct, whether auto generated or not. Should I open a ticket for this?

Frankly, it's these sorts of issues that make the SDK difficult to rely on, and instead be forced into pkgcloud or other libraries that wrap the official SDK. It's a pain to deal with directly, because so few of the interfaces are written in idiomatic Node-style.

[2015-03-18 03:36] lsegal commented on #418
@nicholaswyoung I agree that the documentation should be correct. You can open a ticket for this. We would have to add a custom documentation note for Glacier to point out the lack of support.

You mentioned multiple issues. Can you elaborate on this? We love to get constructive feedback about the SDK. Note that our prioritization and roadmap is heavily based on this kind of user feedback, so if y

[2015-03-19 00:27] felipesabino commented on #265
@lsegal I am having this issue using `2.0.0-rc.14` version :disappointed:

[2015-03-19 00:31] lsegal commented on #265
@felipesabino 2.0.0-rc.14 is an extremely old version. Have you reproduced this on the latest version of the SDK?

[2015-03-19 16:43] #537 closed

[2015-03-19 16:44] AdityaManohar commented on #537
@milashenko Node.js 0.12 is now supported and also builds on Travis. Thanks for reporting!

[2015-03-19 16:46] AdityaManohar commented on #524
I'm marking this as closed because there hasn't been any recent activity. Feel free to reopen this issue or open another issue if you have any other questions.

[2015-03-19 16:46] #524 closed

[2015-03-23 12:15] chetandhembre opened #540 ""Optimistic Locking With Version Number" support for dynamodb"
Hi,
   I was reading about optimistic locking for dynamodb here (http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/JavaVersionSupportHLAPI.html), is it implemented in node.js sdk aws ? if not how can i implement it ?

Can any one help me here ?

[2015-03-24 16:43] spazard1 opened #542 "getSignedUrl for putObject does not respect ContentDisposition"
I am calling s3.getSignedUrl('putObject', config, calback) with the following config:

var awsUploadConfigs = {
                Bucket: mybucket,
                Key: mykey,
                Expires: 3600,
                ContentType: myFileType,
                ACL: "private,
                ContentDisposition: 'attachment;filename="steven"'
            };

The resulting URL generated is: https://

[2015-03-24 18:33] lsegal commented on #542
Hi @spazard1,

When using pre-signed URLs, the SDK is not responsible for sending the request to S3, it is only responsible for generating a URL. When using pre-signing, you must ensure that you are passing any headers through to your request, as this information is not passed through to the S3 API in the URL. In the case of ContentDisposition, this is actually passed through as the `Content-Dispo

[2015-03-24 19:13] spazard1 commented on #542
Yes that makes sense. I thought that since the URL that is given back had the ContentDisposition inside it, that the AWS endpoint would read that information accordingly. Thanks for your answer.

[2015-03-24 19:13] #542 closed

[2015-03-24 20:31] lsegal commented on #542
@spazard1 the ContentDisposition parameter is thrown into the URL as a side-effect of the way the SDK generates URLs. Currently we just generate everything in the URL, since we don't know at build time which parameters S3 will parse out of the URL. Ultimately, you don't need to be passing this parameter to the SDK, as it's not actually part of the URL and is not signed as part of the request, so i

[2015-03-24 21:23] AdityaManohar commented on #536
@ondruska We are looking into this. Thanks for reporting!

[2015-03-24 21:25] AdityaManohar commented on #531
@JacobEvelyn
I'm marking this as closed because there hasn't been any recent activity. Feel free to reopen this issue or open another issue if you have any questions.

[2015-03-24 21:25] #531 closed

[2015-03-24 21:44] AdityaManohar commented on #540
@chetandhembre
The SDK currently doesn't have any optimistic locking abstractions for DynamoDB. I will mark this as a feature request, because this will involve developing a high level abstraction that supports this behavior.

[2015-03-24 21:57] #100 closed

[2015-03-24 22:03] AdityaManohar commented on #100
@mitar Requester pays buckets are now supported in the SDK. Thanks for reporting!

[2015-03-24 22:38] irwin-implementations opened #543 "Cannot read property 'systemClockOffset' of undefined"
I get this error on Ubuntu (it works when I run it on Windows)

[code]

[2015-03-24 22:41] AdityaManohar commented on #543
Which version of the SDK and Node.js are you using?

[2015-03-24 22:43] irwin-implementations commented on #543
aws-sdk 2.1.19
node v0.10.25

[2015-03-24 22:56] irwin-implementations commented on #543
Sorry....I was being stupid. it works, it was on my end.

[2015-03-24 22:56] #543 closed

[2015-03-25 00:37] AdityaManohar commented on #526
@e-gineer The documentation has been corrected in the [Amazon S3 PUT Bucket  API reference](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUT.html) as well as the [SDK documentation for createBucket()](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#createBucket-property).

I'm marking this as closed. Feel free to open a new issue if you have any other questions.

Thanks

[2015-03-25 00:37] #526 closed

[2015-03-25 13:17] JacobEvelyn commented on #531
Sorry, I didn't see you had responded to my comment. I couldn't get `AWS.config.logger = console.log` to show me any extra output, but you were right that I had multiple code paths—the same uploader callback was firing multiple times, and for some reason one of them wasn't forming the request correctly. Thanks for the help!

[2015-03-25 17:51] AdityaManohar commented on #531
@JacobEvelyn anytime! I'm glad you got it working.

[2015-03-25 22:08] gagecarto opened #546 "Locking to API Version 2009-04-15"
I'd like to use the JavaScript SDK along with a SimpleDB

The docs tell me to lock the api at 2009-04-15
http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SimpleDB.html

Trying simple examples from the above docs result in errors like
"AWS.SimpleDB is not a constructor"

If I load the SDK using the most recent 2.1.17, I don't see the 2009-04-15 included.
https://sdk.amazonaws.com/js/aws-sdk-2

[2015-03-25 22:13] AdityaManohar commented on #546
Simple DB is not included in the default hosted build of the SDK. Here are a list of [supported services included in the hosted build](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-services.html#Supported_Services). You can of course choose to [build your own version of the SDK](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-building.html) if your are using it in an environm

[2015-03-25 22:33] gagecarto commented on #546
I am a total n00b when it comes to building my own SDK versions.

Could I just include the source of the 2009-04-15.. Something ugly like below or would that be a total failure?

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.17.min.js"></script>
<script src="https://raw.githubusercontent.com/aws/aws-sdk-js/ebc438876945d55707d84b8986bd2fc3aa3004e9/apis/sdb-2009-04-15.normal.json"></script>

[2015-03-25 23:21] AdityaManohar commented on #546
@gagecarto that would not work.

Building your own SDK version is actually quite simple. All you need to is `git clone` this repository and `npm install` the dependencies (assuming you have Node.js installed). This is described in detail in the developer guide here: [Building the SDK for Use in the Browser](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-building.html).

I'm curious abou

[2015-03-26 00:26] gagecarto commented on #546
@AdityaManohar

The environment I am working in does enforce CORS. Why do you ask? Is there a different approach I should be taking entirely?

[2015-03-26 00:43] AdityaManohar commented on #546
@gagecarto
Simple DB currently does not support CORS requests. The hosted browser version of the SDK includes support for all services that do support CORS. I would recommend opening an issue on the [SimpleDB Forums](https://forums.aws.amazon.com/forum.jspa?forumID=38) to request CORS support.

As an alternative, you could also use DynamoDB if your application is talking directly to services from

[2015-03-26 08:17] billyshena opened #547 "Direct upload to Amazon S3: Corrupted files !"
Hello everyone !

I'm currently trying to setup a direct upload from angular-file-upload to Amazon S3 bucket.
The upload process works fine, ex: If I upload an image of 3MB, the image is correctly transferred on my Amazon S3 bucket (located in Francfort btw, using the new AWS V4 signature)

The issue is the following one: The uploaded files cannot be opened and when I try to "cat" to see the binar

[2015-03-26 08:39] AdityaManohar commented on #547
This usually occurs because you are serializing the entire form when you post to your signed URL.

Instead of serializing your form you will need to supply the `File` object from the form control as the data to your asynchronous request.

Form control:
[code]
Uploading your file:
[code]
Let me know if this helps.

[2015-03-26 08:48] billyshena commented on #547
Hi Aditya ! Thanks for your quick answer.
Well, this is how my Ajax request looks like:

![capture d ecran 2015-03-26 a 09 46 46](https://cloud.githubusercontent.com/assets/6057397/6842872/22264034-d39d-11e4-8c4b-0689668bea5f.png)
![capture d ecran 2015-03-26 a 09 46 33](https://cloud.githubusercontent.com/assets/6057397/6842871/2223f0a4-d39d-11e4-89ef-01dc11c3faf7.png)
![capture d ecran 2015-03-2

[2015-03-26 08:54] AdityaManohar commented on #547
Like I mentioned earlier, this does look like your are serializing the entire form. Instead of posting the entire form to the signed URL, you will have to upload only the file object asynchronously to the signed URL.

[2015-03-26 11:39] billyshena commented on #547
Hi, your example is working like a charm with a simple <input type=file> and the file is not corrupted anymore after being uploaded to Amazon S3.

However, I've tried to use some angular plugins to handle the upload for me https://github.com/nervgh/angular-file-upload but this is not working (I have to do something with transformRequest?). If I use any kind of plugin => the file is still corrupted

[2015-03-27 01:24] AdityaManohar commented on #547
I'm not certain about the details of how this plugin works. I would recommend opening an issue with the maintainer of that plugin to help debug any issues with the plugin.

[2015-03-27 09:06] lsegal commented on #547
Marking this as closed since this is not an issue with the SDK. @billyshena the plugin you referenced is posting [form data](https://github.com/nervgh/angular-file-upload/blob/master/src/module.js#L443), which is simply not compatible with a binary upload to S3. You do not want to post the entire form, which uploads per the [HTTP spec as multipart/form-data](http://www.w3.org/TR/html401/interact/f

[2015-03-27 09:06] #547 closed

[2015-03-27 09:08] lsegal commented on #546
Marking this as closed since SimpleDB does not support CORS and is therefore not part of the default hosted browser build. You *can* build your own version with the instructions that @AdityaManohar provided above, but note that the CORS restriction is enforced by the browser and the service itself, and there is unfortunately nothing the SDK can do to make things work without CORS enabled. I would

[2015-03-27 09:08] #546 closed

[2015-03-28 06:03] clues opened #549 "Can't upload file to s3 when file size is 0"
When file size is 0,i can't upload file to s3,Use wireshark tools i found sdk not send http request to s3.
my code:
s3obj.upload({Body: body}).send(cb);

i modify two code in l lib/s3/managed_upload.js file and it't work:

  /**
   * @api private
   */
  fillStream: function fillStream() {
    var self = this;
    if (self.activeParts >= self.queueSize) return;

    var buf = self.body.read(self.p

[2015-03-28 06:09] clues opened #550 "Can't upload file to Beijing S3"
When i use sdk upload file to Beijing region,it's always return signature not match,etc.
Your code may be support secret auth version from V2 to V4.

Nb: I use java sdk to upload file to Beijing,it's work fine.

[2015-03-28 06:18] lsegal commented on #549
It's hard to know what's changed here. Would you mind packaging this up as a [pull request](help.github.com/articles/using-pull-requests/)? That way you can also get credit for your work!

[2015-03-28 09:03] clues commented on #549
@lsegal :OK

[2015-03-28 23:16] lsegal commented on #550
@clues can you provide your SDK version and code that reproduces the issue? Thanks!

[2015-03-29 22:11] rclark opened #552 "Lambda `FunctionZip` doesn't support a stream object"
According to the documentation http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Lambda.html#uploadFunction-property

This works fine as long as I provide a buffer object, but if I provide a stream (via `fs.createReadStream`), I get the following error:

[code]

[2015-03-29 22:23] lsegal commented on #552
The logic S3 uses to [sign payloads](https://github.com/aws/aws-sdk-js/blob/master/lib/services/s3.js#L205-L232) should probably be moved directly into the V4 signer so all services can make use of this logic.

A temporary workaround would be to do the following:

[code]

Let me know if that works for you. Note that it uses a private API, so it should just be a *workaround*, not permanent code.

[2015-03-29 22:35] rclark commented on #552
In my situation today using a buffer is totally reasonable (although #551 can be a problem with larger buffers), but thanks for the workaround. You suspect this logic will move into the v4 signer relatively soon?

[2015-03-29 22:46] lsegal commented on #552
@rclark yea this should be a fairly easy refactor. I'm just not near my dev machine right now, but it should get looked at this week.

[2015-03-29 22:46] lsegal commented on #552
/cc @AdityaManohar

[2015-03-30 10:44] clues commented on #550
@lsegal I have fixed it,it's my fault,i not update AWS config property 'signatureVersion' in my code.When i config follow,it's work (sdk #v2.1.5).

//If s3 in Beijing,it's special config follow
if ("CN_Beijing".toLowerCase() == global.awsConfig.region){
	    	global.awsConfig.region ="cn-north-1";
	    	global.awsConfig.signatureVersion ="v4";
}
AWS.config.update(global.awsConfig);

[2015-03-30 15:47] zackehh opened #553 "S3 Upload data.Location duplicates itself"
When uploading using a snippet like this (taken from the AWS docs), the data.Location field in the response is giving an incorrect URL. It is repeating certain sections of the path. This is on the latest npm bundle as of today; `"aws-sdk": "^2.1.20"`. I am working on OS X 10.10.2, should that matter.

This should reproduce it:

[code]

The logged Location is actually `https://my-bucket.s3-us-west-

[2015-03-30 17:37] lsegal commented on #553
I just tried the code you provided for a small file (10 bytes) and a large file (29MB) on 2.1.20 / OSX 10.10 and cannot seem to reproduce that behavior. Have you run your test with the code above, or is there something else required to reproduce this?

What version of Node.js are you using?

[2015-03-30 18:22] iwhitfield commented on #553
@lsegal I'm using v0.10.36, and the file was only a few hundred KB. If you want me to try it out on another version of node (perhaps 0.12.x), I can do so.

[2015-04-01 16:37] sboora opened #554 "Performance Regression in aws-sdk"
We recently upgraded the SDK from 1.15.0 to 2.1.9 and noticed a performance regression in 2.1.9.

Here are the benchmark numbers from PUT and GET operations on a DynanmoDB test table in us-east-1.

AWS SDK Version 1.15.0
Sample Size 10000
Record Size (byte) 2048
Waiting for the table to be ready in Dynamo
[putItem] lantecy (ms): mean/std_dev/median 147.27/52.28/139, throughput (/sec): 142.23, erro

[2015-04-01 19:32] AdityaManohar commented on #550
@clues
I'm marking this as closed since you seem to have it working. Feel free to reopen this issue or another issue if you have any questions.

[2015-04-01 19:32] #550 closed

[2015-04-01 20:35] AdityaManohar commented on #554
@sboora
Thanks for reporting! Would you be able to share details of your sampling method? Are you factoring out network latency in your measurement?

[2015-04-01 20:46] lsegal commented on #554
Note that aws-sdk@2.x does more than 1.x did. Specifically, we began to convert types for blobs and timestamps on output responses, which does affect performance. You can toggle this off if you don't need the behavior via the [`AWS.Config.convertResponseTypes`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Config.html#convertResponseTypes-property) property, which should improve performan

[2015-04-02 00:00] gad2103 opened #555 "RPM Build causes error"
using grunt easy_rpm the resulting rpm breaks because of
``aws-sdk/node_modules/xml3js/node_modules/sax/examples`` on line 1:

``#!/usr/local/bin/node-bench``

[2015-04-02 00:11] lsegal commented on #555
This is related to #435. We should look into upgrading the sax dependency, but until then, you can see that issue for an easy workaround.

[2015-04-02 00:13] lsegal commented on #553
@iwhitfield I was testing on 0.10 as well, but I could not reproduce with a file of that size. Have you tried the above code as provided, or is there something else that is needed to reproduce?

[2015-04-02 16:35] shamoons opened #557 "Presigned URL returns a 403 when sending a Content-Type"
Okay, so first I am generating the presigned url in Node.js, via

[code]

Easy enough, it returns a URL like `https://s3.amazonaws.com/mybucket/1_myfile?AWSAccessKeyId=myKey&Expires=1427993282&Signature=tzxdB4%2FFES81KgP1mBiwrhbcu6w%3D`

If I curl a file to it, it works just fine. However, using AngularJS I am trying to PUT a file up. The response I'm getting is:
[code]

![g3ulh](https://cloud.git

[2015-04-02 17:49] AdityaManohar commented on #557
@shamoons
This seems like it is related to #547. It looks like your AngularJS code is posting the entire form to the signed url. You should instead only upload the file to the signed URL.

[2015-04-02 17:51] shamoons commented on #557
@AdityaManohar I don't think that I'm posting the form. If you look at the data I'm sending:

![monegraph_explorer](https://cloud.githubusercontent.com/assets/1019677/6969802/608efbac-d93f-11e4-9235-343c518cd1c7.png)

It's not a form data

[2015-04-02 18:00] AdityaManohar commented on #557
Would you be able to share a full wire trace of your request?

[2015-04-02 18:01] shamoons commented on #557
How would I get that going?

[2015-04-02 18:52] AdityaManohar commented on #557
@shamoons
I missed this in the sample code that you provided. It looks like you are not specifying a `ContentType` when generating a signed URL. You will need to specify the `ContentType` when generating a signed URL and then set the `Content-type` header when you PUT to the signed URL.

I hope this helps!

[2015-04-02 19:01] shamoons commented on #557
@AdityaManohar tried that. In my generation code, I have
[code]
And even if a cURL it with the specified `Content-Type`, it fails

[code]

Same 403 error

[2015-04-02 19:47] AdityaManohar commented on #557
Would you be able to share the code that you're using to upload the file from your web client?

FWIW, you should quote the signed URL when using it with cURL.

[2015-04-03 14:05] shamoons commented on #557
@AdityaManohar I think if I can resolve the `curl` case, the rest will flow easily. When I send along a `Content-Type`, I get the `403` error. I updated the issue title to reflect this.

[2015-04-03 17:11] AdityaManohar commented on #557
I'm not able to reproduce the issue when using a signed URL with cURL. Have you tried quoting the signed URL instead of escaping characters?

[code]

[2015-04-03 17:57] shamoons opened #558 "Having issues uploading with a multipart/form-data Content-Type"
My request is

[code]
(which I suspect is wrong).

I'm getting a 403 Forbidden URL when using a pressing s3 URL

[2015-04-03 17:57] shamoons commented on #557
Yeah, it's working it seems. But I created a new issue to resolve a new problem I'm having https://github.com/aws/aws-sdk-js/issues/558

[2015-04-03 17:57] #557 closed

[2015-04-03 18:13] AdityaManohar commented on #558
@shamoons
The `ContentType` that you provide to `AWS.S3.getSignedUrl` must be the same as the `Content-Type` that you are uploading your file with.

Can you share some sample code you're using to upload a file the signed URL? I'd also be interested to see the sample code that you're using to generate a signed URL.

[2015-04-03 18:16] shamoons commented on #558
To generate the signed URL, I am doing:
[code]

The problem is when uploading from the browser, the `Content-Type` is set to `multipart/form-data` with a boundary, so `Content-Type	multipart/form-data; boundary=----WebKitFormBoundary0gHnwFcAgxP8mmOn`

My client side code to upload is:
[code]

[2015-04-03 18:35] AdityaManohar commented on #558
It does not look like you are setting the `Content-Type` in your request.
[code]
You will have to set the `Content-Type` to whatever you used when you were generating your signed URL (in this case `image/png`).

As a side note, using `FormData` will corrupt the binary data that you are sending to S3. You should not use `FormData` and instead provide only the file object as a payload. Refer to [#54

[2015-04-04 22:30] mpranjic opened #559 "Should access key be available immediately after creating?"
Hi!

When I create new access key using ```createAccessKey``` (AWS.IAM), and then use them with AWS.S3, I am getting the following error:
InvalidAccessKeyId: The AWS Access Key Id you provided does not exist in our records.

If I add 15 second delay, keys are working. Is this delay expected?

My workflow is:
1. have root keys, create new AWS.IAM
2. IAM.createUser
3. IAM.attachUserPolicy (S3 full a

[2015-04-06 12:27] juliangruber opened #560 "sync lstat call in s3.uploadPart"
if pass a read stream to `s3.uploadPart`, a sync lstat call will be performed here

- https://github.com/aws/aws-sdk-js/blob/master/lib/util.js#L172
- in https://github.com/aws/aws-sdk-js/blob/master/lib/s3/managed_upload.js#L238

and more. If this file doesn't exist, the lstat call will throw, instead of calling the callback with the error.

[2015-04-06 17:37] AdityaManohar commented on #559
@mpranjic
I am able to confirm that the `AccessKeyId` is not immediately "active" after it is created. There is no IAM API that the SDK can poll to check the status of the `AccessKeyId`, and this makes it difficult to add a waiter state to poll an `AccessKeyId`.

The workaround would be to use the `AccessKeyId` after a delay, similar to what you already seem to be doing. I would also recommend ope

[2015-04-06 17:51] lsegal commented on #560
Can you explain a little bit more about the issue you're running into? Is the readable stream you're providing a file stream via `fs.createReadStream()`? If so, is the file being removed after the upload starts?

Also are you sure an error is being thrown? Based on the codepath you provided, it actually looks like the error would just get swallowed and explicitly not thrown.

If we could get more

[2015-04-06 19:10] mpranjic commented on #559
Thank you @AdityaManohar for confirmation!

[2015-04-06 19:10] #559 closed

[2015-04-06 23:55] AdityaManohar commented on #558
I'm marking this as closed since this is not an issue with the SDK. @shamoons when using a signed URL you have to make sure that the `ContentType` that was used to generate the signed URL must match the `Content-Type` header of the request to the signed URL.

Feel free to reopen this issue or another issue if you have any other questions.

[2015-04-06 23:55] #558 closed

[2015-04-07 07:45] juliangruber commented on #560
Yeah, it's from a `fs.createReadStream()`. The original source of error is that the file doesn't exist in the first place. However the sync lstat call is reached first before the fs module's internal `fs.open(...)` reaches disk, so it's not the stream emitting an error.

Hm you're right that it can't be this codepath, I'll find the real one causing this.

[2015-04-07 07:56] juliangruber commented on #560
- https://github.com/aws/aws-sdk-js/blob/master/lib/s3/managed_upload.js#L325
- https://github.com/aws/aws-sdk-js/blob/master/lib/s3/managed_upload.js#L331
- https://github.com/aws/aws-sdk-js/blob/master/lib/s3/managed_upload.js#L412

Those look not be be caught by any try/catch. I susped it's the last one, I'll try to come up with a stack trace.

[2015-04-07 07:59] juliangruber commented on #560
[code]

[2015-04-07 08:20] lsegal commented on #560
Can you explain how the file does not exist if you are using `fs.createReadStream()`? It seems reasonable for the SDK to throw an exception if it can't stat the file, since it would need that file to exist in order to upload it. If you use `fs.createReadStream()`, the SDK expects for the file to be present so we can get the content length (and also the bytes). Are you mocking the fs call or someth

[2015-04-07 09:42] juliangruber commented on #560
This is due to a race condition. So yeah initially it's a problem on my side, but a function taking a callback should always

- report errors only to that callback
- do only async work, no *Sync calls

If you want I can get into why I think those points are important.

For now I'll set `stream.length` on my own, but I still consider this unexpected behavior, so I'm leaving this open for you to dec

[2015-04-07 10:20] lsegal commented on #560
I agree with one of your points but not both:

I mostly agree with this. We do make a best-effort to catch possible errors and return them in the callback, but I will point out that this is not a guarantee. If there is a scenario that puts a library in an inconsistent state for undefined behavior, it seems reasonable to have an uncaught error in that case. For example, we currently have no guards

[2015-04-07 19:52] #555 closed

[2015-04-07 20:24] stockholmux opened #565 "SQS, addPermission wildcard"
I'm trying to set a SQS queue to allow anyone to receive a messages. I'm using this code:
[code]

I get this error:

[code]

Am I missing something in how to set the permission for all? (`*` works in the console)

This is with SDK version `2.1.20` and using node `v0.10.36`

[2015-04-07 20:41] #552 closed

[2015-04-07 21:54] sboora commented on #554
@AdityaManohar both these benchmarks are done on the same ec2 instance and to the same DynamoDB table, so not sure if factoring out network latency helps.  (this is assuming there were no issues in the network since I ran this benchmark couple of times and the results were consistent)

@lsegal, we are

[2015-04-09 12:52] ecdeveloper opened #570 "S3 upload fails when file size exceeds 5mb"
When I'm trying to upload a file larger than 5mb with `s3.upload()` it just hangs. After some time it throws the following error - `Part number must be an integer between 1 and 10000, inclusive`. After a quick research, I end up putting the following code into this line - https://github.com/aws/aws-sdk-js/blob/master/lib/s3/managed_upload.js#L410:
[code]
When I try to upload a file larger than 5mb

[2015-04-09 15:08] AdityaManohar commented on #570
@ecdeveloper
Thanks for reporting! We are working on a fix and will have a patch release out for this regression shortly.

[2015-04-09 15:09] ecdeveloper commented on #570
Great. Thanks!

[2015-04-09 15:17] AdityaManohar commented on #570
@ecdeveloper
This fix is out in master. I will cut a patch release out shortly.

[2015-04-09 18:38] AdityaManohar commented on #570
@ecdeveloper
I just cut a release `v2.1.23`. Let me know if this works for you.

[2015-04-09 19:31] ecdeveloper commented on #570
@AdityaManohar Perfect! Works like a charm now. Thank you!

[2015-04-09 19:31] #570 closed

[2015-04-09 20:55] AdityaManohar commented on #570
@ecdeveloper Thanks for reporting! Glad you have it working.

[2015-04-09 20:56] phsstory opened #571 "Environment variable name inconsistencies between SDKs and ElasticBeanstalk"
In particular other SDKs use the environment variable {PREFIX}_SECRET_KEY to support the  immutable environment variable AWS_SECRET_KEY in the ElasticBeanstalk Console.

http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/auth/EnvironmentVariableCredentialsProvider.html

Is this an issue where some of the SDKs have moved to the new {PREFIX}_SECRET_ACCESS_KEY structure and the Elasti

[2015-04-10 10:31] katrotz opened #572 "AWS JS SDK support for Lambda invoke sync"
Hi,
I've come to know that AWS has [released](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Lambda.html#invoke-property) synchronous version of Lambda invokation.

When should we expect it implemented in the JS SDK?

Thanks in advance!

[2015-04-10 14:58] mhart commented on #572
The documentation you linked to *is* the synchronous version exposed in the JS SDK. `invokeAsync` is the asynchronous version.

It's synchronous in the sense that it returns the results of your lambda invocation in the same HTTP request – ie, you don't need to make further asynchronous HTTP requests to receive the results/logs/etc.

[2015-04-10 18:17] AdityaManohar commented on #572
@katrotz
As  @mhart mentioned, what you linked to is the "synchronous" `invoke()` method in the latest Lambda API version (2015-03-31). [`v2.1.23`](https://github.com/aws/aws-sdk-js/releases/tag/v2.1.23) of the SDK has support for the latest Lambda API.

I'm marking this as closed. Feel free to reopen this issue or open another issue if you have any questions.

[2015-04-10 18:17] #572 closed

[2015-04-10 20:53] AdityaManohar commented on #565
@stockholmux
I can verify that SQS does not accept `'*'` as a possible list value for the `AWSAccountIds` parameter. I would recommend opening an issue on the [SQS Forums](https://forums.aws.amazon.com/forum.jspa?forumID=12) to report this behavior.

In the meantime, you can also use the [`AWS.SQS.setQueueAttributes()`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SQS.html#setQueueAttrib

[2015-04-10 22:06] AdityaManohar commented on #571
@phsstory
The documented and recommended usage is `[PREFIX_]ACCESS_KEY_ID` and `[PREFIX_]SECRET_ACCESS_KEY`. Both these environment variables are supported by all the AWS SDKs and the AWS CLI.

These are also the same keys used in the shared credentials file and picked up by the [`AWS.SharedIniFileCredentials`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SharedIniFileCredentials.html) p

[2015-04-10 22:27] phsstory commented on #571
The inclusion of legacy combinations would solve an immediate rough edge exposed by the forced ElasticBeanstalk environment variables.

Should I also open a feature request with the ElasticBeanstalk for the ability to rename these environment variables or would it best be served coming from an internal resource since it would also have an impact to other distributed products such as the VisualStud

[2015-04-10 22:35] AdityaManohar commented on #571
@phsstory

Agreed!

Feel free to open an issue on the [Elastic Beanstalk Forums](https://forums.aws.amazon.com/forum.jspa?forumID=86). I will also follow up on this internally.

Also, thank you for bringing this to our attention.

[2015-04-11 07:35] arvindgt opened #573 "AWS Elastic Transcoding Signature expired"
I am using PHP SDK for AWS Elastic Transcoding. When I am creating a transcoding job, it gives me an error, Like:

Signature expired: 20150411T064107Z is now earlier than 20150411T064135Z (20150411T064635Z - 5 min.)

I am using region US-WEST-2.
Can any body guide me please how to solve this issue.

[2015-04-11 10:33] lsegal commented on #571
@phsstory can you elaborate on which environment variables you're referring to? If you're looking at the ones provided in the default configuration of the console, you can already rename these.

[2015-04-11 13:33] phsstory commented on #571
AWS Console -> ElasticBeanstalk -> [Application] -> [Environment] -> Configuration -> Software Configuration : Environment Properties

AWS_SECRET_KEY is the problematic one. I've had more than one developer make the mistake and assume the provided field was the correct one to populate.

![console](https://cloud.githubusercontent.com/assets/11877226/7101578/ea561712-e024-11e4-9e1b-cf3803c00794.png)

[2015-04-11 15:59] lsegal commented on #571
I think that can be resolved by simply adding description text to the Elastic Beanstalk console screen. It looks like the console already supports AWS_SECRET_ACCESS_KEY, which is supported by our other SDKs and tools. AWS_SECRET_KEY is not universally supported, and can simply be ignored in most cases.

As a sidenote, the recommended / preferred way to configure credentials in Elastic Beanstalk is

[2015-04-11 16:19] phsstory commented on #571
yes, AWS_SECRET_ACCESS_KEY is supported as a user supplied environment variable.
This issue is about ElasticBeanstalk defaults include a legacy environment variable name which is supported in some of the SDKs and not others.

We understand AWS roles are the preferred mechanism but sometimes the environment variables are advantageous especially during prototyping and early dev when roles are not av

[2015-04-11 16:30] lsegal commented on #571
Can you explain where this default is? The console screenshot above does not seem to be showing any defaults, but simply the choice of providing both environment variables. If one was marked clearly as "legacy", would it clarify?

Can you elaborate here as well? IAM roles are very easy to configure, and one of the benefits of IAM roles is specifically that each developer does not need to know the

[2015-04-11 17:15] phsstory commented on #571
The defaults are the parameters without the "X" on the right. These can not be removed / renamed.
The two involving the credentials are marked in the attached screenshot.

On the subject of roles and/or shared credentials files; although off topic for this issue, we are dealing with many products and aws accounts, with a few having development predating the support for credentials files. We find i

[2015-04-13 18:15] AdityaManohar commented on #573
I'm marking this as closed because this is the repository for the AWS SDK for JavaScript. You can open an issue here [https://github.com/aws/aws-sdk-php/issues](https://github.com/aws/aws-sdk-php/issues) for questions about the AWS SDK for PHP.

[2015-04-13 18:15] #573 closed

[2015-04-14 17:05] MohsenElgendy opened #575 "error: [InvalidParameterType: Expected params.count to be a string] when using s3.upload"
I have a very simple content of a file and when i apply the following code to add the file to a bucket, it gives me a strange error about a param named "count". here is my code

[code]

and here is the error
[code]

[2015-04-14 17:44] balmasi opened #576 "S3 ManagedUpload callback not being called sometimes"
Whenever I'm uploading files larger than around *1MB* using streams with the s3 sdk, when listening to the progress events I see it reaching *100% * but the callback on the `ManagedUpload.send` function doesn't get called. It waits like that for like 30 seconds and retries. Sometimes this loop goes on forever, other times it calls the callback successfully.

This is a simplified version of the cod

[2015-04-14 17:56] AdityaManohar commented on #575
Which version of the SDK and Node.js are you using?

[2015-04-15 07:18] MohsenElgendy commented on #575
node@v0.12.2
npm@2.7.4
aws-sdk@2.1.23

[2015-04-15 08:13] MohsenElgendy commented on #575
I had a workaround for the issue for now, but i do not recommend it.
What i did was that i changed my S3 configure array, to this

[code]

I added the param called "paramValidation" and set it to false, so it stopped the method from validating the issue so the file was uploaded successfully, Now this seems like a very wrong way to work around the issue but since i am in a hurry, i can leave it for

[2015-04-15 17:44] lsegal commented on #575
@MohsenElgendy my guess is you're using a library in your JavaScript environment that is adding properties to the `Object.prototype`, specifically the `.count` property. Unfortunately this will cause interoperability issues with the SDK as well as many other JS libraries. You can verify that this is the case by running:

[code]

If your environment is clean you should only see "Bucket", "Key", and

[2015-04-15 17:49] lsegal commented on #576
You could find out if this is related to streams by loading the photo into memory as a test using:

[code]

Let us know if you run into any different behavior.

As a sidenote, does this happen consistently? If not, how often does it happen?

[2015-04-15 18:50] alexandarp opened #578 "SignatureDoesNotMatch with non-alphanumeric characters"
Hello,

I am using ```copyObject``` to transfer files from one s3 bucket to another. Half way through the process, I get the following error:

[code]

I narrowed down the error, and figured out that ```copyObject``` stops at a file which includes an asian character.

Here are my params:

[code]

If I skip over the files with asian characters, everything works fine. Is there something I extra I hav

[2015-04-15 20:07] lsegal commented on #578
Unfortunately, JavaScript strings can only contain UTF-8 characters, so if your keys happen to have non-UTF-8 encodings in them, the AWS SDK for JavaScript currently does not support manipulating these objects. In order to support this, the SDK would need to both accept and return `Buffer` objects instead of strings for any Key / Bucket / CopySource parameter provided, which would be feasible on i

[2015-04-15 20:13] lsegal commented on #554
@sboora let us know once you have updated numbers. I'm only seeing a ~4% difference in both cases which could be explained by the SDK adding more robustness / functionality to its feature set over this major version, though it could also just be explained by networking and I/O bottlenecks. Without seeing the benchmark code it would be difficult to know what to attribute this to.

[2015-04-15 20:39] alexandarp commented on #578
Thanks for the quick reply. I will get back to you with a solution.

[2015-04-16 00:00] alexandarp commented on #578
@lsegal I have an update. The solution for me was to uri encode the image key:

[code]
I can then use ```decodeURIComponent()``` to convert the files to the original characters if I need to. I am not sure if this would be a solution for anyone else experiencing the problem.

[2015-04-16 07:33] MohsenElgendy commented on #575
@lsegal Looks like my environment wasn't as clean as i might have thought, I had a method that was added to the ```Object.prototype``` called ```count``` so it affected the whole environment.

[code]

Thanks for the help.

[2015-04-16 07:33] #575 closed

[2015-04-16 11:48] scampiuk opened #581 "Access-Control-Allow-Origin issue with CloudFormation"
Hi,

My requests in Chrome to the CloudFront endpoint are failing with the message:
XMLHttpRequest cannot load https://cloudformation.eu-west-1.amazonaws.com/. No 'Access-Control-Allow-Origin' header is present on the requested resource.

If I run chrome in a less secure mode (chromium-browser --disable-web-security) then I can perform the same actions.

It's looking like the CloudFront endpoint i

[2015-04-16 19:10] yetithefoot opened #582 "s3.upload huge files throws Exception"
Im trying to upload my huge files upto 700-800MB via ```s3.upload()```
My file readed via readStream, but not uploading.
Log full of messages, and then i got exception.

Interesting part here is: __ContentLength: 0__ in all log records. When part number =100001, exception happened.

Then i go to docs and found that i can vary upload options.
I tried to set options like this:
```var options = {part

[2015-04-16 19:13] yetithefoot commented on #582
Probably it connected with #570. Will check version 23.

[2015-04-16 19:17] yetithefoot commented on #582
Looks like it worked in 2.1.23.
But what is best strategy for uploading big files?

[2015-04-16 19:20] #582 closed

[2015-04-16 19:42] lsegal commented on #582
@yetithefoot using `s3.upload()` is the best strategy.

[2015-04-16 19:49] lsegal commented on #581
Hi @scampiuk,

CloudFront's API does currently not support CORS, which is a requirement to use this service in a CORS-restricted environment. I found [this feature request](https://forums.aws.amazon.com/thread.jspa?threadID=150169&tstart=0) on the Amazon CloudFront forums. I would recommend jumping in on that thread if you have not already done so.

[2015-04-17 16:44] #578 closed

[2015-04-18 00:00] jstamerj opened #585 "Retried S3 request uses a bogus hostname (the bucket name is repeated)"
I have a node service using the aws-sdk that gets thousands of files from S3 per day.  It is using node v0.10.26 and aws-sdk 2.0.1 (although aws-sdk 2.1.24 still appears to have this bug based on a code inspection).

The vast majority of the time, s3.getObject() succeeds.  However, very infrequently -- approximately once every month -- I see a call to s3.getObject fail with a certificate error lik

[2015-04-18 00:09] lsegal commented on #585
Thanks for reporting. Looks like something we can look into. One note: the `build` state / handlers are not [supposed to be] executed on a retry-- in other words, triggering a retry only triggers from the sign/send events, not build. That said, I know of a special case where the state machine can theoretically back up to the build state (tl;dr if an uncaught synchronous exception is thrown at a sp

[2015-04-18 02:10] lsegal commented on #585
@jstamerj also, have you actually tested this on v2.1.24? You mentioned that you believe it has the same bug based on a "code inspection"-- did that involve actually running code? Even if this were a bug in 2.0.1, we can't move forward with a fix unless it is also present in 2.1.24-- and any fix would require you to upgrade. I would recommend upgrading to see if this issue still persists as a firs

[2015-04-20 20:06] jstamerj commented on #585
@lsegal - I do not have an easy consistent repo -- it is an error that I've seen very infrequently, around once per month.  I have not tried using v2.1.24 yet.  I will update to v2.1.24 now and check if we still see it occurrences of this error in the next month.

I can make the error reproduce reliably by injecting an error into the sdk code.  With v2.1.24, when I edit lib/services/s3.js and modi

[2015-04-20 20:08] lsegal commented on #585
Thanks! Your case is actually very helpful in narrowing down the root cause. I'll take a look at this.

[2015-04-20 20:48] sboora commented on #554
Here's the script I am using for benchmarking.

https://github.com/Medium/local-dynamo/blob/master/benchmark/sdk_benchmark.js

[2015-04-20 20:59] sboora commented on #554
Here are the stats from benchmarking with `converResponseTypes` set to off.

[code]

[code]

[code]

[2015-04-21 00:19] sboora commented on #554
@lsegal, You are right. My benchmarking results are off since there is another process on the machine affecting the results.

@chaosgame on our team ran these on a standalone machine to rule out other factors affecting the benchmarking and results look promising.

##### Version 2.1.24 (ConvertResponseTypes: True)
[code]

##### Version 2.1.24 (ConvertResponseTypes: False)
[code]

##### Version 2.1.

[2015-04-21 00:52] AdityaManohar commented on #554
@sboora glad to see that you are getting consistent performance with version 2.x of the SDK.

[2015-04-21 03:52] chaosgame commented on #554
Unfortunately it's not as simple as that.  With 10k samples, the difference between version 2.1.24 is a statistically significant jump from 1.15.0.  While it's only a 3-5% latency increase, it's a real difference.

What's more important is that it was also being masked by the overhead of setting up an HTTPS connection for each request.  When I re-ran the experiment on node 0.12.2 (`http.globalAgen

[2015-04-21 05:06] chaosgame commented on #554
Okay, so I spent some time bisecting between versions.  The initial performance regression we noticed is an embarrassingly long time back — when we tried upgrading to AWS-SDK 1.18.0.  On our benchmark, the problematic commit (specifically getItem requests) seems to be between 1.16.0 and 1.17.0: https://github.com/aws/aws-sdk-js/commit/d75bb771c618aba847dcd20de9e09045bb5f0265.

Before:
[code]

Afte

[2015-04-21 07:56] AdityaManohar commented on #554
@sboora @chaosgame

I tried reproducing this on a fresh `c3.8xlarge` instance with Node.js `v0.10.38`.

[code]
There is some delta between v1.15.0 likely owing to the added events that are emitted in this patch https://github.com/aws/aws-sdk-js/commit/d75bb771c618aba847dcd20de9e09045bb5f0265

I am *not* getting any delta in `GetItem` calls between `v1.17.0` and `v2.x` with `convertResponseTypes: f

[2015-04-21 12:57] lsegal commented on #554
@sboora @chaosgame if the bulk of the performance regression is being caused by the emitted download progress event, we could consider adding a `disableProgressEvents` config option; that coupled with `convertResponseTypes` should give you the configurability you need. If you comment out the [emit on the `httpDownloadProgress` event](https://github.com/aws/aws-sdk-js/commit/d75bb771c618aba847dcd20

[2015-04-21 16:18] scampiuk commented on #581
Hi,

Thanks, yes I'm going to do that, I've also raised a support ticket with AWS ;)

Thanks again,

Chris -.

[2015-04-21 16:21] chaosgame commented on #554
@AdityaManohar For the tests you ran, your numbers line up pretty closely with mine (I'm running on a c3.large).  My getItem numbers are slightly better for 1.15, but look close enough.

###### A note on testing with 1.12:
You're benchmark needs to open up a new HTTP connection each time we make a request.  This is super duper _slow_ in my experience when we're making lots of requests (as in this

[2015-04-21 16:35] restebanez commented on #26
http://blogs.aws.amazon.com/javascript/post/Tx3CV0OSVN2TBPS/Using-the-AWS-SDK-for-JavaScript-from-Behind-a-Proxy

[2015-04-22 13:33] patoi opened #587 "SES default user credential doesn't work"
After SES service creaton on web interface the AWS create a new user for smtp. This ne user credential does not work. After creating new user for smtp, the new user's credential is working.

See more:
https://github.com/andris9/nodemailer-ses-transport/issues/2

[2015-04-23 11:41] h2non opened #588 "Support for pipeable streams"
I don't understand why this was not supported yet. Streams today are to node/io.js like classes are to C++.

It's especially useful for S3:

[code]

Definitively there aren't plans to support it?

[2015-04-23 13:11] lsegal commented on #588
@h2non streams are supported in the API, just not via `pipe`. That said, you can easily do:

[code]

This format is more conducive to many of the other features provided by the SDK, namely parameter validation and bound parameters. Another important point is that S3 streams must be rewindable for retry support and signing in certain regions, which is not well supported by Node.js streams.

That sa

[2015-04-26 00:00] ChrisZieba opened #590 "getBucketLocation returns empty object"
[code]

There are no properties in the data object, and the err object is null. I double checked the permissions (s3:GetBucketLocation) and it appears to be all correct, event tried giving the bucket all permissions. The bucket is "US Standard" but the docs say the "LocationConstraint" should be set to empty string.

[2015-04-26 01:24] ChrisZieba commented on #590
After digging around a bit this seems to be how the response is parsed. The response for "US Standard":

[code]

and for a bucket in a different region:

[code]

[2015-04-27 13:59] laddi commented on #314
Yes, updating the documentation would be EXTREMELY helpful since I've now spent half a day trying to figure out why my base64 encoded PublicKeyMaterial wasn't working properly.  But thanks for the clarification! :smiley:

[2015-04-27 20:04] lsegal opened #591 "Documentation missing for InstanceId on `ec2.describeInstances()`"
The documentation for the [describeInstances() operation](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/EC2.html#describeInstances-property) is missing the InstanceId property in the Instances list of the output structure.

[2015-04-27 20:06] lsegal commented on #590
Thanks for reporting. I actually came across this recently. I'll take a look at this.

[2015-04-27 20:36] #590 closed

[2015-04-27 20:36] lsegal commented on #590
The above commit should fix this issue.

[2015-04-27 21:22] AdityaManohar commented on #565
@stockholmux
I'm marking this as closed. Feel free to reopen this issue or open another issue if you have any questions.

[2015-04-27 21:22] #565 closed

[2015-04-27 21:24] AdityaManohar commented on #581
@scampiuk
I'm marking this as closed. Feel free to reopen this issue or another issue if you have any more questions.

[2015-04-27 21:24] #581 closed

[2015-04-27 21:59] AdityaManohar commented on #587
@patoi
SMTP credentials are not the same as the `AccessKeyId` and `SecretAccessKey` credential pair and therefore cannot be used by the SDK to sign requests.

From the [SES documentation](http://docs.aws.amazon.com/ses/latest/DeveloperGuide/smtp-credentials.html):

It looks like [nodemailer-ses-transport](https://github.com/andris9/nodemailer-ses-transport) is using the SMTP credentials to sign re

[2015-04-27 23:28] chaosgame commented on #554
Alright, I have a PR ready for y'all based on the discussion above:

#### AWS.config.httpOptions.disableProgressEvents = false
[code]

#### AWS.config.httpOptions.disableProgressEvents = true
[code]

[2015-04-28 08:08] ishener commented on #256
I have the same problem using aws sdk for node.js. 'public-read' ACL doesn't work. other ACL work.

[2015-04-28 20:42] robbiet480 opened #593 "TTL is a required parameter for changeResourceRecordSets"
As per the official [API Docs](http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets_Requests.html#change-rrsets-request-ttl) TTL is a required parameter. The API docs for AWS-SDK do not list it as required (seen [here](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Route53.html#changeResourceRecordSets-property))

[2015-04-28 21:08] lsegal commented on #593
The problem with TTL is that it is not required in *all* cases, meaning it is only conditionally required. As per docs:

For alias resource record sets, this value can be omitted.

[2015-04-29 22:52] chaosgame commented on #554
Hi there,

We haven't heard back from you in a little bit and I wanted to see if there was anything I could do from our side to get this fix into master faster.

Thanks for your help thus far!

[2015-04-29 23:05] lsegal commented on #554
Hey @chaosgame. @AdityaManohar and I have been discussing this and we think we can optimize out the overhead in the progress event emitters without having to require an explicit option to `disableProgressEvents`.

Basically, emitting an event to zero subscribers *should* be a no-op, but it looks like our SequentialExecutor adds a significant amount of overhead on each emit call. We still need to i

[2015-04-29 23:17] chaosgame commented on #554
Thanks for the quick response @lsegal, does your team have an ETA on when the fix will land in master?

[2015-04-29 23:47] lsegal commented on #554
@chaosgame we don't have an ETA for this at the moment. I'll be sure to share when we have something.

[2015-04-30 00:00] dconnolly commented on #576
Related: if the input body is size 0, the callback is never called, because nextChunk() is never called. I would expect he callback to be called with an err value. I can create a separate issue for this specific case.

[2015-04-30 00:02] dconnolly opened #594 "ManagedUpload callback is never invoked if body is 0 bytes, nor an error thrown."
If the input body is size 0, the callback is never called, because nextChunk() is never called. I would expect the callback to be called with an err value. Otherwise the upload is kicked off and no other events are triggered, nor Error's thrown, it just goes dark.

[2015-04-30 00:04] AdityaManohar commented on #594
@dconnolly This looks like it may be related to #549

[2015-04-30 18:52] lpetre commented on #473
I just ran into this too. It would be great if there was more consistency here. +1

[2015-04-30 21:06] lsegal commented on #554
@sboora @chaosgame so we have an update:

I've been doing some tests on this to verify that the fix we want to push will actually have the desired effect and have found that I'm unable to reliably reproduce any performance improvements with this change. Specifically, I've been commenting out all progress support and have not seen any change (benchmarks provided below). More importantly, going back

[2015-04-30 21:17] lsegal commented on #554
@sboora @chaosgame so we have an update:

I've been doing some tests on this to verify that the fix we want to push will actually have the desired effect and have found that I'm unable to reliably reproduce any performance improvements with this change. Specifically, I've been commenting out all progress support and have not seen any change (benchmarks provided below). More importantly, going back

[2015-04-30 21:47] chaosgame commented on #554
Thanks for the response @lsegal.  I'm going to try and take a look at reproducing your benchmark tomorrow when I have more time, but two things jump out at me right now.

1. Use node 1.12 and set `require('http').globalAgent.keepAlive = true` (for both `http` and `https` so that we're not opening up a new SSL connection on each request).

2. In the benchmark we're using above, we're using a 2048 b

[2015-04-30 23:14] lsegal commented on #554
DynamoDB Local works over HTTP so it's not opening HTTPS connections.

I made the changes you suggested, specifically adding keepAlive, using 0.12, and sending 2048 bytes, but still get the same results w.r.t. the comparison. putItem is noticeably slower, but it isn't faster in v1.x:

[code]

For reference, this is the modified benchmark script:

[code]

[2015-04-30 23:20] mhart commented on #554
Just as a sanity check – DynamoDB Local's not going to be the bottleneck here is it?

[2015-04-30 23:22] mhart commented on #554
Because those numbers look pretty low... putItem at 75/sec...?

[2015-04-30 23:28] mhart commented on #554
(FWIW, on my MB Air using https://github.com/mhart/dynalite I get 230/240 ops/sec using your benchmark)

[2015-04-30 23:35] lsegal commented on #554
@mhart if you want to take a look at the diff between 1.x and 2.x using dynalite that would be awesome :+1:

[2015-04-30 23:50] lsegal commented on #554
Same range across versions using dynalite as a backend for me:

[code]

[2015-05-01 01:15] mhart commented on #554
Fair enough.

You can use the `--ssl` flag and connect using https (although you may need to ignore cert issues using `https.globalAgent.rejectUnauthorized = false` or whatever) – in case it's an https issue...

[2015-05-01 02:16] mhart commented on #554
Have just tried with SSL (had to also use `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"`) – very little difference between 2.1.26 and 1.15.0 AFAICT.

~153 ops/sec on 2.x, ~157 ops/sec on 1.x

[2015-05-04 05:30] wlingke opened #595 "getSignedUrl resulting in SignatureDoesNotMatch error"
I am requesting a signedUrl of a document in s3 that is signed with a SSECustomerKey.

I retrieve it like so:
[code]
However, I end up producing an XML file that shows a `SignatureDoesNotMatch` error with message: `The request signature we calculated does not match the signature you provided. Check your key and signing method.`

I am sure `Key` and `SSECustomerKey` are correct because I am able to

[2015-05-04 06:07] wlingke commented on #595
For what its worth, this is how I uploaded the file in the first place:

[code]

[2015-05-04 17:33] h2non commented on #588
Thanks for the reply.

Sounds reasonable. I see your point and it could be definitively great introducing support for a pipeable interface. The unique challenge here is about keeping the existent interface consistency.

As far I've seen after a brief code review, putObject() (and indeed almost all of the service API methods) returns an instance of [Request](https://github.com/aws/aws-sdk-js/blob/m

[2015-05-04 20:28] lsegal commented on #560
I'm going to mark this as closed since this is a fairly specific edge case that has undefined behavior (when you delete a file being streamed out from under the SDK). We have issues open to improve the general error handling in the SDK that may make some of these errors bubble up in the callback instead of getting thrown, but there is no guarantee that all errors can always be caught in this way (

[2015-05-04 20:28] #560 closed

[2015-05-04 20:31] lsegal commented on #129
Sorry about the delay in responding to this issue!

Given the simple workaround above we've decided that we're going to leave this out of the SDK for now. Creating a third-party plugin via an external npm package might be the best way to support this in the community if users are still looking for this behavior. We'd be happy to see it turned into a third-party npm package. If it was popular enoug

[2015-05-04 20:31] #129 closed

[2015-05-04 20:50] lsegal commented on #588
Unfortunately we can't really consider any new functionality to this SDK that introduces breaking changes. Also, we would still have to answer questions of how this approach would deal with retryability and multiple passes at the body payload (for signing and other customizations). Without an answer for those concerns, I don't think we would recommend this approach for general usage.

That said, i

[2015-05-04 20:51] lsegal commented on #594
I am closing this in favor of #549 since this is likely related. Feel free to reopen if you think this is a different issue.

[2015-05-04 20:51] #594 closed

[2015-05-04 20:55] lsegal commented on #376
We've filed a Radar with Apple on this detailing the incorrect behaviors occurring in Safari, but at this point there is not much else we can do from the SDK side of things, so I am going to have to mark this as closed as a third-party issue. I would recommend filing a bug against Safari if you are still interested in pursuing this further and/or using one of the workarounds provided above. Thanks

[2015-05-04 20:55] #376 closed

[2015-05-04 21:36] AdityaManohar commented on #108
The ["Configuring a Proxy"](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html#Configuring_a_Proxy) section of the developer guide, as well as the ["Using the AWS SDK for JavaScript from Behind a Proxy"](http://blogs.aws.amazon.com/javascript/post/Tx3CV0OSVN2TBPS/Using-the-AWS-SDK-for-JavaScript-from-Behind-a-Proxy) blog post document using the SDK from behind a network proxy.

[2015-05-04 21:36] #108 closed

[2015-05-04 21:36] lsegal commented on #459
Marking this as closed since we could not reproduce on Ubuntu with the latest version of the SDK. Note that we did find similar reports specific to the usage of custom mocks like fake-s3 (via #525). It's possible that if you were running into this with a mock like fake-s3 or similar, that this might be an issue specific to that library. One of the changes in the SDK is that we rely on Expect: 100-

[2015-05-04 21:36] #459 closed

[2015-05-04 21:38] h2non commented on #588
Thanks for the fast reply. Let's separate things.

Despite the module. I just made made it to satisfy my needs (which are partially related to the topic we're actually discussing here, but not specifically for this purpose). Ideally no third-party library should be used to accomplish this feature.

Never break interfaces. 100% agree. This is a must software principle. Note that I was just pointing

[2015-05-04 21:43] AdityaManohar commented on #587
@patoi
I'm marking this as closed since it is not an issue with the SDK. Feel free to reopen this issue or another issue if you have any questions.

[2015-05-04 21:43] #587 closed

[2015-05-04 21:58] AdityaManohar commented on #479
I'm marking this as closed because there is not much else that we can do from the SDK side of things. Feel free to reopen this issue or another issue if you have any questions.

[2015-05-04 21:58] #479 closed

[2015-05-04 22:20] lsegal commented on #588
Relying on a stream-like interface would break the current contract, since "retries" are part of the SDK contract. Streams are inherently incompatible with retryability since they are not retryable. More on this below.

Node.js streams are uni-directional streams that have no native concept of seeking or length. Basically they simply read or write data and that's it. Unfortunately this is not suff

[2015-05-04 23:21] lsegal commented on #595
@wlingke when sending a request with a signed URL you must ensure to also pass any header parameters that you generated the URL with as headers in your actual request with the signed URL. The SSE params are such headers that must be passed through.

This worked for me, with V4 signing:

[code]

And then sending the request:

[code]

You can find many of the headers in the generated URL (which shou

[2015-05-04 23:28] wlingke commented on #595
I see. My goal was to be able to send this link to a client webpage and allow the end-user to click on a link to download the protected file. However, based on what you're saying I'd need the client to make an AJAX request but then there is no good way of downloading a file via AJAX get request.

Is there a better solution for what I am trying to do (or am I over-complicating this)?

[2015-05-04 23:45] h2non commented on #588
Absolutely!

You're totally right. It's simply non-viable. Indeed V8 max allocated memory is limited to 1GB.

In node/io.js there're [duplex](https://nodejs.org/api/stream.html#stream_class_stream_duplex_1) streams, so technically they're bi-directional if we consider it as a whole abstract data type entity. For instance, network sockets uses both directions.

That's true, but you can discovery th

[2015-05-04 23:53] lsegal commented on #595
@wlingke you can send the header values down as well, or simply construct the AJAX request from the information provided in the URL (the SDK will provide the key information in the URL which you can turn into headers).

[2015-05-05 00:55] wlingke commented on #595
Okay. I think I will have to move to normal server side encryption. Requiring headers is not good for my use case since I need a browser to open the link directly without AJAX.

This issue is actually the same as https://github.com/aws/aws-sdk-js/issues/457 upon reflection, I just didnt understand it at the time..

What is the reason that headers are required with pre-signed urls?

[2015-05-05 01:09] lsegal commented on #595
Oops sorry I missed that!

This is a behavior of the Amazon S3 API, so I cannot provide an authoritative rationale, but I would recommend heading to the [Amazon S3 forums](https://forums.aws.amazon.com/forum.jspa?forumID=24) to ask this question and possibly even request support for reading these values from the URL in order to support your use case.

I am going to mark this as closed given that t

[2015-05-05 01:09] #595 closed

[2015-05-05 07:56] scampiuk commented on #581
For people who get her via Google, and are looking for answers:

[2015-05-06 12:23] aaaristo opened #596 "Uploading files to S3 over SSL is far slower than aws-cli"
I'm uploading a 653MB file using this code, from an EC2 instance (c3.4xlarge, us-east-1):

[code]
and is taking ~12secs.

The same code over HTTP takes ~7secs
[code]

while aws-cli is taking ~4secs
[code]

Any idea?

[2015-05-07 06:24] emptyemail opened #597 "CPU 100% when using ManagedUpload with many small writes"
When using a stream that sends very small amounts of data with ManagedUpload the cpu will go to 100% while buffering. The culprit is

`self.partBuffer = AWS.util.Buffer.concat([self.partBuffer, buf]);`

Imagine if each write is only a 100 bytes, there are too many concat operations. Much more efficient to add "buf" to an array of buffers and then do one final concat when enough data has been queue

[2015-05-07 18:20] lsegal commented on #597
Can you describe how you implemented this behavior and where you added this? Was this added to the SDK directly?

[2015-05-08 02:52] emptyemail commented on #597
I did not modify the SDK, I just put a transformer in between the SDK and my other streams.

CoffeeScript

[code]

[2015-05-08 08:23] lwoggardner opened #598 "No way to remove all S3 bucket notifications"
S3#putBucketNotificationConfigration  requires the NotificationConfiguration property, but the API method to remove all notifications is to send an empty value.

I have tried
- empty object > MissingRequestBody
-  null > Required Parameter
-  "" > Expecting Structure

[2015-05-08 08:32] lsegal commented on #596
@aaaristo have you tried playing with the queueSize? A c3.4xlarge would likely have more I/O and CPU resources to handle potentially more concurrent requests. It's also possible that you are saturating the I/O or CPU with 10 and it needs to be reduced. Playing with the value should provide some different performance characteristics.

You may also want to make sure you're using Node.js 0.12.x, whic

[2015-05-08 17:58] lsegal commented on #598
Passing an empty NotificationConfiguration parameter is the expected usage, but I can confirm this is a bug. I am investigating this.

[2015-05-08 18:51] #598 closed

[2015-05-08 18:52] lsegal commented on #598
This is fixed by the above commit and will be in our next release. If you want to run it now you can:

[code]

And use:

[code]

[2015-05-08 19:00] lsegal commented on #554
@chaosgame any update on this? I'm seeing multiple data points in this thread that are unable to confirm a regression. It doesn't look like disableProgressEvents would actually resolve the issue, which means if this *is* an issue, it's likely sitting in another part of the codebase.

[2015-05-08 20:17] lsegal commented on #597
@emptyemail thanks for the info, this is something we can certainly start doing in the SDK-- it will probably simplify some of our internal logic too.

[2015-05-08 22:18] #549 closed

[2015-05-08 22:18] #597 closed

[2015-05-09 15:31] musicullum commented on #468
I try the same thing. The one thing that's missing for the server to generate the pre-signed Url for uploadPart is the "operation" parameter. Would that be "uploadPart"? I might try but because it's rather complex, i'd very much apprechiate a solution (if it's only a confirmation that it can actually be done this way).
I'm a bit confused why there is almost no information to be found for this part

[2015-05-09 18:44] lsegal commented on #468
@musicullum as pointed out above, it is possible to do, but you must generate a signed request for each operation, meaning you must know how many parts are being sent and the ETags for each individual part. If you know all this, you can sign each request and send it down to your client.

[2015-05-10 02:14] lwoggardner commented on #598
Thanks
On 9 May 2015 4:53 am, "Loren Segal" <notifications@github.com> wrote:

[2015-05-11 02:07] shooding commented on #468
@vkovalskiy and @musicullum
Here is a working example of server-side PHP:
[code]

When you upload part from the client side, do:

[code]

Since -v option is on, you can see HTTP debug information and see the ETag in response.
You should make a MD5 of your local file part and compare it to the ETag, or
just irresponsibly accept everything AWS replies.

Sorry i didn't use js at the client side, but

[2015-05-11 10:45] musicullum commented on #468
Thanks a lot shooding. I figured out the command methods that I was missing, and so far successully downloaded a file this way from a server generated presigned url. Knowing and understanding how it works, this should now be applicable to the multipart upload sequences.
My client is actually a desktop (Qt) application, so having download working this way it should work out. So thanks again, also t

[2015-05-12 14:43] vkovalskiy commented on #468
thanks a lot @shooding !

[2015-05-13 15:03] doapp-jeremy opened #602 "Sequential Execution in DynamoDB calls?"
I have code that looks like this:
[code]

All of the getItem calls complete before the first putItem call completes.  I have lowered the read throughput on the table so I get some throttling, and still I see the same behavior.

Is this expected behavior, or am I doing something wrong?

[2015-05-13 15:08] mhart commented on #602
Expected behaviour – your `for` loop is synchronous, so it will fire off all 100 `getItem` calls before the next event loop ticks around (when the callbacks will get called).

If you want to do this synchronously, then you need to wait until the callback is called in each `getItem` before calling another `getItem`. You can roll your own pattern for this, or just use something like https://github.c

[2015-05-13 15:18] mhart commented on #602
For example, this will do what you want (if I understand what you want to achieve correctly):

[code]

[2015-05-13 15:22] doapp-jeremy commented on #602
Right, except getItem doens't always return almost immediately.  During testing, I set the read throughput to 1 and get throttling.   Say that I have 99 queries that take 10ms, and 1 query that takes 10 seconds.  I would expect to continue on with my putItem for the 99 that have finished, before waiting for the one that takes 10 seconds, but that's now that I see.  I see all 100 put's waiting unti

[2015-05-13 15:26] mhart commented on #602
@doapp-jeremy well, that's still non-deterministic – that might just be due to the throttling on the http agent from node. There's no guarantees about order in the code you've posted.

If you do:
[code]
Before you instantiate your DynamoDB client, that might change things.

[2015-05-13 15:28] mhart commented on #602
(sorry, I'm assuming you're using node not the browser)

[2015-05-13 15:31] doapp-jeremy commented on #602
Yep, using node, I'll give that a shot.

[2015-05-13 15:33] doapp-jeremy commented on #602
And now it's working as I expected.  Thanks!

[2015-05-13 15:34] #602 closed

[2015-05-13 15:36] mhart commented on #602
This also only happens in node 0.10.x and below btw. Node 0.12 and io.js shouldn't have this issue – so I'm assuming you're on 0.10.x...

[2015-05-13 15:38] doapp-jeremy commented on #602
Yep, I am.  I wish I could use io.js, but I'm writing this for lambda.  Can you push those guys to support io.js soon ;)

[2015-05-13 15:41] doapp-ryanp commented on #602
@mhart not sure how much pull you have on the Lambda team, but we've been pushing them to allow consumers of the service to specify node js version for reasons like this.  Right now Lambda only supports 0.10.33.  We understand how the pace of dev is hard to support in a production environment - however node is still in it's infancy, so being able to use new versions is critical.  For example, as @

[2015-05-13 16:03] mhart commented on #602
I wish I had pull! Have been thinking the same thing. It's certainly possible to run io.js on Lambda, I've done this – you can include the binary in your function zip (or download it on the fly) and then spawn out to it – but it does take a good second or two to fire up.

Would be great if it was an option.

[2015-05-13 17:53] lsegal commented on #602
@doapp-ryanp @mhart I would recommend opening an issue on the [AWS Lambda forums](https://forums.aws.amazon.com/forum.jspa?forumID=186) as this would be the best way to let the team know about your feature request-- they check the forums far more often than this project's issues. We set our roadmaps based on customer feedback, so go forth and leave them this feedback!

[2015-05-13 18:23] doapp-ryanp commented on #602
@lsegal done.  For others who come across this thread here is the post (so you can up-vote ;): https://forums.aws.amazon.com/thread.jspa?threadID=180512

[2015-05-13 22:42] anthonator opened #603 "Webpack support"
Has anybody gotten this library to work with webpack? The webpack team recently fixed a [ternary require issue](https://github.com/webpack/webpack/issues/627) which fixed a show stopper.

I was able to fix an issue with loading a JSON file with the `json-loader`. Now I'm getting:

[code]

Which is causing the individual services to not be included in the packaged bundle.

So doing `new AWS.S3()` r

[2015-05-14 07:45] fpereiro opened #605 "Out of memory when downloading a large file from S3"
Hi there! I am using node.js (v0.12.1) and the aws-sdk (latest version, 2.1.27) to download a large S3 file (~4.8GB). I am using the following code, taken from the documentation (http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-examples.html):

var AWS    = require ('aws-sdk');
var s3 = new AWS.S3 ();
var params = {Bucket: 'BUCKET NAME', Key: 'FILE NAME'};
var output = fs.createWriteStream (

[2015-05-14 19:05] lsegal commented on #603
I think in this case a site like [StackOverflow](http://stackoverflow.com/) might be a better venue to ask this kind of question. The SDK unfortunately does not currently support Webpack, since we currently have our tooling working with browserify. It seems like this specific issue might be a lot more complicated to solve based on the error, but someone who knows more about the webpack tool may be

[2015-05-14 19:06] lsegal commented on #605
Has this been happening all the time, or has it only began recently? Specifically, have you tried this in Node 0.10.x before? This would be useful information to diagnose the problem.

[2015-05-14 20:08] fpereiro commented on #605
I just tried to run the script the script with node v.0.10.35 and the
memory usage looks normal. However, the transfer speed is very low
(~100KB/s) compared to the ~5-10MB/s of previous downloads.

Immediately after, I reran the script with node v.0.12.1 and memory usage
also looks normal - however the download speed is still very slow. My guess
is that because S3 is transferring the files slowly,

[2015-05-15 00:25] wearhere opened #609 "Cognito identities are cached per-pool but not per user"
`AWS.CognitoIdentityCredentials` will not fetch a Cognito ID [if one is already cached](https://github.com/aws/aws-sdk-js/blob/master/lib/credentials/cognito_identity_credentials.js#L152). But since IDs are keyed [only on the identity pool ID](https://github.com/aws/aws-sdk-js/blob/master/lib/credentials/cognito_identity_credentials.js#L288), only one ID can be cached per-pool. This may cause ID/l

[2015-05-15 00:30] wearhere commented on #609
In the meantime, a workaround is to call [`clearCachedId`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityCredentials.html#clearCachedId-property) before using an AWS service. But because `clearCachedId` is an instance method and [it doesn't clear the instance's information](https://github.com/aws/aws-sdk-js/pull/608) you've got to re-initialize the instance after clearing t

[2015-05-15 19:46] TehNrd opened #610 "SQS receiveMessage() has memory leak"
There appears to be a memory leak with receiveMessage() function for SQS in node. This issue is very simple to reproduce. I've created a repo to reproduce this issue, https://github.com/TehNrd/node-sqs-mem-leak . This is using node 0.12.2.

Here is the code:
[code]

Here is the log output. Memory usage will continue to grow unchecked.
[code]

[2015-05-15 19:57] mhart commented on #610
A couple of things spring to mind:

1. It can often take a while for the GC to kick in (ie, many minutes) – are you sure that nothing is being reclaimed?
2. Depending on how many requests you've got in flight at any time, it could just be open sockets. Try doing this before your code and see if it helps:

[code]

[2015-05-15 20:00] mhart commented on #610
Oh sorry, I can't tell if you're using https or not – so you might need to do this just to be sure:

[code]

[2015-05-15 20:08] TehNrd commented on #610
Some thoughts:

1) GC, it never kicks in, or if it does it is missing things. That log selection is just a small sample. It will keep growing into the GB size.

2) Even if sockets are infinite shouldn't they be closed after receiving the response. And shouldn't they also be re-used with socket pooling if not. (node core is not my strength so not sure here). I am trying the maxSockets change now. W

[2015-05-15 20:11] TehNrd commented on #610
Add max sockets made no difference. Memory usage still grows unchecked. I also tried this below, just to be more explicit, in addition to the code you provided but with no success.

[code]

[2015-05-15 20:18] TehNrd commented on #610
This actually has nothing to do with receiveMessage(). In the code above if you replace receiveMessate() with getQueueAttributes() you still get the same memory growth issues. Seems to be an issue with performing "lots" of calls (10/second) and this causing memory growth.

[code]

[2015-05-15 20:26] TehNrd commented on #610
Good news, this does not appear to be an issue with AWS SDK. Even doing basic requests to google in a loop are causing memory issues. Bad news, seems to be a larger issues with node core.

Even doing this call in the loop causes memory issues.

[code]

[2015-05-15 20:26] #610 closed

[2015-05-15 20:34] mhart commented on #610
@TehNrd I think you might want to wait a bit longer checking your GC results when using a fixed number of agents (like in the code I posted)

I see the heap total stabilise around 77MB when using a maxSockets of 10.

[2015-05-15 21:21] AdityaManohar commented on #540
@chetandhembre
I would recommend opening a feature request with the [DynamoDB Document SDK](https://github.com/awslabs/dynamodb-document-js-sdk) project.

I'm marking this as closed in favor of the feature request that you can open here: [awslabs/dynamodb-document-js-sdk/issues](https://github.com/awslabs/dynamodb-document-js-sdk/issues).

Feel free to open another issue if you have any questions.

[2015-05-15 21:21] #540 closed

[2015-05-15 21:29] AdityaManohar commented on #576
@balmasi would you be able to verify if you still see this issue with `v2.1.28` of the SDK?

There were a couple of related fixes and performance improvements in `AWS.S3.ManagedUpload` that landed in `v2.1.28`.

[2015-05-15 21:40] TehNrd commented on #610
Yup, I am seeing the same thing @mhart . Thanks so much! For some reason I thought node would be better about throwing away/re-using sockets as 10/sec is not that many really.

[2015-05-15 21:43] TehNrd commented on #610
Oh, and keep up the great work! Library is so much better to work with than trying to interact with these APIs directly!

[2015-05-15 22:37] fpereiro commented on #605
I confirm that this only happens with node v.0.12.x. I tried again with 0.10.35 and memory usage is stable. With v.0.12.x and adecuate bandwidth, RAM usage grows at an average of ~30MB/s.

Let me know if you need further info.

Thanks!

[2015-05-15 23:16] lsegal commented on #605
@fpereiro could you bisect 0.12.x to figure out which version of 0.12.x this is an issue with? It almost seems like this might be a regression in 0.12.x itself. The SDK doesn't actually manage downloads through createReadStream, we delegate to stream.pipe() directly, so if there is a memory leak that is specific to 0.12 it would be due to some implementation detail in that version.

[2015-05-16 00:37] fpereiro commented on #605
Hi there,

I tried with both 0.12.1 and 0.12.3 (the latest version) and the leak is
present in both versions (I am assuming that the same will happen for
0.12.2).

Can you point me to the code that delegates to stream.pipe ()?

2015-05-16 1:16 GMT+02:00 Loren Segal <notifications@github.com>:

[2015-05-16 00:48] lsegal commented on #605
@fpereiro sorry I may have misspoke slightly-- we don't call pipe() ourselves, but we delegate all events through. You can see the createReadStream implementation here: https://github.com/aws/aws-sdk-js/blob/master/lib/request.js#L558-L582

You can however access the low-level stream object if you want to test with it. Sample code is available in the description for #345. Using this lower-level st

[2015-05-18 09:54] fpereiro commented on #605
I found a possible bug at line 559 of request.js. In node 0.10.x,
legacyStreams is set to false, however in 0.12.x it is set to true.

However, making the code ignore this condition on 0.12.x (and jumping
straight to the else in line 566) still doesn't resolve the leak for 0.12.x.

Unfortunately I don't have time to keep on finding the error in the stream
interface. For now, we will use a node 0.1

[2015-05-18 16:05] billinghamj commented on #278
Worth noting another way to do this is:

[code]

`ninvoke` ensures that `this` is correctly bound.

[2015-05-18 19:00] lsegal commented on #605
@fpereiro I can confirm that using the code in #345 works around this issue for me in 0.12.x. Still investigating what is going on in request.js that might trigger this issue.

[2015-05-18 21:43] AdityaManohar commented on #593
I'm marking this as closed because there hasn't been any recent activity.

As @lsegal mentioned `TTL` is conditionally required. Feel free to reopen this issue or open another issue if you have any questions.

[2015-05-18 21:43] #593 closed

[2015-05-18 23:21] balmasi commented on #576
@lsegal Actually I ended up HAVING TO use in-memory buffer to bypass this problem.
@AdityaManohar I'll let you know as soon as I test it.

[2015-05-19 21:50] tgroshon opened #614 "Handle CloudSearch Query Limit"
When making a request to a CloudSearchDomain with the SDK, if the query is too long, the SDK returns an `UnknownError` with code 413.  To overcome the error, we had to patch the `request` object to convert to a *POST*.

[code]

It seems like this should be handle transparently by the SDK.  You could use *POST* for all requests or optionally if the `request.httpRequest.path.length` is too large.

[2015-05-20 16:44] dhollenbeck commented on #301
+1

[2015-05-20 19:01] chaosgame commented on #554
Hey sorry for the super long delay in updating.  I'm being pulled in a number of different directions at work and while this is a high priority for me, it's unfortunately not the highest.  I will keep you posted when I get more time to work on this.  Thank you for all the help you've given us.

[2015-05-21 15:14] pablocaselas opened #615 "AWS lambda - Recursive process.nextTick detected. RangeError: Maximum call stack size exceeded"
Trying to use createFunction from AWS.Lambda({apiVersion: '2015-03-31'}) like this...
[code]
I get the following warnings that result in an abrupt error and the process finishes.

I am using node v10.0.32.
[code]

Trying to upload the same zip from a ec2 machine results in previous error but works okay from my local machine(tried same node version v10.0.32). Any idea on what could be causing it??

[2015-05-21 18:01] AdityaManohar commented on #615
@pablocaselas
This is a known issue with Node v0.10.x (see [joyent/node/issues/#6065](https://github.com/joyent/node/issues/6065). This has also been discussed a couple of times on this repository as well (see #158).

We did investigate changing the `highWaterMark` setting of `stream.Readable`, but noticed a non-trivial memory performance regression (see #551).

Let me know if upgrading your Node

[2015-05-21 19:19] #605 closed

[2015-05-21 22:05] TimothyGu commented on #473
+1. @AdityaManohar would you accept a pull request adding this feature?

[2015-05-21 22:21] pablocaselas commented on #615
Yes, it seems to be working fine. Thanks!

[2015-05-21 22:21] #615 closed

[2015-05-21 22:35] lsegal commented on #473
@TimothyGu unfortunately, in order to address consistency, any decision we make would have to be an acceptable approach for our other SDKs, so a pull request would have to be reviewed by our other teams.

[2015-05-22 01:57] TimothyGu commented on #473
@lsegal, makes sense. Is such a pull request at all possible? Is there some centralized issue tracker or should I submit the pull request to this repo only and ping all other SDK teams? Thanks.

[2015-05-22 02:06] lsegal commented on #473
@TimothyGu there's no good central place. We've brought this up before to find out how we could probably share configuration-- the thing we all wanted to avoid was having configuration that was meaningful to one SDK but not useful (and thereby unsupported) by others. We tried to find a common set of options, but really the only one we could come across was support for region (which is already supp

[2015-05-22 02:08] TimothyGu commented on #473
@lsegal cool thanks!

[2015-05-22 13:20] fpereiro commented on #605
I confirm that the memory leak is gone with this fix (I used aws-sdk v.2.1.30).

Thank you very much for looking into this!

[2015-05-24 20:26] bkw opened #617 "s3.upload() does not really support arbitrarily sized buffers"
Streaming a big file to s3.upload() can cause the PartNumber parameter to overflow the allowed maximum of 10000, resulting in an `InvalidArgument: Part number must be an integer between 1 and 10000` Error.

I managed to work around the problem by using a 10mb `partSize`, but I think the documentation should be updated to reflect this limitation.

btw, using a partSize of 20mb resulted in another f

[2015-05-24 20:43] lsegal commented on #617
If this is not mentioned in our docs I agree that it should be.

What version of Node.js are you using?

[2015-05-24 20:47] bkw commented on #617
[code]

[2015-05-24 20:52] lsegal commented on #617
I would suggest upgrading to 0.12. The Recursive nextTick issue is a known one in Node.js, see https://github.com/joyent/node/issues/6065.

[2015-05-25 18:25] dukeatcoding commented on #257
One year later and I still run into the same problems. I think the SDK should handle this issue, since it looks like S3.getObject does not make sense without a check for a complete Download.

[2015-06-02 18:42] LasCondes opened #618 "Generate Signed Cookies in Lambda for Serving Private Content w/ CloudFront"
I've posted this question in the AWS Lambda Forum and been directed here.

https://forums.aws.amazon.com/thread.jspa?threadID=181683

The AWS .NET SDK recently added this functionality.

https://blogs.aws.amazon.com/net/post/Tx13FWI3QBQXMZ1/Serving-Private-Content-Through-Amazon-CloudFront-Using-Signed-Cookies

It would be really helpful to have this added to the javascript SDK to be used in an AW

[2015-06-03 03:15] theplatapi opened #619 "[SNS] Verify messages come from Amazon"
I noticed that the [Ruby](https://github.com/aws/aws-sdk-ruby/blob/1d59bf1cc170f55439887ff6a48cbcd5582389c7/aws-sdk-resources/lib/aws-sdk-resources/services/sns/message_verifier.rb) SDK has an easy way to verify a SNS message comes from Amazon. This would be really nice for JavaScript. I've been stuck for days trying to verify a message is authentic. I'm sure I'm not the only one.

[2015-06-03 13:14] salmaanahmed commented on #455
@Erve1879 the link is broken, can you please post again.

[2015-06-04 04:53] clemesha opened #620 "Cannot load SDK into Google Apps Script"
Hi,

I'm currently writing a simple service using https://developers.google.com/apps-script/
and I cannot get the SDK to load. I'm currently working with aws-sdk-2.1.32.

I've followed these steps:
http://googleappsdeveloper.blogspot.com/2012/11/using-open-source-libraries-in-apps.html
and still haven't got it to work.
I have tested the above method to load 'underscore.js', and that is working.

I

[2015-06-05 02:21] cbkihong opened #621 "S3 SSE-C Key Cannot be Binary?"
I refer to the same use case I had with #469 for which we are trying to use the Node.js AWS SDK to GET a previously uploaded S3 object encrypted by SSE-C. However, I just ran into an interesting observation that apparently binary string keys would be garbled upon construction of the API request. Tracing that, it looks like being the way the Buffer is being initialized for base64/crypto making an a

[2015-06-05 18:25] AdityaManohar commented on #620
Can you explain what you are trying to do? I am able to include the SDK as a script tag directly on a html partial and use it in that partial page.

![screen shot 2015-06-05 at 11 24 12 am](https://cloud.githubusercontent.com/assets/966440/8012324/76cb36de-0b75-11e5-971a-10694206f74b.png)

[2015-06-05 21:54] clemesha commented on #620
Hi, thanks for the response. I'm trying to use the AWS SDK as a library. See attached screenshot of using underscore.js and moment.js vs the AWS SDK.
![screen shot 2015-06-05 at 2 52 58 pm](https://cloud.githubusercontent.com/assets/42060/8015988/b38fa6aa-0b92-11e5-8114-3f0d48f508e4.png)

[2015-06-05 22:22] AdityaManohar commented on #620
The AWS SDK distributable relies on the existence of the `window` object. As I understand, Google Apps Script explicitly disallows any global access. I would recommend using an HTML partial with script tag. This way, you have access to the Google Apps Script libraries as well as the AWS SDK. You will even be able to pass data from your AWS resources into Google Apps.

Let me know if this helps.

[2015-06-08 06:11] clemesha commented on #620
I'm looking to just create a stand-alone Google Apps Script (GAS) that uses the built-in GAS "Time-driven" Events trigger.
In that stand-alone script I'm reading in emails from Gmail, then I hope to use the AWS SDK to trigger AWS Lambda functions, post data to S3, etc.

Let me know if this is possible, or if there are work-arounds to deal with the lack on the window object.
Thanks again.

[2015-06-08 07:39] lsegal commented on #620
It seems like the [article you posted](http://googleappsdeveloper.blogspot.com/2012/11/using-open-source-libraries-in-apps.html) provides a number of workaround to include libraries in your code:

And also:

Did you try either of these methods? Note that loading the AWS SDK should be equivalent to the methodology required to load Underscore that is described in that post. Specifically, both librar

[2015-06-08 08:09] lsegal commented on #620
@clemesha I gave this a shot and was able to load the SDK with minimal adjustment to the aws-sdk.js file:

[code]

The `AWS` variable was made available to my script using this method.

Hope that helps!

[2015-06-08 08:42] clemesha commented on #620
Ok, thank you for the very helpful updates! I just now tried what you suggested,
and things did get further, but as you also mentioned, there's other dependancies it relies on,
see attached screenshot of current test. Are these unfixable issues? Thanks again.
![screen shot 2015-06-08 at 1 38 00 am](https://cloud.githubusercontent.com/assets/42060/8030911/7d49d0ae-0d7f-11e5-9ce2-09ac7f9e9c0b.png)

[2015-06-08 09:12] lsegal commented on #620
Yes, these are unlikely to have a workaround. See the second paragraph in my last response. Most notably, GAS has no native support for XHR, which is integral to the correct functioning of the SDK.

[2015-06-08 10:31] clemesha commented on #620
Ok, understood. Thanks again @AdityaManohar and @lsegal !

[2015-06-08 10:31] #620 closed

[2015-06-08 18:38] AWSRandall opened #622 "Broken link to the API reference"
I was looking at this page: https://github.com/aws/aws-sdk-js/blob/master/doc-src/guide/index.md and it has a broken link to the API reference.

Expected:link to http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/index.html (for Node.js)

[2015-06-08 18:58] AdityaManohar commented on #622
@AWSRandall
What you are referencing is the documentation source. Here is the corresponding published documentation: http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/. The link to the API reference documentation is pointing to the correct page.

[2015-06-08 18:58] #622 closed

[2015-06-08 19:00] AdityaManohar commented on #621
@cbkihong I'm looking into this and will have a fix out shortly, that should support blob keys as well.

[2015-06-08 19:07] AdityaManohar commented on #603
I'm marking this as closed since this isn't an SDK issue. Feel free to open another issue if you have other questions.

[2015-06-08 19:47] nousacademy opened #623 "get multiple json files"
Is there a way to display all contents of a folder, in my case I have json files, and render them all?? Instead of one at a time??

[2015-06-08 20:27] lsegal commented on #623
Can you provide more information about what you are trying to do, which version of the SDK you are using and environment (browser / Node.js)? Code would also be helpful to understand and reproduce your issue.

[2015-06-08 20:35] nousacademy commented on #623
I'm using the NodeJS environment, version 2.1.14.  I want to list all objects within a folder which I've done, but then GET all my json files within it, to display them. So far I see that I can only GET one json file at a time.

[2015-06-08 20:42] lsegal commented on #623
@nousacademy if you are referring to the `AWS.S3` service, then you are correct that you can only GET one single object from S3 at a time. Note that Node.js will pool and re-use connections (especially in Node 0.12+), so these requests may end up re-using the same HTTP connection.

[2015-06-08 21:09] AdityaManohar commented on #623
To add to what @lsegal said, you can use the [`async`](https://github.com/caolan/async) module with the SDK to download your Amazon S3 objects serially or in parallel. For example:

[code]

Hope this helps!

[2015-06-08 22:23] #621 closed

[2015-06-08 22:25] AdityaManohar commented on #621
@cbkihong the above fix should allow you to use binary keys. Let me know if you run into any issues!

[2015-06-09 01:17] cbkihong commented on #621
Haven't tried the fix yet but will do later today, and thank you so much for the quick fix. One question though, I noticed that in your tests you utilized AWS.util.Buffer though it seems from util.js (at present) it is just made an alias to Node.js core Buffer. Can we be certain that we can directly reference Node.js Buffer instead of AWS.util.Buffer when we specify the params, since AWS.util.Buff

[2015-06-09 01:28] lsegal commented on #621
@cbkihong `AWS.util.Buffer` safely models the Buffer object. It's an alias for browser environment compatibility.

[2015-06-09 13:29] cbkihong commented on #621
Tested and looks like this change worked for us. Will wait for your release, thank you again!

[2015-06-09 16:52] nousacademy commented on #623
@lsegal @AdityaManohar thanks, I'm testing it out now!

[2015-06-09 17:42] chollier commented on #256
same here

[2015-06-09 19:45] nousacademy commented on #623
I'm getting this error from aws:

    /Users/nousacademy/Desktop/Projects/testapp/node_modules/aws-sdk/lib/request.js:32
              throw err;
                    ^
    Error: Can't set headers after they are sent.

[2015-06-09 20:07] AdityaManohar commented on #623
Can you post the code you are using?

[2015-06-09 20:12] nousacademy commented on #623
s3.listObjects(params, function(err, data) {
            res.send(data);

        async.each(data.Contents, function(key, cb) {

            var params2 = {
                Bucket: 'johnsbookmarkapp',
                Key: key.Key
            }
            s3.getObject(params2, function(err, data) {

                res.send(data.Body.toString())
            });

            //console.log(key.Key)

[2015-06-09 20:46] AdityaManohar commented on #623
Looks like you are trying to do `response.send()` twice. Here:

and here:

This effectively means you are sending more than one response per request which is not possible. See [Stack Overflow: cant-do-multiple-res-send-in-express-js](http://stackoverflow.com/questions/25542521/cant-do-multiple-res-send-in-express-js).

There are a couple ways to work around this:

1. Make a `AWS.S3.listObjects()`

[2015-06-09 20:53] nousacademy commented on #623
@AdityaManohar wow nice work around thanks!

[2015-06-10 01:42] lsegal commented on #256
@chollier I would suggest re-verifying your permissions. In all of the above cases there was an environment / configuration error causing these permission errors, not the SDK. We've yet to reproduce any actual issue in the SDK, and the SDK is not actually passing any extra permission information besides "public-read" (if that's what you passed through).

[2015-06-10 04:35] nousacademy commented on #623
@AdityaManohar It works now, but the order is destroyed. payload.list[0] is not equal to the contents associated with payload.objects[0]

[2015-06-10 04:43] lsegal commented on #623
@nousacademy good point, you will want to assemble your data using the key as a key in a map instead of a list, which would keep order.

That said, I would strongly encourage you to follow the suggestion in (1) instead of (2). Using the second method imposes a lock around the entire UI while it waits to get *all* data. A more responsive UI would incrementally fetch items and populate them as they

[2015-06-11 02:33] ramonck opened #625 "AWS Lambda on Browser: Context.succeed() value not returning to invoke from Browser"
Hey guys,

I have a function in Lambda where I'm fetching information and I want to return results.
I can log the results with console.log in CloudWatch, but I need to get the results back to my javascript :).

I'm trying currently using the context.succeed value in the front-end (javascript) but I have not had success yet, I'm able to console.log it in cloudwatch, but I only get Status 202 in the

[2015-06-11 02:47] lsegal commented on #625
Ideally you should be using the new [`invoke()`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Lambda.html#invoke-property) function. This allows you to synchronously return data. You can see a couple of examples in Lambda's own "Custom" template functions. For example, using the "Hello World" sample Lambda function. the code to call with invoke would be:

[code]

The above function

[2015-06-11 20:38] kyriesent commented on #527
@evansolomon did you ever find the cause/solution for this? I've got the same issue on a docker machine running on debian:jessie. Pretty much same exact stack trace as yours.

[2015-06-11 23:47] lsegal commented on #200
@nkratzke Quick update in case you're still interested! Amazon EC2 has recently introduced CORS support and the AWS.EC2 service is now available in the hosted build of the AWS SDK for JavaScript in the browser:

http://blogs.aws.amazon.com/javascript/post/Tx30V18CDJFNSB/Announcing-CORS-Support-for-Amazon-EC2

[2015-06-12 00:18] evansolomon commented on #527
@kyriesent Sorry, never really figured it out

[2015-06-12 00:41] ramonck commented on #625
Worked like a charm, thank you.

[2015-06-12 00:41] #625 closed

[2015-06-12 01:59] chollier commented on #256
Indeed my bad, I was apply the policy to the wrong role..

—
Sent from Mailbox

On Tue, Jun 9, 2015 at 6:42 PM, Loren Segal <notifications@github.com>
wrote:

[2015-06-12 05:45] nkratzke commented on #200
Thanks a lot for this information.

Nane

Loren Segal <notifications@github.com> schrieb am Fr., 12. Juni 2015 um
01:47 Uhr:

[2015-06-12 12:32] ramonck opened #626 "Thank you for the help guys"
I would like to thank Amazon's work in helping us in our Lambda efforts, it's such a great piece of technology and it's the future to many upcoming projects, thank you Amazon for helping me with my efforts and projects, I love it how you guys help me fast :).

[2015-06-12 14:28] kyriesent commented on #527
Turns out mine was a clock syncing issue on my VM. Running a sync between the VM and the host cleared it up.

[2015-06-12 14:29] nousacademy commented on #623
@lsegal I'm just curious as to how ill delete and update that object? Is the only way to do that using the absolute path??

[2015-06-12 15:41] nousacademy commented on #623
I got it nevermind

    s3.getObject({Bucket: 'bucket', Key: 'key'}).on('success', function(response) {
      console.log("Key was", response.request.params.Key);
    }).send();

[2015-06-12 16:35] nousacademy commented on #623
I cannot get the <code>response.request.data.Body</code> with <code>response.request.params.Key</code> it keeps giving me an undefined when I try to get the Body. What am I doing wrong????

[2015-06-12 18:17] AdityaManohar commented on #623
The [`data`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Response.html#data-property) property is on the [`Response`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Response.html) object, not the [`Request`](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Request.html) object. You can access it as `response.data.Body`.

[2015-06-12 18:28] nousacademy commented on #623
haha oops... <img src='http://images.sodahead.com/polls/002658747/1856902986_barack_obama_facepalm_xlarge.jpeg'>

[2015-06-12 19:11] kylehg commented on #554
Hi all, I work with @chaosgame, sorry for the long delay on our end. I'll be picking this up for him.

I've rerun tests using the benchmark script you provided, and I'm consistently seeing a performance regression. Here's the result of 10 tests, run on an EC2 `m1.small` machine:

[code]

Excluding the clear outlier in the v2 run, this represents a regression of 13% for GETs and 16% for PUTs.

Thes

[2015-06-12 19:59] nousacademy commented on #623
Thanks @lsegal and @AdityaManohar I have everything! Appreciate the help!

[2015-06-13 14:58] nousacademy commented on #623
Ok I thought I was done:

     for (var i = 0; i < jsonData.length; i++) {

                    $.get('/fldrContents', {
                        contents: jsonData[i].Key
                    }, function(data) {
                        var b = JSON.parse(data.body);

                    });
        }

I'm lost at how to put all the responses I get from my get call into one object. Theyre all coming

[2015-06-13 16:18] ramonck opened #627 "Cognito after AWS SDK JS loaded"
Hey guys,

Sometimes when doing Cognito with unauthenticated I'm receiving that AWS has not been loaded yet this is the Javascript Error: "Uncaught ReferenceError: AWS is not defined".

I was trying to use the boundaries outside to wait for AWS onload, but it's not working as expected, sometimes I still get the error even with the boundaries.

[code]

Is there a better way for waiting for the SDK

[2015-06-13 18:57] nousacademy commented on #623
I got it I had to use a promise

[2015-06-13 23:31] lsegal commented on #626
@ramonck thank you for the kind words, I'll be sure to pass this feedback on to the Amazon Lambda team as well!

(Marking as closed since this is not an actual problem but certainly a welcomed "issue"!)

[2015-06-13 23:31] #626 closed

[2015-06-13 23:38] lsegal commented on #627
@ramonck I can suggest a few ways to unblock yourself here, but following up with some more information on how you are loading the SDK might help us point you in a better direction.

1. Generally speaking, using `<script src=>` tags should cause the SDK to load synchronously on the page-- that is, any code block *after* the `<script>` tag should have `AWS` available to it. As long as you put the s

[2015-06-14 00:03] ramonck commented on #627
Yes,
I can provide some feedback :).

I don`t want to load AWS SDK JS synchronously due to the critical rendering path, I want to keep up with the 100% on the Page Insights (Google) so I want to keep on loading the majority of my script async.

Will do what you said.

Best Regards

[2015-06-14 02:04] ramonck commented on #627
The error doesn`t come up anymore as your solution solves it, but the Cognito behavior is a bit weird now, sometimes is works sometimes it doesn`t, I don`t see the Cognito log in a couple of refreshes sometimes yes, others no. Here`s the url http://m.jtavares.com.br.s3-website-us-east-1.amazonaws.com/

Best Regards

[2015-06-14 02:33] lsegal commented on #627
@ramonck looks like it's occasionally running the event prior to you registering it, which likely has to do with the ordering of where you are dynamically loading the SDK vs your frontend.js file. If the aws-sdk*.js is cached, the dynamic load will happen before you load the frontend script. My suggestion would be to make sure you load frontend.js before you asynchronously load everything else, or

[2015-06-14 10:21] ramonck commented on #627
I'm certain you're right about the caching, the caching mechanism is messing up the loading of the aws sdk.

I'm loading is as <script async> call separatly, will try to call it dynamically inside my script so I can enforce the order (frontend.js)

Thanks for the advice, will give feedback if it worked well.

Best Regards,

[2015-06-14 12:07] ramonck commented on #627
Solved it, loaded async within script and putted the AWS code (Cognito) dependent on it.

Thanks again for the help, it's now working fully cached ;).

Best Regards

[2015-06-14 12:07] #627 closed

[2015-06-15 10:47] ronag opened #628 "Retry Redirect?"
The documentation mentions `response.error.redirect = true` on the ´retry´ event but not how to specify what to redirect to?

[2015-06-15 11:07] wuethrich44 commented on #281
I use a stream to upload a war file to s3 and set the content length with the file size. On slow internet connections (1 Mbps upload) I get this error:
[code]
I am using version 2.1.33 so the workaround doesn't work for me.

@lsegal Could you explain me a fix for a stream?

[2015-06-15 18:34] kylehg commented on #554
It seems I spoke too soon — turns out the benchmark script was not even connecting to DynamoDB Local, and was swallowing errors, so the results above are invalid. After fixing the script (in the repo above) and rerunning, I'm seeing results with little significant difference:

[code]

In light of this, we're going to try upgrading our services to the latest SDK once more. I'll update if we run int

[2015-06-15 18:40] AdityaManohar commented on #554
@kylehg Thanks for keeping us posted! Glad to know that your test results are not showing any significant change in performance between v1.x and v2.x.

[2015-06-15 19:44] lsegal commented on #554
@kylehg given this last bit of data I think we have enough conclusive data to resolve this issue. Do feel free to re-open or file a new issue if you ever end up running into this again, though!

[2015-06-15 19:44] #554 closed

[2015-06-15 19:50] AdityaManohar commented on #623
@nousacademy I'm going to mark this issue as closed because it looks like you have this working. Feel free to reopen this issue or open another issue if you have other questions.

[2015-06-15 19:50] #623 closed

[2015-06-15 19:53] lsegal commented on #628
@ronag can you point to where you are seeing this documentation? `redirect` is not a publicly documented property. Can you explain what you are trying to accomplish? The SDK should be handling redirects on your behalf and only based on the server response.

[2015-06-17 05:50] nousacademy commented on #623
@AdityaManohar having another issue. When I try to GET one of my folders that has no subfolders and only files within it. It gets all of my files BUT it also gets the folder path which breaks my app. Example response:

    Object {path: "bookmarks/Bookmarks Toolbar/", body: ""}

As you see its getting the folder without any files. Because obviously a folder by itself is nothing! How do I get aroun

[2015-06-17 05:57] lsegal commented on #623
@nousacademy if there is actually an S3 object named `bookmarks/Bookmarks Toolbar/` that has no contents, my suggestion would be to remove that object in S3, as it doesn't represent any actual data in your application. S3 is a flat key namespace, so the concept of "folders" does not exist and does not need to be represented specially with an object placeholder.

That said, if you do have value in

[2015-06-17 06:07] nousacademy commented on #623
@lsegal got it

[2015-06-18 18:56] alanmimms opened #630 "InstanceType isn't enumerated"
In the other language SDKs the EC2 service's "enum type" InstanceType has enumerated values in an array or whatever (even in Java's baroque and crappy way of describing such things if you use introspection). But the JavaScript SDK doesn't have, e.g., the string "C4xlarge" anywhere - searching case insensitively. It would be OH so nice if the JavaScript SDK also had an exported array listing the va

[2015-06-18 19:00] lsegal commented on #630
@alanmimms you can find the list of enumerated properties in our documentation alongside the parameter you're looking at, i.e., InstanceType: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/EC2.html#runInstances-property

It is "c4.xlarge", by the way, noting the period. Hope that helps!

[2015-06-18 23:59] dirkraft opened #631 "s3.headObject - where is ContentLength?"
I'm trying to get the size of a file in S3 (from the browser) without actually downloading the entire file. It seems like `Content-Length` or `response.ContentLength` just isn't there. Am I misunderstanding how this works?

Here's a fiddle that gets a public-accessible file from S3 to show this. http://jsfiddle.net/dirkraft/9xbpoL8v/3/

Some environment details
[code]

[2015-06-19 00:03] dirkraft commented on #631
Added some environment details to the description

[2015-06-19 00:06] lsegal commented on #631
@dirkraft if you're running this from the browser you have to ensure that you've exposed the headers you want in your [CORS configuration](http://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html) (see the ExposeHeader field). The SDK will not be able to access any response headers that are not exposed in this way, as a CORS security restriction in your browser.

[2015-06-19 00:16] dirkraft commented on #631
Thanks for the quick response. This is the CORS of s3://bits.dirkraft.com as of now (just added the ExposeHeader element)

[code]

 curl seems(?) to see a header named Content-Length
[code]

so does Chrome dev tools
![screen shot 2015-06-19 at 12 12 57 am](https://cloud.githubusercontent.com/assets/487920/8245003/f723f3dc-1617-11e5-9574-87f00cbd4cc9.png)

Any more pointers?

[2015-06-19 00:19] lsegal commented on #631
It's showing up in the Fiddle now for me.

[2015-06-19 00:22] dirkraft commented on #631
Ah it does now for me too. Fantastic. Thanks very much and keep up the great stuff

[2015-06-19 00:22] #631 closed

[2015-06-19 19:52] alanmimms commented on #630
Wow! Thanks. I was looking at the Java SDK when I wrote the above and of course the "." is missing from the Java symbol but not the string it's bound to. Thank you for helping me find it.

[2015-06-19 20:23] lsegal commented on #630
@alanmimms

That's correct, the enumerable values are available in documentation only and are not present in the source. We *could* add enumerable values as an array somewhere inside of the service classes, or even as a set of "constant" properties, but this would not really be all that beneficial in the long run as:

1. You would likely need to visit documentation in order to find what these cons

[2015-06-19 20:56] alanmimms commented on #630
No, that's precisely the opposite of my point, really. I WANT to be able to do this programmatically so I can present the user with a list of choices in a GUI for orchestrating his application, and along the way I also want to give him the set of tradeoffs for his application based on the strengths and weaknesses of those instance types. I need a way - and would VERY much prefer a web service rath

[2015-06-19 21:07] lsegal commented on #630
@alanmimms I think that makes sense. Note that although we don't package the full models in the npm package (to preserve space), you can look at including the full EC2 API model definition in your code ([apis/ec2-2015-04-15.normal.json](https://github.com/aws/aws-sdk-js/blob/master/apis/ec2-2015-04-15.normal.json)). All enumerable properties are listed in these definitions and is how we generate o

[2015-06-19 21:11] alanmimms commented on #630
Thanks! I can now fish on my own. But I do think my proposal of a web service to do all of this and also to allow queries for capabilities of each instance type is the way to go as the instance types change frequently and there are MANY more each time you add some. Your current scheme doesn't scale well as more are added. It's getting out of hand, no?

Thanks very much for the help.

[2015-06-19 21:16] lsegal commented on #630
@alanmimms

For this I would recommend starting a forum post on the [Amazon EC2 forums](https://forums.aws.amazon.com/forum.jspa?forumID=30) to request this feature. I agree that it would be a useful thing to have in the API!

[2015-06-22 10:05] PunkyPot opened #632 "Error on put bucket Notification"
I'm trying to add bucket notification to a bucket but failing with error : `Unable to validate the following destination configurations`, and full error:
[code]
I'm trying to put an event that's run on: `s3:ObjectCreated:*` and uses lambda
here is the code i'm trying to run:

[code]

UPDATE:

If i create manually an event and delete it, the code above works fine

[2015-06-22 22:20] AdityaManohar commented on #632
Can you share the raw HTTP response body?. The raw HTTP response body can be accessed in the following manner:

[code]
My initial guess is that your S3 resource is not authorized to invoke your Lambda function. The raw HTTP response should throw some light on what is actually happening.

[2015-06-23 10:41] PunkyPot commented on #632
[code]

You are right, but how should i give s3 permissions?

[2015-06-23 17:38] dconnolly opened #633 "Resume multipart upload with 'leavePartsOnError'?"
As far as I can tell from the current implementation of `ManagedUpload`, the user has to do a lot of work/bookkeeping to resume an upload that partially completed and then left parts behind. Trying to start a `ManagedUpload` from where it left off will not kick off the chunks that failed prior to the current `partPos`, and the 'complete' request will be incomplete or malformed. Is there any way to

[2015-06-23 18:00] lsegal commented on #633
@dconnolly it's something we could support as a feature addition. We would be happy to look at a PR. I'll mark this as a feature request.

[2015-06-23 18:03] dconnolly commented on #633
Awesome, thanks. :+1:

[2015-06-23 20:49] lsegal commented on #632
@PunkyPot you can take a look at the [AWS Lambda guide](http://docs.aws.amazon.com/lambda/latest/dg/walkthrough-s3-events-adminuser.html) for information and diagrams on how to configure Amazon S3 buckets with Lambda. For example,

This is the access policy that you must configure.

[2015-06-24 01:43] #585 closed

[2015-06-24 11:00] ddimitrioglo opened #637 "[AWS.SES] directly from javascript"
We are trying to send an email using AWS.SES, directly from javascript like this:
[code]

but we are receiving an error: "Could not find API configuration SES-2010-12-01"

Is it possible to send the email from javascript directly?

[2015-06-24 11:01] ondruska commented on #637
AWS SES is not amongst the services you can use from browser: http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-services.html

[2015-06-24 11:14] ddimitrioglo commented on #637
How about this ambiguous article?
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Service.html

[2015-06-24 12:20] lsegal commented on #637
@ddimitrioglo @ondruska is correct, the AWS.SES service is not part of the hosted version of the SDK-- this is explained in the browser guide link provided above. The API reference guide that you linked lists the entire API, not specific builds of the SDK.

Note that Amazon SES does not currently support CORS and therefore is not included in the hosted build of the SDK. You can build it yourself b

[2015-06-24 21:15] ondruska opened #638 "Release notes for 2.1.36 misses API versions"
The notes on http://aws.amazon.com/releasenotes/5873934951898767 are missing API versions

[2015-06-24 21:19] AdityaManohar commented on #638
Which client are you specifically referring to? All the API updates are backward compatible and shouldn't affect any consuming code.

[2015-06-24 21:21] ondruska commented on #638
Compare with release notes for 2.1.35 http://aws.amazon.com/releasenotes/3577030144306744 . Supported API versions section.

[2015-06-24 21:22] AdityaManohar commented on #638
Oops! I missed that. Thanks for catching this @ondruska !

[2015-06-24 21:52] mdouglass opened #639 "Error stacks thrown in callback lose the stack context"
If you throw an error inside a callback from one of the DynamoDB APIs the original call stack and error type of the error is lost.

[code]

**Actual Error:**
[code]
**Expected:**
ReferenceError pointing to the line of code in my callback function, rather than to Request.callListeners

[2015-06-24 21:57] AdityaManohar commented on #638
This is now fixed: http://aws.amazon.com/releasenotes/5873934951898767

Thanks much for reporting @ondruska !

[2015-06-24 21:57] #638 closed

[2015-06-25 14:10] binoculars commented on #401
It's a system time issue http://stackoverflow.com/questions/18295185/invalidsignatureexception-signature-expired-timestamp-is-now-earlier-than-t

[2015-06-26 00:22] DelvarWorld opened #641 "loadFromPath should be a relative path"
It's not mentioned [here](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html) that `loadFromPath` is relative to where you ran your node instance. This is counter-intuitive in a node ecosystem, where *all* requires are relative paths. `loadFromPath` should always load relative to the file it's called from.

[2015-06-26 00:35] lsegal commented on #641
@DelvarWorld thanks for opening this issue. You're right that it loads from your working directory (`process.cwd()`) and not the executing file. I think we can make the documentation more clear, but note that this is *not* a `require()` call, and actually follows the standard Node.js convention for fs calls. In fact, this is the exact same behavior as:

[code]

This is, in fact, the exact implemen

[2015-06-26 03:57] DelvarWorld commented on #139
Not sure if this will help anyone, but:

The domain for my files in S3 is as follows:

    s3-us-west-1.amazonaws.com

But when I instantiate the sdk and pass in `"region": "s3-us-west-1"`, I get the same Hostname/IP error. It turns out the string you're supposed to pass is just "us-west-1" without the s3- prefix.

[2015-06-26 14:38] amiorin opened #642 "waitFor spotInstanceRequestFulfilled doesn't wait."
The status is ``pending-evaluation`` and not ``fulfilled``.
I tried the callback version too. Same problem. Did a miss anything in the [api docs](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/EC2.html#spotInstanceRequestFulfilled-waiter)?

[code]

[2015-06-29 02:22] ryancole opened #643 "How to specify `content-length-range` for S3 `putObject`?"
I don't know if this is possible with `putObject`, to S3, but I found the following [link](http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html) via Google. It mentions a `content-length-range` setting that would restrict direct-to-S3 upload file size on S3's side. I'm interested in limiting file upload sizes to S3 in a scenario where I'm pre-signing `putObject` reques

[2015-06-29 02:25] lsegal commented on #643
@ryancole the `content-length-range` policy value is part of the **POST object** operation, not putObject. The AWS SDK for JavaScript currently does not support POST operations; though you can use other tools (or this [document](http://aws.amazon.com/articles/1434)) to set up that operation.

[2015-06-29 14:11] ramonck opened #644 "PageSpeed Insights complains about script not gzipped"
Srs.,

I have and issue with you guys not gzipping the javascript on https://sts.amazonaws.com/?Action=AssumeRoleWithWebIdentity&RoleArn=***&RoleSessionName=web-identity&Version=2011-06-15&WebIdentityToken=*****

I don't get the 100% on Google PageSpeed Insights due to this, it's a Cognito script.

PageSpeed: https://developers.google.com/speed/pagespeed/insights/

My page: http://m.jtavares.com.b

[2015-06-29 19:13] AdityaManohar commented on #644
@ramonck
This is the service response from AWS Security Token Service (STS). The actual request does include the `Accept-Encoding:gzip, deflate, sdch` header. It is left to the service whether they wish to compress content before wire transport. There is really nothing that the SDK can do to mitigate this.

I also picked the response of the STS call from your page and ran it through gzip compressi

[2015-06-29 19:15] AdityaManohar commented on #628
I'm marking this as closed as there hasn't been any recent activity. Feel free to reopen this issue or open another issue if you have any questions.

[2015-06-29 19:15] #628 closed

[2015-06-29 19:17] ramonck commented on #644
Thanks for the feedback, I'm not too worried about the size, I'm worried about the score, want to keep up the 100%.

What would be a good practice for lazy loading the unath role in cognito so I don't have this issue on page load, that way I would turn around this issue and keep the 100% without waiting for a 600kb reduction.

Best Regards,

[2015-06-29 19:25] AdityaManohar commented on #630
@alanmimms I'm marking this as closed as you do seem to have a workaround for now. Feel free to reopen this issue or open another issue if you have any questions.

[2015-06-29 19:25] #630 closed

[2015-06-29 20:20] AdityaManohar commented on #644
You should be able to lazy load your Cognito credentials by hooking into the `window.onload` or `(document).ready()` (looks like you are using jQuery) handlers.

Let me know if this helps!

[2015-06-29 20:22] AdityaManohar commented on #637
I'm marking this as closed as there doesn't seem to be an issue with the SDK. As a side note, I would recommend opening an issue on the [Amazon SES Forums](https://forums.aws.amazon.com/forum.jspa?forumID=90) requesting CORS support.

Feel free to reopen this issue or open another issue if you have other questions.

[2015-06-29 20:22] #637 closed