[2021-09-14 14:22] clar-cmp commented on #2611
The solution I mentioned inside the aws-sdk codebase is probably the best we can do until a major version change where the type can be made into an actual class:

To elaborate, I was thinking something like this:

1. Add a (private) symbol to every `AWSError` instance.
2. Make an `isAWSError` function which checks if an object has a key with that private symbol.

Could also make use of `Object.def

[2021-09-14 22:34] hipstern commented on #3850
same here

[2021-09-15 00:06] #3437 closed

[2021-09-15 07:37] loretoparisi commented on #3722
@alexcasalboni thanks Alex, I have corrected the test case, for the same JSON object I did N tests, and get the mean value of download time (and JSON parsing time):

[code]

Now, we have

[code]

while in Python

[code]

so it confirms what you noticed.

[2021-09-15 07:37] #3722 closed

[2021-09-15 10:00] alexcasalboni commented on #3722
Thanks for sharing! And glad I could help :)

[2021-09-15 10:51] saintzyo commented on #3850
@IvanovOleg @hipstern try this
`const AWS = require('aws-sdk');

AWS.config.credentials = new AWS.TokenFileWebIdentityCredentials().refresh();`

[2021-09-15 15:40] mayank0202 opened #3887 "BUG"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-09-15 18:39] jonnyfux opened #3888 "Lambda Invocation fails to return result"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2021-09-15 19:10] vikasingh95 opened #3889 "SQS `[TimeoutError: socket hang up]` Error"
Hi,

Recently, we've been getting `socket hang up` errors while sending messages to the SQS queue. After doing some research found an issue that might be related to this. (https://github.com/aws/aws-sdk-js/issues/367)
Tried the solution mentioned in the thread i.e. to set the timeout for the SDK, still no luck.

Node version - v10.17.26
SDK version - V2.695.0

The code snippet that is being used t

[2021-09-16 18:18] mfbx9da4 opened #3891 "DynamoDB: 500 InternalServerError transactWrite on specific table"
Hi,

**Description**
We are trying to execute the following `TransactItems` request

[code]

About 50% of the time we get the following error. Before throwing the error, the request hangs for about 20s.

[code]

**Things we have checked**
* The error disappears when we use the aws-cli like so `aws dynamodb transact-write-items --transact-items '[{"Put":{"TableName":"fake_table_name","Item":{"fake_

[2021-09-17 00:05] #3220 closed

[2021-09-17 01:25] younky-yang commented on #3284
I had the similar issue like below when I running directus on fargate
{ Error: connect EINVAL 169.254.169.254:80 - Local (0.0.0.0:0)
    at internalConnect (net.js:882:16)
    at defaultTriggerAsyncIdScope (internal/async_hooks.js:294:19)
    at defaultTriggerAsyncIdScope (net.js:972:9)
    at process._tickCallback (internal/process/next_tick.js:61:11)
    errno: 'EINVAL',
    code: 'EINVAL',

[2021-09-17 06:12] lajpatshah commented on #3878
Is nobody else facing this issue?

[2021-09-19 00:06] #3027 closed

[2021-09-20 13:49] fiveironfrnzy08 commented on #3478
I just came across this same issue and, using the same added else case, the issue was fixed. This is happening on iOS Cordova as well, with an iPhone 12 mini on 14.7.1.
`"TimestampParserError: unhandled timestamp format: at, 17 Apr 2021 14:13:29 GMT"`

[2021-09-20 14:55] mattBrzezinski opened #3892 "EC2 RunInstancesRequest potential improperly named parameter"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers

---

I have a r

[2021-09-20 22:01] danchaseCTS commented on #1876
I've just blown the last 3 hours because I couldn't get the payload to make it into the lambda, and following Amazon's example exactly, did not work. Where does it say that it has to be base64 encoded? Once I tried to do this using Invoke (payload) in C#, the client immediately complained it could not encode JSON.. So I just created a request object and serialized it directly into the payload vari

[2021-09-21 01:34] ajredniwja commented on #3892
Hi @mattBrzezinski thanks for opening this issue, I believe your understanding is correct, as for the SDK there are no customizations around EC2 meaning all the logic is done by the EC2 team and SDK validates it against the model provided. With that being said, the `clientToken` is being used at several positions which makes it very unlikely to be a bug but I can stil check with the EC2 team if th

[2021-09-21 01:41] mattBrzezinski commented on #3892
Thanks for the reply! It seems that there are various other requests which run into this issue. Another example is the `ModifyInstanceAttribute` with the `instanceId` parameter.

[2021-09-21 01:43] ajredniwja commented on #3892
@mattBrzezinski Let me reach-out to the EC2 team to have more clarity, this may take a while.

[2021-09-21 01:59] ajredniwja commented on #3891
Hello @mfbx9da4, thanks for providing all the details as it really helps. Now coming to the issue, at my end, not able to reproduce it but according to the information provided the `Internal server error` suggests something wrong on the AWS side. You mentioned that "All other tables execute fine with this exact same operation." is there anything different with this table? I am gonna involve someon

[2021-09-21 02:07] ajredniwja commented on #3891
Can you please provide:

[code]

And as many as you can provide in the following (leave the obvious and already provided info):

1. What is the error rate you are seeing?

=> Transient failures are expected (should be covered with retries) because of network blips, table undergoing partition splits, leader failovers, concurrent request handling resource exhaustion etc. However, prolonged failure r

[2021-09-21 02:16] ajredniwja commented on #3889
Hey @vikasingh95 can you please check if `sslEnabled` param is set true in your code. I was not able to reproduce a simple `SQS.sendMessage` request. Also would recommend to update the version of the SDK to latest.

Please fill out the [issue template](https://github.com/aws/aws-sdk-js/issues/3889) with complete information for me to be able to help you better.

[2021-09-21 02:25] ajredniwja commented on #3888
Hey @jonnyfux thanks for opening the issue, I see the `timeout` missing `:` not sure if its a type with that being mentioned please see the trouble shooting guide found [here](https://aws.amazon.com/premiumsupport/knowledge-center/lambda-function-retry-timeout-sdk/) and let me know if the solution there doesn't work for you. Would be happy to help.

[2021-09-21 02:26] ajredniwja commented on #3887
Closing this issue due to lack of any information.
Please feel free to open a new issue if you need any help with the SDK.

[2021-09-21 02:26] #3887 closed

[2021-09-21 02:33] ajredniwja commented on #3884
Hey @minchch thanks for opening this issue, you can find the necessary information in [this doc](https://docs.aws.amazon.com/general/latest/gr/aws-sec-cred-types.html). With a section for best practices as well.

What I can guess is that you havent configured credentials which usually are set using one of the methods mentioned in the [doc](https://docs.aws.amazon.com/sdk-for-javascript/v2/develope

[2021-09-21 02:33] #3884 closed

[2021-09-21 02:40] ajredniwja commented on #3878
@lajpatshah thanks for opening this issue, can you please follow the resolution steps mentioned [here](https://aws.amazon.com/premiumsupport/knowledge-center/access-key-does-not-exist/).

Also see how to correctly use the temporary keys in this [doc](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_use-resources.html)

Feel free to reach out if you have any other questions.

[2021-09-21 02:45] ajredniwja commented on #3612
This was fixed, please reach out if that is not the case.

[2021-09-21 02:45] #3612 closed

[2021-09-21 03:01] ajredniwja commented on #3867
Hi @alexKoltman for opening this issue, unfortunately this is not possible using the JS-SDK or the python SDK that you are using. Maybe using the CDK it is achievable but Im unsure about that.

[2021-09-21 03:03] ajredniwja commented on #3863
Transferring to the correct repo.

[2021-09-21 05:46] lajpatshah commented on #3878
@ajredniwja thank you for looking into the issue.

I followed every possible aws doc to solve the issue but have been unsuccessful. As mentioned above I am using EC2 instance role with required permissions to upload files to S3 using POST request.

The credentials are derived automatically by aws sdk and i am not using session token explicitly in my code. Hence using the credentials I am able to t

[2021-09-21 10:08] bitshiftnetau opened #3893 "XMLParserError: Non-whitespace before first tag when retrieving object from s3 bucket"
The following code will spit out an error about whitespace parsing:

[code]

Here is the full stack:

[code]

This happens with private or public buckets and various file types.

For context I am using these keys and secrets for other services in this app and they work just fine.

[2021-09-21 10:38] mfbx9da4 commented on #3891
No problem!

It does but I only get this error via when using the javascript SDK which suggests it's something to do with how this SDK forms the request.

Nothing notable other than having a different table name and different partition key / indexes. As mentioned, changing the table name "fixes" the issue and changing the name of the partition key also "fixes" the issue, suggesting there is nothin

[2021-09-22 15:03] JoeChapman commented on #3812
This is still an issue, are there any plans to upgrade?

[2021-09-22 16:59] alexforsyth opened #3894 "v2 relies on "@aws-sdk/signature-v4"; But it doesnt take it as a dependency."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2021-09-22 22:28] ajredniwja commented on #3893
@bitshiftnetau hi there, not able to reproduce this, can you provide more details about your use case?

[2021-09-23 00:06] #3452 closed

[2021-09-23 03:50] Emmanuel-Nika opened #3895 "AWS-SDK intergration in angular"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers

I'm using Angul

[2021-09-23 03:57] mingchuno opened #3896 "Assertion parser->current_buffer_.IsEmpty() failed in Node when using Upload in @aws-sdk/lib-storage in cloud environment"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-09-23 18:28] AllanZhengYP commented on #3894
@alexforsyth I cannot reproduce this issue. Can you confirm this from a freshly intalled package? This dependency might have been brought in by V3 clients, and might be related to https://github.com/aws/aws-sdk-js-v3/issues/2806

[2021-09-23 20:54] renatorroliveira commented on #1624
Any progress at all on this? It is really annoying not having the proper ENUM functionality on a typescript system for a strictly defined model

[2021-09-24 07:11] bitshiftnetau commented on #3893
Hi, this is possibly related to a permissions issue on the bucket. Which is odd because I have other buckets that were cloned from, which work to hold private keys. Very odd indeed but seemingly unrelated to this sdk.

[2021-09-24 07:11] #3893 closed

[2021-09-26 00:06] #3449 closed

[2021-09-27 07:24] vikasingh95 commented on #3889
Thanks! @ajredniwja. After enabling the `sslEnabled` flag the issue got resolved.

[2021-09-27 07:24] #3889 closed

[2021-09-27 21:29] blimmer opened #3898 "Add waiter for ECS ExecuteCommand / ManagedAgent to be RUNNING"
**Is your feature request related to a problem? Please describe.**

I love using the new [ECS Exec](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-exec.html) behavior to be able to run arbitrary commands against my ECS Fargate tasks. However, my main ECS `Task` reports that it's `RUNNING` before the Managed SSM Container is `RUNNING` and ready to accept `executeCommand` tasks.

Fo

[2021-09-27 22:30] ajredniwja commented on #3867
Closing this issue, please reach out if you have any questions related to JS SDK. Thankyou

[2021-09-27 22:30] #3867 closed

[2021-09-28 01:45] debragail commented on #3265
What was the resolution on this?  I'm getting a similar error on one of my node lambdas

[2021-09-28 08:52] bohana commented on #3203
One note we observed when Lambda is a Python function using `boto3`: it appears `boto3` does not use the endpoint names expected by lambda when inside a VPC.

* Lambda expects: `https://sqs.<region>.amazonaws.com`
* By default, Boto uses: `https://<region>.queue.amazonaws.com`

To see which URL was created for the Boto resource object, you can inspect the `sqs.meta.client.meta.endpoint_url` proper

[2021-09-28 13:36] Nevon opened #3899 "SSM PutParameter logs parameters in plain text"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-09-28 14:08] mfbx9da4 commented on #3891
The error has started appearing on the new table name
TableName: `onin-dev-Accounts-2`
RequestID `VP8BNTB8MMT53RUR18UNHFHAH7VV4KQNSO5AEMVJF66Q9ASUAAJG`

[2021-09-28 16:26] nypinstripes opened #3900 "49 new webpack build warnings about __ spreadArray in tslib in 2.996.0"
Browser/Node.js v16.8.0

aws-sdk 2.996.0

I believe it was after moving to this latest version we've started seeing 49 of the following warnings in our Webpack 5 build output.

WARNING in ./node_modules/@aws-sdk/signature-v4/dist/es/cloneRequest.js 13:94-107
export '__spreadArray' (imported as '__spreadArray') was not found in 'tslib' (possible exports: __assign, __asyncDelegator, __asyncGenerator

[2021-09-28 17:31] trivikr commented on #3873
Closing as the issue is in v3 being discussed at https://github.com/aws/aws-sdk-js-v3/issues/2741

[2021-09-28 17:31] #3873 closed

[2021-09-28 17:42] ajredniwja commented on #3599
Hi @kellertobias, Apologies I lost track of the issue, I was not able to reproduce the issue with the code provided, it'll be helpful to see the stack trace and use [this](https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_MetricDataQuery.html) for reference.

[2021-09-28 17:46] ajredniwja commented on #3627
@Nevon apologies for late reply here V3 was able to have the full implementation of all the DynamoDb functions, with that being said, I believe you are right but since its already fixed in V3 of the SDK it takes less of a priority. We welcome PRs in case you wanna open one but I am not sure about the priority for this mostly because V3 was intended to solve this problem.

[2021-09-28 17:48] ajredniwja commented on #3629
Hi @fabio-vitali-docebo, thanks for opening this issue, is it still a persisting issue, apologies I lost track of this issue, but I am not sure how you are consuming the SDK in your use case.

[2021-09-28 17:58] ajredniwja commented on #3354
@jedwards1211 sorry lost track of the issue,
 https://github.com/aws/aws-sdk-js/blob/f1c69ef7606a53f143f70c9da5f6e9737be4b060/apis/route53-2013-04-01.normal.json#L5010

 Looking here, it is set by the service to be a string which wasnt marked as a bug originally because it wasnt a bug with the SDK itself, with that being said, I believe it'll be a breaking change for many customers if it is change

[2021-09-28 18:05] ajredniwja commented on #3411
@kirananto, apologies I lost track of this issue, mainly because I saw a workaround available. I believe this will be more of a usage issue for which we can add something to the documentation regarding this. I can take your suggestions on what you'd like.

[2021-09-28 18:08] ajredniwja commented on #3652
Hey @tjunnone apologies that I lost track of this issue, I will take this to the Route53 team as I am not sure why this particular  API is left out, thanks for your patience on this. Will update you soon.

[2021-09-28 18:17] ajredniwja commented on #3655
@surya-pipra apologies I lost track of this issue, The [doc](https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html) you must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. So might want to try to include the token you receive in the response you get initially

[2021-09-28 18:30] ajredniwja commented on #3659
@matthias-herrmann, apologies lost track of this issue, I believe this is because `openpgp.encrypt` does not return a stream, check this documentation: https://www.npmjs.com/package/openpgp you can use another library like `fs` to create a stream with your data, I haven't tested it but that might solve this issue.

[2021-09-28 18:55] jedwards1211 commented on #3354
So you're saying you'll release a fix with the next major version right?

[2021-09-28 19:38] fabio-vitali-docebo commented on #3629
hi @ajredniwja I use the sdk to interact with the EventBridge api. but you're right, it's not the right thread, I should open an issue at the EventBridge service level. thanks!

[2021-09-28 19:38] #3629 closed

[2021-09-28 20:37] ajredniwja commented on #3661
Hi @A-Kazakova, https://docs.aws.amazon.com/general/latest/gr/chime.html suggests that there is only a single endpoint. You might want to mentions `mediaRegion` see https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html

I would recommend you to use the [Chime SDK](https://github.com/aws/amazon-chime-sdk-js) for chime related apps.
Check: https://aws.amazon.com/blogs/business-

[2021-09-28 20:39] ajredniwja commented on #3669
@dermidgen apologies for being late, you mean to use V3 of the SDK?

[2021-09-28 21:49] ajredniwja commented on #3900
Hey @nypinstripes,thankyou for opening this issue, can you please share your use case, and any repro code that I might use.

[2021-09-29 00:11] nypinstripes commented on #3900
Seems to be complaining about this import for aws-amplify.

[code]

Everything else is abstracted within /node_modules

Using the latest of these 2 packages as well, however it seems there is no repo where a changelog or release notes exist, that i have found for them.

[code]

[2021-09-29 00:13] JacobWeyer commented on #1876
Yeah explicitly in the CLI docs here: https://docs.aws.amazon.com/cli/latest/reference/lambda/invoke.html#examples

[code]

Yet if I do the same thing I get a "Could not parse request body into json" from the cli.

[2021-09-29 05:01] tejaschandra911 opened #3901 "Error: Could not find API Configuration kinesisvideo-2017-09-03"
Getting the following error when I'm trying to invoke the class 'KinesisVideo'. We have upgraded the aws-sdk to the latest version i.e., version 2.996. The same version of SDK seems to work fine in Android 1.4 and react 15 but, does not work in react 17.
Please help
![Screenshot from 2021-09-28 13-56-54](https://user-images.githubusercontent.com/90621493/135205977-38a0d350-e062-4731-b5b2-41a8812c1

[2021-09-29 14:40] dermidgen commented on #3669
Yes, that project is pinned to v3 for ... "reasons" 🤷

[2021-09-29 22:49] ajredniwja commented on #3900
Hi @nypinstripes, thanks for mentioning that, I believe it is using V3 of the SDK under the hood, can you open an issue with the amplify team at https://github.com/aws-amplify/amplify-js, I believe they'll be able to help with this better.

[2021-09-29 22:56] ajredniwja commented on #3354
The json for models that we are talking about is generated by the service, I can take the request to them as a bug, but since it will be a breaking change and the docs mention it to be a string, I'd personally feel this should not be changed.

I'll update you once I hear back from them.

[2021-09-29 23:03] ajredniwja commented on #3891
Have taken that to the team

[2021-09-29 23:14] ajredniwja commented on #3901
HI there, unfortunately, was not able to reproduce the issue.

Code I used:
[code]

Please follow the [issue template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=) in order for us to help you better.

[2021-09-29 23:24] ajredniwja commented on #3895
HI @Emmanuel-Nika, thanks for opening this issue, as mentioned in the issue, webpack does not pollyfill for core node modules anymore. So the workaround would be to pollyfill manually. Have seen this issue [here](https://github.com/angular/angular-cli/issues/20819) with workarounds, I have personally used [this](https://www.npmjs.com/package/node-polyfill-webpack-plugin) module in the past to get

[2021-09-29 23:37] ajredniwja commented on #3872
@esoler-sage, thanks for opening this issue, I'd need to have a word with the Lex V2 team as they return this data.
Will get back to you as soon as I hear back.

[2021-09-29 23:56] ajredniwja commented on #3862
Hi @edwinveldhuizen, thanks for opening this issue, can you please share complete repro code?

[2021-09-29 23:59] ajredniwja commented on #3858
@Bcharishma thanks for opening this issue, I am not sure how you are consuming the SDK and JS SDK, hence if you can give me some more details which are asked in the [issue template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=)

[2021-09-30 01:20] ajredniwja commented on #3669
I was confused as this is V2 repo:

but with V3 you can do something like:

[code]

[2021-09-30 01:46] jedwards1211 commented on #3354
Just because something is documented doesn't make it right.  If it were right to use a string for the page size then all AWS APIs would use it for paging, but I'm not aware of any others that do.  The only legitimate reason to use a string for an integer value would be to support very large numbers, but that would mean ludicrously huge pages, so there's no valid reason to use a string for a page s

[2021-09-30 01:53] ajredniwja commented on #3354
@jedwards1211 My bad, I wanted to mention docs in context of people already using it, I am more concerned about the breaking change but I have let the Route53 team know and will share what reasoning they have and if they want to make this change. Thanks

[2021-09-30 01:54] jedwards1211 commented on #3354
And as far as breaking changes go, maybe they could add support for passing numbers but continue to allow string values.

[2021-09-30 02:01] tejaschandra911 commented on #3901
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issues](http

[2021-09-30 02:04] osddeitf commented on #3085
Well, I wasted almost a day because of this. My object displayed with Type column in S3 Console, I thought it had been auto-detected.

[2021-09-30 02:24] ajredniwja commented on #3855
Hi @nexun thanks for opening this issue can you use something like(using a file stream) :

[code]

Let me know if that doesn't solve the issue.

[2021-09-30 02:34] ajredniwja commented on #3854
Hey there @leowucn301, can you try using `upload` https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#upload-property

This will spin up a multipart upload which will buffer the stream till the `partSize` size is reached. It is default to 5mb but can be changed in the params.

Let us know if you have any other questions.

[2021-09-30 02:34] #3854 closed

[2021-09-30 02:36] ajredniwja commented on #3847
@ShivamJoker hi there thanks for opening this issue, can you share how you are consuming the SDK? I might not be able to understand the question but it might not be related to the SDK.

[2021-09-30 02:36] ajredniwja commented on #3847
Closed by mistake

[2021-09-30 02:46] ajredniwja commented on #3850
@IvanovOleg can you make sure you  have OIDC token to a file (ASCII encoding) and share the filename in either AWS_WEB_IDENTITY_TOKEN_FILE environment variable or web_identity_token_file shared config variable?

[2021-09-30 02:48] ajredniwja commented on #3846
Hey @Vuinfang, thanks for opening this issue, can you please share a reproducible code?

[2021-09-30 03:01] ajredniwja commented on #3845
Hey @jeffbernst, thanks for opening this issue, unfortunately I am not able to reproduce the issue. Also thanks for providing the case number, I can check with the team. With that being said, it seems cloudWatch metrics can help but I'd still need a reproducible case. Its unlikely that SDK is swallowing errors for this. Is there anything that is not mentioned? Any race conditions or hitting the li

[2021-09-30 04:07] ajredniwja commented on #3844
@Glutch thanks for sharing the solution here, apologies could not get to you earlier.

Closing this issue now, please reach out and feel free to tag me if you have any other questions.

[2021-09-30 04:07] #3844 closed

[2021-09-30 04:11] ShivamJoker commented on #3847
I am using the AWS CDK and the application is being deployed to lambda.

I had to install the package separately to get it to work.

[2021-09-30 04:15] ajredniwja commented on #3847
Glad its working for you, I was confused as this is the JS repo. For future CDK issues you can use: https://github.com/aws/aws-cdk

Closing this issue now, feel free to reach out and tag me if you have any other questions.

Thank you.

[2021-09-30 04:15] #3847 closed

[2021-09-30 04:19] ajredniwja commented on #3843
HI @iannisacksson, thanks for opening this issue and apologies for late reply.

You'd need to ask for service limit increase, see:
https://aws.amazon.com/premiumsupport/knowledge-center/sns-sms-spending-limit-increase/

Or open the ticket mentioned in the message.

This is not SDK related issue but with SNS service.

Closing this issue now, please reach out if you have any questions or want me to

[2021-09-30 04:19] #3843 closed

[2021-09-30 04:23] ajredniwja commented on #3842
@JoseRolles, thanks for brining this up, have reached out to the team that manages the API reference for the changes.

[2021-09-30 04:32] ajredniwja commented on #3841
Hi @zgheibali thanks for opening this issue, you'd need to use: `updateUsagePlan` with `op: 'remove'` to remove the API stages and then call the `deleteUsage` function.

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/APIGateway.html#updateUsagePlan-property

Closing this issue now, feel free to reach out/tag me/re-open if you have any other questions.

[2021-09-30 04:32] #3841 closed

[2021-09-30 09:55] ajredniwja commented on #3838
@sourabpramanik thanks for opening this issue and apologies for late reply, seems like a usage issue where you might not be getting the right value for `claims`. Can you please check that?

[2021-09-30 09:58] ajredniwja commented on #3836
@thienna thanks for opening this issue, seems similar to https://github.com/aws-amplify/amplify-js/issues/6041

Amplify-js repo would be the right place to ask more specific questions.

Thanks

[2021-09-30 09:59] sourabpramanik commented on #3838
It was solved long time ago. Thankyou

[2021-09-30 10:01] #3838 closed

[2021-09-30 10:01] ajredniwja commented on #3838
@sourabpramanik would you mind sharing your solution here for future users?

[2021-09-30 10:04] ajredniwja commented on #3832
@Nevon, thanks for bringing this up, reached out to the documentation team to make the appropriate changes.

V441608905

[2021-09-30 10:08] ajredniwja commented on #3834
@cbgandhi thanks for opening this issue can you please check https://docs.aws.amazon.com/connect/latest/adminguide/create-contact-flow.html

Also can you please share how you are consuming the SDK? Maybe share the code?

[2021-09-30 10:09] mfbx9da4 commented on #3891
Thank you very much! I have also upgraded to a support plan and opened a support case: `Case ID 8963449741` as this is quite serious for us.

I used [yesno](https://formidable.com/open-source/yesno/) to see the underlying http request. Something like 90% of server responses are `500`s the reason it sometimes succeeds is that the client by default retries and sometimes one of the retries will go th

[2021-09-30 10:15] ajredniwja commented on #3891
@mfbx9da4 I'll try to escalate it, DynamoDb already has a higher retry default (10), I believe bumping that up wont be much of a help, the issue might be something else.

[2021-09-30 10:15] seoker commented on #3284
seeing this issue when I was deploying on a certain fargate service too

[2021-09-30 10:18] ajredniwja commented on #3833
@anilpandey071999 Thanks for opening this issue. I am not sure if I understand the question correctly, but https://docs.aws.amazon.com/AmazonS3/latest/userguide/enable-server-access-logging.html this might be what you are looking for. Let me know if that isnt the case.

[2021-09-30 10:27] ajredniwja commented on #3673
Related to https://github.com/aws/aws-sdk-js-v3/issues/2564

[2021-09-30 10:37] ajredniwja commented on #3681
@laputa7 thanks for opening this issue, can you share some more info on what API you are calling and share the code that you are using?

[2021-09-30 10:52] ajredniwja commented on #3686
Hi @brianle1301, thanks for opening this issue, you can use something like mentioned in https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-iam-roles.html

Or try [policy generator](https://console.aws.amazon.com/iam/home#/policies$new?step=edit) to then expand and mark all the related operations.

Can help you specify permissions if the above doesn't work for you.

[2021-09-30 11:06] mfbx9da4 commented on #3891
Thank you very much @ajredniwja 🙂

[2021-09-30 12:22] IvanovOleg commented on #3850
@ajredniwja It was there last time I've checked. I went to a pod and checked the content of the token and variables. Currently I can't since that was a POC that didn't work. I will try again with the JAVA library soon.

[2021-09-30 16:57] AllanZhengYP commented on #3864
@cristian-marinescu Thank you for reporting this issue and the detailed analytics. The root of this issue is that `ContentMD5` is not reset in the `DeleteObjects` model, so the code believe the header is not applicable, even if models says it requires contentMD5 header. I will put up a fix soon

[2021-09-30 17:03] dermidgen commented on #3669
@ajredniwja Derp! ZOMG; didn't realize it was a separate repo.  Thank you.

[2021-09-30 17:03] #3669 closed

[2021-09-30 17:11] esoler-sage commented on #3872
Awesome, thanks! In the mean time, I will try also with the V3 version to see if it happens the same or if it works there

[2021-09-30 17:41] tejaschandra911 commented on #3901
@ajredniwja We managed to fix the problem. The issue was with the webpack 5 rule for JSON. Since, we were using webpack 3 and json-loader prior to the upgrade to react 17, we weren't facing this issue. We had to move to 'asset-modules' but, for some reason its not able to get the JSON file using 'asset-modules'.

We started using 'file-loader' though, it'll be deprecated as an interim fix but, sin

[2021-09-30 17:41] #3901 closed

[2021-09-30 21:19] AllanZhengYP commented on #3864
@cristian-marinescu I find this error only affects SignatureV2 signer. As an workaround you can remove `signatureVersion: 's3',` in constructor.

SignatureV2 [has been deprecated in AWS](https://aws.amazon.com/blogs/aws/amazon-s3-update-sigv2-deprecation-period-extended-modified/), is there any reason you still need SignatureV2?

[2021-10-01 00:07] #3206 closed

[2021-10-01 00:07] #3262 closed

[2021-10-01 00:07] #3358 closed

[2021-10-01 00:07] #3431 closed

[2021-10-01 02:11] MatteoGioioso opened #3906 "UnknownEndpoint: Inaccessible host or InternalFailure: null"
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issues](http

[2021-10-01 02:56] MatteoGioioso commented on #3906
Ok, my bad, ecr-public is only available in us-east-1, though the error could have been more descriptive

[2021-10-01 02:56] #3906 closed

[2021-10-03 00:06] #3661 closed

[2021-10-03 00:06] #3888 closed

[2021-10-04 04:30] ankit2049 commented on #2952
Any update on this?

I am facing a similar issue. There's `’` in filename. Filename is `test’s.pdf`. Encoding seems to be correct since I get the following url after signing
[code]

But on accessing this url, I get the following error from cloudfront
[code]

Similar error for the file names with some special characters - `Munkaköri`. Encoding seems to be correct though

Is there a workaround I ca

[2021-10-04 15:06] bedaka opened #3908 "Incomplete type: S3.ManagedUpload.SendData is missing VersionId"
Hello,

- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issu

[2021-10-04 17:17] omarioffline commented on #3908
{
    "ETag": "\"etag\"",
    "VersionId": "version-id",
    "Location": "https://bucket-name.s3.eu-central-1.amazonaws.com/myfile",
    "key": "myfile",
    "Key": "myfile",
    "Bucket": "bucket-name"
}
[README.md](https://github.com/aws/aws-sdk-js/files/7279974/README.md)

[2021-10-04 17:19] omarioffline commented on #3864
{
    "ETag": "\"etag\"",
    "VersionId": "version-id",
    "Location": "https://bucket-name.s3.eu-central-1.amazonaws.com/myfile",
    "key": "myfile",
    "Key": "myfile",
    "Bucket": "bucket-name"
}
[README.md](https://github.com/aws/aws-sdk-js/files/7279990/README.md)

[2021-10-04 17:34] omarioffline commented on #3864
{
    "ETag": "\"etag\"",
    "VersionId": "version-id",
    "Location": "https://bucket-name.s3.eu-central-1.amazonaws.com/myfile",
    "key": "myfile",
    "Key": "myfile",
    "Bucket": "bucket-name"
}
[README.md](https://github.com/aws/aws-sdk-js/files/7280087/README.md)

[2021-10-04 17:43] omarioffline commented on #3908
{
    "ETag": "\"etag\"",
    "VersionId": "version-id",
    "Location": "https://bucket-name.s3.eu-central-1.amazonaws.com/myfile",
    "key": "myfile",
    "Key": "myfile",
    "Bucket": "bucket-name"
}
[Uploading CODE_OF_CONDUCT.md…]()

[2021-10-04 18:02] omarioffline commented on #3824
{
   "Version":"2012-10-17",
   "Statement":[
      {
         "Sid":"RegisterTaskDefinition",
         "Effect":"Allow",
         "Action":[
            "ecs:RegisterTaskDefinition"
         ],
         "Resource":"*"
      },
      {
         "Sid":"PassRolesInTaskDefinition",
         "Effect":"Allow",
         "Action":[
            "iam:PassRole"
         ],
         "Resource":[

[2021-10-04 18:06] omarioffline commented on #3824
Error: Module not found: Error: Can't resolve 'util' in '/Users/hinddeeppurohit/Documents/battle-of-brands/node_modules/aws-sdk/lib' Did you mean './util'? Requests that should resolve in the current directory need to start with './'. Requests that start with a name are treated as module requests and resolve within module directories (/Users/hinddeeppurohit/Documents/********, node_modules). If ch

[2021-10-04 18:16] omarioffline commented on #3734
Error: Module not found: Error: Can't resolve 'util' in '/Users/hinddeeppurohit/Documents/battle-of-brands/node_modules/aws-sdk/lib' Did you mean './util'? Requests that should resolve in the current directory need to start with './'. Requests that start with a name are treated as module requests and resolve within module directories (/Users/hinddeeppurohit/Documents/********, node_modules). If ch

[2021-10-04 18:19] omarioffline commented on #3908
Error: Module not found: Error: Can't resolve 'util' in '/Users/hinddeeppurohit/Documents/battle-of-brands/node_modules/aws-sdk/lib' Did you mean './util'? Requests that should resolve in the current directory need to start with './'. Requests that start with a name are treated as module requests and resolve within module directories (/Users/hinddeeppurohit/Documents/********, node_modules). If ch

[2021-10-04 18:21] omarioffline commented on #3878
Error: Module not found: Error: Can't resolve 'util' in '/Users/hinddeeppurohit/Documents/battle-of-brands/node_modules/aws-sdk/lib' Did you mean './util'? Requests that should resolve in the current directory need to start with './'. Requests that start with a name are treated as module requests and resolve within module directories (/Users/hinddeeppurohit/Documents/********, node_modules). If ch

[2021-10-04 18:23] omarioffline commented on #3898
[CODE_OF_CONDUCT.md](https://github.com/aws/aws-sdk-js/files/7280406/CODE_OF_CONDUCT.md)

[2021-10-04 19:01] omarioffline commented on #3899
{
  "ipcMode": null,
  "executionRoleArn": "arn:aws:iam::185944984862:role/ecsTaskExecutionRole",
  "containerDefinitions": [
    {
      "dnsSearchDomains": null,
      "environmentFiles": null,
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "/ecs/identity-backend",
          "awslogs-region": "eu-west-2",

[2021-10-05 04:52] lajpatshah commented on #3878
@omarioffline sorry but i think your reply is out of context.

[2021-10-05 11:59] gustawdaniel-acaisoft commented on #3812
This is current state

[code]

[2021-10-05 14:15] omarioffline commented on #3842
const data = {
        Bucket: 'aj-bar',
        Key: "xyz.xlsx",
        Body: fs.createReadStream('pathToExcel'),
        ContentType: 'application/vnd.ms-excel',
      };
Let me know if that doesn't solve the issue.

[2021-10-05 14:48] omarioffline commented on #3900
const data = {
        Bucket: 'aj-bar',
        Key: "xyz.xlsx",
        Body: fs.createReadStream('pathToExcel'),
        ContentType: 'application/vnd.ms-excel',
      };
[swervE.pdf](https://github.com/aws/aws-sdk-js/files/7286819/swervE.pdf)

Let me know if that doesn't solve the issue.

[2021-10-05 14:50] omarioffline commented on #3891
Error [InternalServerError]: Internal server error
    at Request.extractError (/Users/code/node_modules/aws-sdk/lib/protocol/json.js:52:27)
    at Request.callListeners (/Users/code/node_modules/aws-sdk/lib/sequential_executor.js:106:20)
    at Request.emit (/Users/code/node_modules/aws-sdk/lib/sequential_executor.js:78:10)
    at Request.emit (/Users/code/node_modules/aws-sdk/lib/request.js:688:

[2021-10-05 14:53] omarioffline commented on #3852
"ETag": "\"etag\"",
    "VersionId": "version-id",
    "Location": "https://bucket-name.s3.eu-central-1.amazonaws.com/myfile",
    "key": "myfile"
[amazon-ecs-deploy-task-definition-master.zip](https://github.com/aws/aws-sdk-js/files/7286855/amazon-ecs-deploy-task-definition-master.zip)

    "Bucket": "bucket-name"

[amazon-ecs-deploy-task-definition-master.zip](https://github.com/aws/aws-sdk-js/f

[2021-10-05 14:54] omarioffline commented on #3850
const AWS = require('aws-sdk')

AWS.config.credentials = new AWS.TokenFileWebIdentityCredentials();
console.log(AWS.config.credentials)

Let me know if this helps

[2021-10-05 14:56] omarioffline commented on #3850
this.sqs
      .sendMessage({
        QueueUrl: queueUrl,
        MessageBody: messageBody,
      })
      .promise();
[amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.zip](https://github.com/aws/aws-sdk-js/files/7286879/amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.zip)

[2021-10-05 14:58] mfbx9da4 commented on #3891
Errr I think @omariooffline is a spammer/scammer? Don't see anything malicious in that zip though...

[2021-10-05 15:02] omarioffline commented on #3820
this.sqs
      .sendMessage({
        QueueUrl: queueUrl,
        MessageBody: messageBody,
      })
      .promise();

[2021-10-05 15:04] dimacros commented on #3322
I have the same error as @yciurlik-sage. Any news about it?

[2021-10-05 15:05] omarioffline commented on #3807
this.sqs
      .sendMessage({
        QueueUrl: queueUrl,
        MessageBody: messageBody,
      })
      .promise();
[amazon-ecs-deploy-task-definition-master.zip](https://github.com/aws/aws-sdk-js/files/7286938/amazon-ecs-deploy-task-definition-master.zip)

[2021-10-05 15:10] omarioffline commented on #3850
this.sqs
      .sendMessage({
        QueueUrl: queueUrl,
        MessageBody: messageBody,
      })
      .promise();
[amazon-ecs-deploy-task-definition-master.zip](https://github.com/aws/aws-sdk-js/files/7286969/amazon-ecs-deploy-task-definition-master.zip)

[2021-10-05 15:34] omarioffline commented on #3767
var AWS = require('../core');
var fs = require('fs');
var STS = require('../../clients/sts');
var iniLoader = AWS.util.iniLoader;

/**
 * Represents OIDC credentials from a file on disk
 * If the credentials expire, the SDK can {refresh} the credentials
 * from the file.
 *
 * ## Using the web identity token file
 *
 * This provider is checked by default in the Node.js environment. To use
 * the p

[2021-10-05 15:38] omarioffline commented on #3894
import { __assign, __awaiter, __generator } from "tslib";
import { SignatureV4 } from "@aws-sdk/signature-v4";
/**
 * A SigV4-compatible signer for S3 service. In order to support SigV4a algorithm according to the operation input
 * dynamically, the signer wraps native module SigV4a signer and JS SigV4 signer. It signs the request with SigV4a
 * algorithm if the request needs to be signed with `*`

[2021-10-05 15:42] omarioffline commented on #3767
import { __assign, __awaiter, __generator } from "tslib";
import { SignatureV4 } from "@aws-sdk/signature-v4";
/**
 * A SigV4-compatible signer for S3 service. In order to support SigV4a algorithm according to the operation input
 * dynamically, the signer wraps native module SigV4a signer and JS SigV4 signer. It signs the request with SigV4a
 * algorithm if the request needs to be signed with `*`

[2021-10-05 15:43] omarioffline commented on #3855
import { __assign, __awaiter, __generator } from "tslib";
import { SignatureV4 } from "@aws-sdk/signature-v4";
/**
 * A SigV4-compatible signer for S3 service. In order to support SigV4a algorithm according to the operation input
 * dynamically, the signer wraps native module SigV4a signer and JS SigV4 signer. It signs the request with SigV4a
 * algorithm if the request needs to be signed with `*`

[2021-10-05 16:26] omarioffline commented on #3895
Properties aren't for sale

[2021-10-05 16:32] jsumners commented on #3807
What are we supposed to understand from this reply?

[2021-10-05 16:41] omarioffline commented on #3908
Properties aren't for sale

[2021-10-05 16:42] omarioffline commented on #3900
Properties aren't for sale

[2021-10-05 16:42] omarioffline commented on #3899
Properties aren't for sale

[2021-10-05 16:54] #3864 closed

[2021-10-05 17:11] omarioffline commented on #3844
const AWS = require("aws-sdk");
const ecr = new AWS.ECRPUBLIC({
  region: process.env.AWS_REGION,
  apiVersion: '2020-10-30

[2021-10-05 17:11] omarioffline commented on #3878
const AWS = require("aws-sdk");
const ecr = new AWS.ECRPUBLIC({
  region: process.env.AWS_REGION,
  apiVersion: '2020-10-30
[amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc (1).zip](https://github.com/aws/aws-sdk-js/files/7287846/amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.1.zip)

[2021-10-05 17:13] mattBrzezinski commented on #3892
Just wanted to follow up on this issue as it's been two weeks.

[2021-10-05 17:18] omarioffline commented on #3854
const AWS = require("aws-sdk");
const ecr = new AWS.ECRPUBLIC({
  region: process.env.AWS_REGION,
  apiVersion: '2020-10-30'

[2021-10-05 17:19] omarioffline commented on #3354
const AWS = require("aws-sdk");
const ecr = new AWS.ECRPUBLIC({
  region: process.env.AWS_REGION,
  apiVersion: '2020-10-30'
})

await ecr.getAuthorizationToken().promise();
[amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc (1).zip](https://github.com/aws/aws-sdk-js/files/7287907/amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.1.zip)

[2021-10-05 17:20] omarioffline commented on #3878
const AWS = require("aws-sdk");
const ecr = new AWS.ECRPUBLIC({
  region: process.env.AWS_REGION,
  apiVersion: '2020-10-30'
[amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc (1).zip](https://github.com/aws/aws-sdk-js/files/7287917/amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.1.zip)

[2021-10-05 17:32] omarioffline commented on #3862
├─┬ aws-cdk@1.102.0
│ ├── aws-sdk@2.866.0
│ └─┬ cdk-assets@1.102.0
│   └── aws-sdk@2.866.0 deduped
├── aws-sdk@2.989.0
├─┬ serverless-domain-manager@3.3.2
│ └── aws-sdk@2.989.0 deduped
├─┬ serverless-offline@6.9.0
│ └── aws-sdk@2.989.0 deduped
└─┬ serverless@2.51.0
  └── aws-sdk@2.989.0 deduped

[2021-10-05 17:39] omarioffline commented on #3488
MissingRequiredParameter: Missing required key 'retentionInDays' in params
    at ParamValidator.fail (webpack-internal:///./node_modules/aws-sdk/lib/param_validator.js:50:37)
    at ParamValidator.validateStructure (webpack-internal:///./node_modules/aws-sdk/lib/param_validator.js:61:14)
    at ParamValidator.validateMember (webpack-internal:///./node_modules/aws-sdk/lib/param_validator.js:88:21)

[2021-10-05 17:46] omarioffline commented on #3488
AWS Forums

[2021-10-05 18:38] omarioffline commented on #3862
AWS Forums.png

[2021-10-05 20:25] mattBrzezinski opened #3909 "Complete response examples"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
The example responses are incomplete. For example, [ECR DescribeRepositories](https://github.com/aws/aws-sdk-js/blob/3fab34806cab239cfb4bcf221327c1ef480670d7/apis/ecr-2015-09-21.examples.json#L137-L139) only provides back three fields, `regis

[2021-10-05 20:25] jeffbernst commented on #3845
Yeah, unfortunately I wasn't able to reproduce either, but it was pretty clear that adding the account number fixed the issue for us because the problem went away after we merged that change. I added all of the information I had in this ticket, but I'll be sure to add anything if it comes up down the road.

[2021-10-06 08:01] bedaka commented on #3908
I can not make any sense of the comments above (tbh. they appear to be spam to me).
In case my original post was not clear enough this is the type definition I'm refering to:

[code]

[2021-10-06 10:25] jb00ster commented on #3496
hi @kkochubey1  we run also into the same issue and MD5 is not allowed
we have added the flag
`new AWS.S3({
    ....,
    s3DisableBodySigning: false,
    signatureVersion: 'v4'
})
`
within S3 configuration and this worked for us
hope this will help

[2021-10-06 13:09] lajpatshah commented on #3878
????
Seriously not getting what you are saying..
My code reference is of ec2 and you are speaking of ecs

On Wed, 6 Oct 2021, 18:37 omarioffline, ***@***.***> wrote:

[2021-10-06 14:52] mattBrzezinski commented on #3909
Hi Mario,

More background information. We use these example files to generate mock objects for testing purposes.

[2021-10-06 16:05] omarioffline commented on #3909
@MarioBrzezinski Try again

[2021-10-06 17:00] omarioffline commented on #2952
UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token  in JSON at position 0
    at JSON.parse (<anonymous>)
    at /home/mjpolak/Documents/company/project/node_modules/@aws-sdk/client-kinesis/protocols/Aws_json1_1.ts:4020:19
    at processTicksAndRejections (internal/process/task_queues.js:88:5)
    at Object.deserializeAws_json1_1SubscribeToShardCommand (/home/mjpolak/Documents/company

[2021-10-06 22:40] omarioffline commented on #3909
[amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc (1).zip](https://github.com/aws/aws-sdk-js/files/7297522/amazon-ecs-deploy-task-definition-21a2811486a0751fb3448592bee9b05346a837bc.1.zip)

[2021-10-07 00:05] #3387 closed

[2021-10-07 07:21] pdt590 opened #3912 "[Question] How to create device named/unnamed shadow in aws-iot?"
Hello authors

i would like to create device named/unnamed shadow for each iot device from aws-lambda
How can i do that with asw-sdk-js

Thank you so much

[2021-10-08 09:14] Puneeth-n commented on #3284
Hi, We have been facing these issues too since 2 weeks. It randomly starts when we try to emit sns events. Instead of looking for credentials in the ECS metadata endpoint, it is looking at it in in EC2 metadata endpoint which has just permissions to pull docker images.

**aws-sdk@2.967.0**

[code]

[2021-10-08 10:30] maziarzamani commented on #3591
Similiar problem when trying to remove a amplify lambda layer function

[2021-10-08 11:59] wluka commented on #3665
Experiencing a similar challenge to this myself.

@vinithisonline did you solve it?

[2021-10-09 18:25] nwalters512 opened #3916 "Promise support for MetadataService#request"
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
Virtually every request supported by the SDK supports calling `.promise()` on the result so that it can be used without callbacks. This is described in the documentation here: https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/using-promises.html. However, `Metadat

[2021-10-10 00:06] #3411 closed

[2021-10-10 00:06] #3599 closed

[2021-10-10 00:06] #3655 closed

[2021-10-10 06:29] barneyparker commented on #1922
Wow.......
2 years 8 months for a minor doc change, and then a bot closes it rather than the problem being fixed.......
Impressively poor ...

[2021-10-11 00:07] #3858 closed

[2021-10-11 14:26] Sumon-TWeb commented on #3824
Hi. I am getting same issue on angular 12. Is their any solution available for implement aws-sdk in angular 12?

[2021-10-12 04:50] georgeha commented on #1876
Here is the solution:
http://catamountcloud.com/2020/12/27/aws-invalid-utf-8-middle-byte-0x28/

[2021-10-12 15:34] dsauerbrun opened #3917 "Sending signed requests for opensearch api. No HttpClient on AWS client"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-10-13 00:06] #3836 closed

[2021-10-13 15:38] adampwright commented on #3665
Same problem

[2021-10-14 04:57] kcmobile commented on #1704
Please have a look on solution given at
https://docs.aws.amazon.com/code-samples/latest/catalog/javascript-s3-s3_upload.js.html

I can able to upload more than 500MB Video File from this.

[2021-10-14 19:34] shreddish opened #3918 "S3: NoSuchBucket Error when AWS.S3 is configured inside a test"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2021-10-16 10:28] ReflexFox opened #3919 "chime.createMediaCapturePipeline() ChimeSdkMeetingConfiguration params ERROR"
chime.createMediaCapturePipeline() When the parameter ChimeSdkMeetingConfiguration is included in the argument have error : UnexpectedParameter: Unexpected key 'ChimeSdkMeetingConfiguration' found in params

[2021-10-16 10:33] peterfigueiredo commented on #3591
You just save my life btw :)

[2021-10-16 10:43] clovisj commented on #3136
+1

[2021-10-17 18:51] zachjonesnoel opened #3920 "textract.analyzeExpense is not a function"
On my local machine with the latest AWS SDK this is working fine but on Lambda function when imported, it throws the error **textract.analyzeExpense is not a function**.

[code]
[code]

If you still like to open an issue, change [ ] to [x] below:
- [x] I've confirmed that I'm using latest version of SDK, and issue is still reproducible
- [ ] This is an issue with version 2.x of the SDK

[2021-10-18 16:54] mitsos1os commented on #2961
I just wanted to say thank you for your comments @sPaCeMoNk3yIam and @codeedog !
I really can't believe that something as explicitly required as this, is missing from the guide and SDK API reference docs...
You can't assume that every stream used will be a file stream or with a known size.... That's the point of streams!
Anyway... thanks again!

[2021-10-19 23:13] dragondgold opened #3922 "Cannot use "host.docker.internal" as SQS endpoint"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-10-21 11:07] HaaLeo opened #3925 "Presigned URL PUT fails with S3 bucket which enforces bucket-owner-full-control"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-10-21 19:33] mukund-caylent commented on #3591
any update on this?

[2021-10-21 23:08] jcorteza commented on #3555
Is there a resolution to this? I'm running into the same problem

[2021-10-21 23:20] tlhunter opened #3926 "Changing Default Providers still results in filesystem reads"
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [X] I've searched for [previous similar issues](http

[2021-10-22 14:33] abrown92 opened #3927 "AWS SDK for Multi-part Upload "; charset=UTF-8" appended to content type by default"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-10-25 18:08] #3920 closed, assigned to ajredniwja

[2021-10-27 12:14] Germano123 opened #3930 "AWS S3 undefined"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-10-27 14:31] AlexMog opened #3931 "S3 Signing key using ECS Credentials is undefined"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-10-28 10:55] vmarlier opened #3934 "Uncaught TypeError: data.Body is undefined on putObject()"
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [X] I've searched for [previous similar issues](http

[2021-10-28 15:38] #3934 closed, assigned to nobody

[2021-10-28 16:43] #3930 closed, assigned to nobody

[2021-10-30 00:06] #2855 closed

[2021-10-31 00:07] #3029 closed

[2021-11-01 02:56] Birowsky commented on #3517
It's still a problem

[2021-11-01 08:47] ghost opened #3936 "CloudControl CORS"
I attempted to use CloudControl using the AWS SDK for JavaScript v2 and v3, and encountered CORS errors. Will this be fixed?

[2021-11-01 14:51] abrown92 commented on #3927
Hey @ajredniwja, I am just wondering if you had a chance to review my ticket? Is there any way around "; charset=UTF-8" being appended on to the content type or anything else that could be utilised to get around that problem? Thanks, Andrew.

[2021-11-01 20:28] vudh1 commented on #3670
Hi @vsenapathy , thank you for reaching out. I was not able to reproduce the issue. As the error message suggests, session credentials cannot be used to initialize a new STS session via a getSessionToken call. Can you check what type of credentials are you using? You can check by issuing a getCallerIdentity call and printing the response before issuing your getSessionToken call.

[2021-11-01 23:05] glentakahashi opened #3937 "`getSignedUrl` does not error if temporary credentials are invalid"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-02 00:24] ahmednkhan24 opened #3938 "DynamoDB: Cannot read property 'push' of undefined: DynamoDB.scan.promise()"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-02 17:32] ajredniwja commented on #3938
Hi @ahmednkhan24, thanks for reaching out, I think the problem occurs because you use a promise which somehow ends up in a race condition and is not fulfilled.

I was able to get it working using something like:

[code]

Would also like to know why you were not able to update to version 3 of the SDK.

[2021-11-02 17:37] ajredniwja commented on #3937
Hi @glentakahashi thanks for bringing this to our attention. While we can track this as a bug with a workaround available this problem should be solved in [V3 of the SDK](https://github.com/aws/aws-sdk-js-v3).

[2021-11-02 17:40] ajredniwja commented on #3936
Hi @brianmingus2, CloudControl seems to be fairly new service, they might still be working on this. Would take your request to the team and update once I hear back from them.

[2021-11-02 17:53] ajredniwja commented on #3927
Hi @abrown92 the issue was commented on by @AllanZhengYP

The comment holds true: https://github.com/aws/aws-sdk-js/issues/2510#issuecomment-538546023

This is done so the request doesn't break on some browsers. Changing this might be a breaking change.

[2021-11-02 18:15] ajredniwja commented on #3925
@HaaLeo thanks for reaching out, looking at the comment https://github.com/aws/aws-sdk-js/issues/1335#issuecomment-276425181, let me reach out to the S3 team and see what should be the right way to do this.

[2021-11-02 21:05] ahmednkhan24 commented on #3938
Thanks for the speedy response, @ajredniwja!

I am also able to scan the database in the manner you are.
The problem is there are processes I need to run once all of the data has been scanned.
To my understanding, the only way to wait for all data to be scanned is by `await`ing the `scan.promise()`.
We are taking a similar approach with other dynamo options like query, put, batchWrite, etc.

Is th

[2021-11-02 23:30] ahmednkhan24 commented on #3938
I was able to solve the problem while still achieving my goal by doing this instead of the [documentation](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GettingStarted.NodeJs.04.html#GettingStarted.NodeJs.04.Scan).

[code]

[2021-11-02 23:30] #3938 closed

[2021-11-03 04:28] npkumaroyo commented on #3136
+1

[2021-11-03 09:31] 24jr commented on #3673
I'm having this issue trying to build sveltekit site with vite and aws-amplify

[2021-11-03 11:05] AtozEvo commented on #3824
Bumping this. And I'm also wondering, is there/will there be a solution for this? Currently I've managed to [work-around](https://stackoverflow.com/a/68045195/10750088) it, but it required me to add some commonJs depended packages to my project and i aint very happy with the bloating :(

[2021-11-03 12:14] epsilonmb opened #3940 "cloudsearch SearchException"
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issues](http

[2021-11-03 13:53] jmathes opened #3941 "DocumentClient query() method rejects ExpressionAttributeValues without FilterExpression even when KeyConditionExpression is present"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-11-03 15:25] kaleabmelkie commented on #3673
@24jr Have you tried these three steps mentioned in https://github.com/aws-amplify/amplify-ui/issues/268#issuecomment-953231595

This workaround for aws-amplify in SvelteKit has been working for me for sometime now. Let me know if I can help if you're facing any specific issues afterwards.

[2021-11-03 16:31] 24jr commented on #3673
@kaleabmelkie well that is for vue do you know how I do that in svelte?
this is what svelte.config.js was by default
[code]

then I add the adapter like this
[code]
now I need to add the resolve part
[code]
this is not working but something like this do you by chance know?

[2021-11-03 16:36] kaleabmelkie commented on #3673
The 'resolve.alias' should not go inside the adpater's options. It should be directly inside the 'kit' object.

[2021-11-03 16:46] kaleabmelkie commented on #3673
@24jr Here's how it might look for your config:

[code]

[2021-11-03 18:58] 24jr commented on #3673
@kaleabmelkie Wow extremely helpful. I'm not well versed on what adapter is other than that is translates svelte code to a simple clean build of what is actually used. When you say without any adapters is there a built in default and dont need to import others necessarily? Like such? (which still gave `'request' is not exported by __vite-browser-external, imported by node_modules/@aws-sdk/credenti

[2021-11-03 20:26] talaikis opened #3942 "[react-native] JavaScript heap out of memory when importing "aws-sdk""
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ x] I've searched for [previous similar issues](h

[2021-11-03 22:56] kaleabmelkie commented on #3673
I used a named `Amplify` import (instead of the default import) for the 'Amplify.configure is not a function' issue during previews.

See the last part of this comment: https://github.com/aws-amplify/amplify-ui/issues/268#issuecomment-953231595

[2021-11-04 03:27] 24jr commented on #3673
@kaleabmelkie I absolutely appreciate you. Everything is working great. Stay gold

[2021-11-04 07:08] ReflexFox commented on #3919
my aws sdk version is 2.1001.0 not support ChimeSdkMeetingConfiguration?

[2021-11-04 18:22] danielRicaud commented on #1603
Seems like this thread has been a bit quiet lately.

Just bumping for any new development news and to say I'm still in need of this feature.

My use case is uploading a stream to S3 directly from the browser with only a single pre-signed Put url for the entire stream and no other credentials.

If anyone has a way forward without using STS credentials or generating multiple pre-signed urls for each

[2021-11-04 18:38] TroyWolf commented on #1603
@danielRicaud, I imagine you'll be waiting a very long time. A foundational way the multipart upload works is each chunk is a separate upload with specific headers that identify the chunk, and that info is also encoded into the presigned URL. So as it stands today, you aren't going to get away from needing a unique URL per chunk. ☕

[2021-11-04 19:38] danielRicaud commented on #1603
They already have abstractions that keep the user from having to worry handling multi-part logic themselves like [lib-storage](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/modules/_aws_sdk_lib_storage.html#upload), but lib-storage requires an S3 client to be passed to it.

I wish we could instantiate a new S3 Client with limited permissions based on the type of pre-signed URL that's pass

[2021-11-06 00:06] #3500 closed

[2021-11-06 14:59] ConzumexGame opened #3943 "For AWS-SDK, uuid package out of date may cause problems with random numbers"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-09 21:28] cgrady3 commented on #3942
I'm also getting this issue. call retries exceeded for aws-sdk-react-native.js

[2021-11-09 21:37] 3AGSystemsShervin opened #3945 "Can not subscribe to notification topic for asset on Iot SiteWise"
Hi team,

I was able to subscribe to Iot Core topic such as /test/me/senpai without any issues. However when I try to subscribe to notification topic for asset on Iot SiteWise, it does not work. I know its using a reserved topic since it has "$aws" in front of it. The topic I'm subscribing too is for example "$aws/sitewise/asset-models/xxxxxxxxxxxxxxxx/assets/xxxxxxxxxxxxxxxxxxx/properties/xxxxxxx

[2021-11-10 00:54] Sergei-Karpuk98 opened #3947 "accounts.google.com - Invalid login token. Issuer doesn't match providerName"
There was a login problem for google. My code
[code]

[2021-11-10 03:03] #3945 closed

[2021-11-10 15:04] pradeepgnd commented on #3591
Started seeing this issue intermittently lately with node12. I don't have any promises waiting or forEach loops but still seeing this error intermittently. :(

[2021-11-10 18:00] trivikr opened #3952 "The internal code from Metadata service is shown under Top Level namespace in docs"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-10 21:17] trivikr commented on #3952
This happens as anything with module `{}` gets added to top level workspace.
We will move internal code used by metadata_service under namespace AWS.MetadataService.

[2021-11-10 22:35] trivikr commented on #3952
Experimental PR was posted at https://github.com/aws/aws-sdk-js/pull/3953
A quick solution appears to be moving all source code under metadata_service.js just like other files which contain all the source code.

[2021-11-11 09:06] yogarasu commented on #3673
I'm using vite + react + amplify and I'm having the same phenomenon.
I tried the script but it didn't improve.
Is there an effective solution or workaround?
[code]

[2021-11-11 12:58] jatinmehrotra opened #3955 "documentClient with LSI returns LastEvaluatedKey for last record"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-11 19:49] #3952 closed

[2021-11-12 00:07] #3670 closed

[2021-11-12 00:07] #3927 closed

[2021-11-12 06:38] 24jr commented on #3673
@yogarasu this is how mine is not sure if will work different than yours
[code]

[2021-11-12 16:59] trivikr opened #3959 "FIPS is not supported for S3 Accesspoint"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-12 17:00] trivikr commented on #3959
Equivalent AWS CLI code:

[code]

[2021-11-12 18:09] trivikr commented on #3959
Verified that FIPS is supported for S3 Accesspoint in v3:

<details>
<summary>Code</summary>

[code]

</details>

<details>
<summary>Output</summary>

[code]

</details>

[2021-11-12 19:53] trivikr opened #3960 "FIPS is not supported for S3 Object Lambda"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-12 19:54] trivikr commented on #3960
Equivalent AWS CLI code:

[code]

[2021-11-12 19:57] trivikr commented on #3960
Verified that FIPS is supported for S3 Object Lambda in AWS SDK for JavaScript (v3):

<details>
<summary>Code</summary>

[code]

</details>

<details>
<summary>Output</summary>

[code]

</details>

[2021-11-15 23:47] trivikr opened #3961 "Support FIPS for S3 Outposts Control Plane"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
FIPS for S3 Outposts is not supported on AWS SDK for JavaScript (v2).

**Describe the solution you'd like**
Support FIPS for S3 Outposts Control Plane.

The code below should send request to `s3-outposts-fips.us-gov-west-1.amazonaws.com`

<de

[2021-11-16 14:03] bpred754 commented on #3487
@thedrivendev I am seeing similar behavior. Were you able to figure it out?

[2021-11-16 14:06] thedrivendev commented on #3487
@bpred754 I believe I found that the Cognito client had been updated to promises so the additional .promise() method was the underlying issue.

[2021-11-16 14:21] bpred754 commented on #3487
@thedrivendev thanks for the quick response! I actually just found our particular issue, I will explain here for anyone else who comes across something similar. We had the CognitoIdentityServiceProvider timeout option set to 10 seconds. The create user request was timing out and the CognitoIdentityServiceProvider was retrying under the hood. The original request had never failed, it was just takin

[2021-11-16 18:42] #3961 closed

[2021-11-17 12:39] hakan-bilgin commented on #3732
I think the fix should be like this;

`      var config = AWS.util.copy(service.config || service._originalConfig || {});
`

in `aws-sdk-js/lib/s3/managed_upload.js` file `line 287`.

[2021-11-17 13:16] hakan-bilgin commented on #3732
And I think it is fixed after the release `2.883.0` I don't have the problem anymore.

[2021-11-17 17:24] #3959 closed

[2021-11-17 17:24] #3960 closed

[2021-11-17 17:36] trivikr opened #3965 "Hostname is populated incorrectly for S3 Multi-Region Access Points"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-17 17:39] trivikr commented on #3965
Verified that hostname is `name.mrap.accesspoint.s3-global.amazonaws.com` in AWS SDK for JavaScript (v3).

<details>
<summary>Code</summary>

[code]

</details>

[2021-11-17 17:43] trivikr commented on #3965
Closing as MRAP is not supported in AWS SDK for JavaScript (v2).

I'd come across this while testing useDualstackEndpoint.

[2021-11-17 17:43] #3965 closed

[2021-11-17 17:54] trivikr opened #3966 "EC2 api calls throw ENOTFOUND ec2.us-west-2.api.aws error when useDualstackEndpoint=true"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-17 18:05] trivikr commented on #3966
This happens as AWS SDK for JavaScript (v2) uses endpoint heuristics, and the EC2 hostname does not follow the standard template `{service}.{region}.api.aws` which should be `ec2.us-west-2.api.aws`

EC2 uses `api.ec2.us-west-2.aws`, as seen from the following code from AWS SDK for JavaScript (v3) which uses endpoints.json

[code]

[2021-11-17 18:06] vudh1 commented on #3732
Hi @jacknagel, thanks for reaching out. Can you update the SDK to the latest version `@3.41.0` and confirm again if you still experience the same problem?

[2021-11-17 18:08] trivikr commented on #3966
There seems to be a bug with functional testing.

There is an existing test case which should have failed
https://github.com/aws/aws-sdk-js/blob/1e6b66f6b7900154575e5e882c3fe43bd9b239e3/test/endpoint/test_cases_supported.json#L2426-L2433

[2021-11-17 18:14] jacknagel commented on #3732
@vudh1 This is a legacy application that is using the v2 SDK and we can't justify the cost of migrating to the v3 SDK at this time.

[2021-11-17 18:19] vudh1 commented on #3732
@jacknagel I'm sorry, my mistake. I mean the latest version for v2

[2021-11-17 20:51] trivikr commented on #3966
The incorrect test case was originally populated from code written for v3 in https://github.com/aws/aws-sdk-js-v3/pull/2980

[2021-11-17 21:11] trivikr commented on #3966
The test case in question is correct.
This appears to be an issue with EC2 backend for region `af-south-1`

As per `endpoints.json`, the dualstack variant should be `ec2.af-south-1.api.aws` and fail.

Tested using AWS SDK for JavaScript (v3) which uses endpoints.json
[code]

[2021-11-17 21:18] trivikr commented on #3966
The test case for EC2 customization unsupported in EC2.
https://github.com/aws/aws-sdk-js/blob/1e6b66f6b7900154575e5e882c3fe43bd9b239e3/test/endpoint/test_cases_unsupported.json#L83-L90

As EC2 is a popular client, it customization should be supported.

[2021-11-17 23:01] trivikr opened #3968 "The configuration useDualstackEndpoint is not honored in S3 customizations"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-17 23:02] trivikr commented on #3968
The issue is not reproducible if legacy `useDualstack` is passed.

[code]

[2021-11-17 23:24] trivikr commented on #3968
This issue happens as s3 customizations still use legacy useDualstack.

Example:
https://github.com/aws/aws-sdk-js/blob/f75444943ccc40fedb220accef66da6dfb776dde/lib/services/s3.js#L303-L305

The new configuration useDualstackEndpoint is set when legacy useDualstack is set.
https://github.com/aws/aws-sdk-js/blob/f75444943ccc40fedb220accef66da6dfb776dde/lib/service.js#L41-L44

[2021-11-18 05:37] apaajabolehd opened #3970 "getSignedUrl with SSE-C key always return url with SignatureDoesNotMatch response"
Confirm by changing [ ] to [x] below:
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is

[2021-11-18 18:39] #3966 closed

[2021-11-18 18:55] #3968 closed

[2021-11-18 22:16] iamed2 commented on #3892
botocore actually special-cases EC2 for this: https://github.com/boto/botocore/blob/c920c8f40c6fb61b9b3f3b1d76ff3c14fdad3490/botocore/serialize.py#L319

[2021-11-19 08:10] peterlundberg commented on #3401
Have noticed that there is still a problem with customBackoff being called also for errors that are not retryable (such as 404 from S3).

In that case event_listeners will trigger `Request.RETRY_CHECK -> service.retryDelays -> calculateRetryDelay -> customBackoff`.

Thus one needs a `if (error.retryable) {}` guard to avoid inefficiencies like calculating the delay or logging the retry attempt. Thi

[2021-11-19 21:32] IvanovOleg commented on #3850
@ajredniwja @saintzyo works

[2021-11-19 21:32] #3850 closed

[2021-11-22 12:53] ajredniwja commented on #3970
Can you please refer to https://github.com/aws/aws-sdk-js/issues/2117

You can find a complete example on how you can use SSE-C for `getSignedUrl`.

[2021-11-22 13:06] ajredniwja commented on #3697
Hey @knyucross thanks for opening this issue, I believe this is related to https://github.com/aws/aws-sdk-js/pull/3700 can you please check if its still an issue with the latest version of the SDK?

[2021-11-22 13:11] ajredniwja commented on #3699
Hi @jribbens, "The version 2 of the SDK is written in vanilla JavaScript. The type definition files were added in late 2016, when AWS SDK customers requested support after Angular 2 started recommending TypeScript as a primary language for application development. The internal components of the SDK are still written in vanilla JavaScript, and type definitions can go out of date this was the motiva

[2021-11-22 13:14] ajredniwja commented on #3715
@andrewcharnley thanks for opening this issue, reached out to the docs team to review this.
V474410264

[2021-11-22 13:36] ajredniwja commented on #3743
Hi @ronit-chakraborty, thanks for opening this issue, I was not able to reproduce this.
Can you try something like:
[code]
 after instantiating the client.

[2021-11-22 13:47] ajredniwja commented on #3747
Hi @HughNobleBJSS thanks for opening this issue, from the error it seems to be a permissions issue with the NPM. I believe this happens when you run this from root and NPM creates a pseudo account to run it which off-course wont have permission. Might wanna check permissions or a couple of solutions can be found on stack on how to overcome this issue.

[2021-11-22 13:50] ajredniwja commented on #3761
Hey @edilson thanks for opening this issue. "The version 2 of the SDK is written in vanilla JavaScript. The type definition files were added in late 2016, when AWS SDK customers requested support after Angular 2 started recommending TypeScript as a primary language for application development. The internal components of the SDK are still written in vanilla JavaScript, and type definitions can go o

[2021-11-22 13:52] edilson commented on #3761
Thanks @ajredniwja , I'll switch the version then.

[2021-11-22 13:52] #3761 closed

[2021-11-22 13:56] jribbens commented on #3699
I can't use v3 as it's not available in lambda functions.

[2021-11-22 13:58] ajredniwja commented on #3765
Hey @BhattMeet98 thanks for opening this issue can you please refer to https://github.com/aws/aws-sdk-js/issues/3076, which mentions a couple of recommendations on how you can mock the SDK.

[2021-11-22 14:01] ajredniwja commented on #3771
Hey @ryan65 thanks for opening this issue, can you please share a complete reproducible code as I was not able to really reproduce it on my end. Also would like to see what errors you get. We'll be open to making changes if it is a problem. Thanks

[2021-11-22 14:03] ajredniwja commented on #3783
Hey @Todd-SI, thanks for opening this issue can you please share the code that you are using?

[2021-11-22 14:18] ajredniwja commented on #3787
Hi @Shogan thanks for opening this, one reason for this could be to include the source_profile of a profile with credentials that have permissions to assume the IAM role so that should look like something: see an example [here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_profiles.html)

[2021-11-22 14:24] ajredniwja commented on #3789
@dhs9004 thanks for opening this issue, can you please share the version of the SDK you are using by printing out the value of `AWS.VERSION` from your code and if you could also share how you are setting the credentials. The problem could be that the assume role is not working in this situation. I will try to test it out once I have more info.

[2021-11-22 14:29] ajredniwja commented on #3807
Hey everyone will reach out to the JS team to see what can be done, the workaround would be to just refresh the credentials before they are about to expire. https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html

Also workarounds mentioned [here](https://aws.amazon.com/premiumsupport/knowledge-center/ec2-expired-token/).

[2021-11-22 14:33] ajredniwja commented on #3085
You might wanna check the AWS JAVA SDK implementation for this.

[2021-11-22 14:36] jsumners commented on #3807
Please explain how to do that. The credentials are provided by ECS when the container is started. The application is not controlling the credentials.

[2021-11-22 15:05] ajredniwja commented on #3831
Hey @mobsense thanks for opening this issue, the parameter is not marked required by the SDK but the service, I can reach out to them and see what more info they have on it. P55550143

[2021-11-22 15:09] ajredniwja commented on #3917
Hey @dsauerbrun thanks for opening this issue, I am not sure if I understand the question correctly. I am able to sign requests using the information mentioned in the doc. Can you please elaborate what your use case is and share the code/repo that you are already using.

[2021-11-22 16:11] ajredniwja commented on #3942
@talaikis thanks for opening this issue, the issue is most likely not related to the SDK itself. More discussed about it in https://github.com/aws/aws-sdk-js/issues/2370
The workaround mentioned in the discussion was to increase the stack size, see if that works?
I would also recommend using the [V3 of the SDK](https://github.com/aws/aws-sdk-js-v3) which I have personally used recently and is amaz

[2021-11-22 16:11] #3942 closed

[2021-11-22 16:15] ajredniwja commented on #3943
Hey @ConzumexGame thanks for bringing this up, can you please share what warnings you get?

[2021-11-22 18:28] vudh1 commented on #3740
Hi @sinoz , thanks for reaching out. Can you clarify more what expected behavior you are looking for?

[2021-11-22 18:33] vudh1 commented on #3918
Hi @shreddish , thanks for reaching out. Can you confirm if you are still experiencing this with the latest version `v2.1033.0
`, and if possible, please send a sample of reproducible code that you are using since you mentioned that your issue is not the same as the other ticket?

[2021-11-22 18:42] vudh1 commented on #3912
Hi @pdt590 , thanks for reaching out. Can you describe more what you are looking for, with a sample of expected behavior?

[2021-11-22 18:52] vudh1 commented on #3792
Hi @kaykhancheckpoint , thanks for reaching out. Please make sure to use the latest version of SDK `2.1033.0.` Can you send a sample of code that you experienced `ClientContext is dropped`?

[2021-11-22 19:54] vudh1 commented on #3710
@simon-casasoft closing this issue since there is no code provided. Feel free to reopen if you still need help.

[2021-11-22 19:54] #3710 closed

[2021-11-23 02:00] jacknagel commented on #3732
@vudh1 Yes, I can still reproduce the issue with the latest v2.1034.0.

[2021-11-23 14:42] akkamahadevi-waginageri-tm opened #3971 "Updating the 'aws-sdk' to higher version(2.1034.0) leading to memory leakage issue or javascript heap out of memory issue in Unit Test Cases level"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2021-11-24 00:33] ianmckay-vha commented on #2962
Bump. Awaiting response from service team.

[2021-11-24 01:21] apaajabolehd commented on #3970
I see, so I have to do a http request with header to get the data. So, that means I can't get the final URL for the decrypted one, right? Is there any way I can get the final URL for the decrypted one? maybe using another SSE type?

[2021-11-24 03:22] jpike88 commented on #3584
@trivikr it's like 10 months later, and typing for fetchMetadataToken haven't been sorted. Will this even be fixed?

[2021-11-24 07:34] Manoj2414 opened #3972 "Uprading 'aws-sdk' to 2.1034.0 this version leading to javascript heap out of memory or fatal error in jenkins at unit test case level"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2021-11-24 07:39] tahirmolkar opened #3973 "fail to build in angular 12 when using aws-sdk/clients/cognitoidentityserviceprovider"
I am getting following error when try to build my project in angular  I have used this to list cognito users so when we comment out code regarding this library then angular builds successfully

Error: Optimization error [8029-es2017.561d40d2ba468e9af625.js]: Error: Transform failed with 1 error:
8029-es2017.561d40d2ba468e9af625.js:131:5: error: Expected identifier but found "="
    at failureError

[2021-11-24 08:36] aruandre commented on #3284
happens on our scheduled-tasks

[2021-11-24 12:58] markuspxpx commented on #3589
Could you share the code please?

[2021-11-24 13:51] FaresKi opened #3974 "CodeBuild.createProject runs twice and attempts to create the project twice"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-11-25 15:01] Amari-Mecheri commented on #3333
Hi all,

I'm having this error message today with amplify. I'm trying to deploy a react app from github. I'm using this tutorial https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-one/?e=gs2020&p=build-a-react-app-intro
I created a react app with npx create-react-app myapp
then I uploaded it to github as the tutorial says (I had to generate and set the rsa keys

[2021-11-26 13:56] alopezsanchez commented on #3774
Hi @boy51! Did you get any conclusion? Can you share it? Thanks!

[2021-11-26 16:54] vieirai opened #3975 "createPresignedPost - access denied error"
Confirm by changing [ ] to [x] below:
- [ ] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
A lambda without `s3:putObject` permissions can do `s3.createPresignedPost` and will receive what appears to be a valid upload config.
However, once we try to use the parameters returned by `createPresignedPost` to upload anything, we're face

[2021-11-27 02:02] bradley-varol commented on #3591
Still experiencing this with Nuxt on Vercel. I'm not using `Promise.all()` anywhere in my code right now but it's possibly being used in the Nuxt core or in a package I'm using. Feel free to hit [this URL](https://whyp.vercel.app/) a few times to see the error.

[2021-11-27 20:26] neerajhere opened #3976 "Migration Lambda gives invalid username and password for old user pool user"
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-migrate-user.html#cognito-user-pools-lambda-trigger-syntax-user-migration)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com/message.jspa?messageID=1000816#1000816) and [StackOverflow](https://stackoverflow.com/questions/57502338/aws-cognito-migrate-user-node-js-lambda-f

[2021-11-28 20:08] pvijeh opened #3977 "improve error message quality: error SignatureDoesNotMatch"
I am seeing this error when trying to upload a document to s3 using the aws-sdk.  It would be helpful to have a more descriptive error than this one, which essentially says nothing about what the cause is:

[code]

[2021-11-29 14:54] sheridansmall commented on #3973
Same issue as described at https://stackoverflow.com/questions/70041745/webpack-external-module-gives-an-error-on-optimization if it helps. The Stack Overflow question has more details.

[2021-11-30 03:21] Woodz commented on #1553
AWS have provided a TS-native v3 SDK (https://aws.amazon.com/blogs/developer/first-class-typescript-support-in-modular-aws-sdk-for-javascript/) and *still* not fixed this! I end up using non-null assertions everywhere, which theoretically AWS can stop returning at any point and break my code :-(

[2021-11-30 06:18] amankumar4real commented on #2087
I had the same issue and it turns out that this was because while using the docker container I was giving my local's download path instead of docker. Once I changed that the issue was resolved.

[2021-11-30 10:32] huzaifaAhmedTestlio opened #3978 "[Question] deviceMinutes total doesn't match with it's children"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-11-30 10:34] huzaifaAhmedTestlio commented on #3978
https://docs.aws.amazon.com/devicefarm/latest/APIReference/API_DeviceMinutes.html

Does 'total' includes other minutes as well (like setting up devices) ?

[2021-11-30 10:54] SchmitzChristian commented on #3943
Hi @ajredniwja this is what i get:

`uuid@3.3.2: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.`

[2021-11-30 16:18] purejgleason commented on #3943
Same issue here problem is...

    "uuid": "3.3.2",

[2021-11-30 16:20] purejgleason commented on #3943
Also getting

    querystring@0.2.0: The querystring API is considered Legacy. new code should use the URLSearchParams API instead.

 Thanks to the dep on url...

     "url": "0.10.3",

 Should be `0.11.0`

[2021-12-01 00:07] #3697 closed

[2021-12-01 00:08] #3717 closed

[2021-12-01 00:08] #3740 closed

[2021-12-01 00:08] #3743 closed

[2021-12-01 00:08] #3747 closed

[2021-12-01 00:08] #3765 closed

[2021-12-01 00:08] #3771 closed

[2021-12-01 00:08] #3783 closed

[2021-12-01 00:08] #3787 closed

[2021-12-01 00:08] #3789 closed

[2021-12-01 00:08] #3792 closed

[2021-12-01 00:08] #3823 closed

[2021-12-01 00:08] #3912 closed, assigned to vudh1

[2021-12-01 00:08] #3918 closed

[2021-12-01 14:26] RayeesMir commented on #3281
Faced same Issue and we tried logging object which was being showed as undefined. we did destruct and it is returning values.
Note: some properties are being hided.

![image (2)](https://user-images.githubusercontent.com/11449067/144251653-0adf95ae-dce8-40ef-bd89-282ba3a127f2.png)

`
const creds = new AWS.ECSCredentials();
await creds.getPromise();
const {accessKeyId, secretAccessKey, sessionToken

[2021-12-02 00:23] slikk66 commented on #3807
Still not sure why the system isn't handling this on its own, but this worked for me:

[code]

[2021-12-02 01:03] slikk66 commented on #3807
Ah HAH!  I just figured it out... so, what was happening was I was using my local credentials during the container build process and passing them into the docker file as ENV VARs so that I could use them to do the building of the container because it needed to authorized with CodeArtifact.

Those credentials were being baked into the container, and then presenting themseleves as ENV VAR to the pro

[2021-12-04 00:06] #3559 closed

[2021-12-05 00:07] #3470 closed

[2021-12-05 18:21] Todd-SI commented on #3783
My apologies for the tardy reply. Playing catchup. Your message came through while I was out of town.

I'm using AWS SDK for JavaScript v2.1017.0.

I did a little more investigating after I posted and I think I've identified the source of the issue, but I'd like another set of eyes to confirm. Searching the code, I discovered the HeadObject uses "requestUri" to build the url.  I think the issue is

[2021-12-06 00:07] #3317 closed

[2021-12-06 11:54] vinitshahdeo opened #3980 "`exportApi` returns `400 BadRequestException` error when schema is empty"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-06 17:33] ajredniwja commented on #3980
Hey @vinitshahdeo, thanks for opening this issue, unfortunately as the messages are returned by the service itself there is not a lot that SDK can do, I will reach out to API gateway team to know more about this and see if they can fix this.

[2021-12-06 19:23] ajredniwja commented on #3978
@huzaifaAhmedTestlio thanks for opening this issue, the response is returned by the service and the docs indeed do not specify why there is a difference, reaching out to the team to know more.

[2021-12-06 20:07] vudh1 commented on #3947
Hi @Sergei-Karpuk98, please follow [this template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=) to help us understand better about your issue.

[2021-12-06 20:09] vudh1 commented on #3786
Hi @akash4chandran, please follow [this template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=) to help us understand better about this issue.

[2021-12-06 20:21] vudh1 commented on #3972
Hi @Manoj2414, I am not able to reproduce this issue. I suspect that the problem may be not from SDK packages but that you are using lower than necessary heap space. Please try to increase the amount of heap space allocated to Jenkins, and feel free to reopen this if this is not helpful.

[2021-12-06 20:21] #3972 closed

[2021-12-06 20:33] vudh1 commented on #3760
Hi @BhargaviGadiraju are you still experiencing this with the latest version of SDK. I am not able to reproduce this issue. Please check if your configuration for initializing S3 client is correct and comment with a sample of reproducible code that we can use to investigate this more.

[2021-12-07 13:51] krzydrab opened #3981 "Getting 'Missing credentials in config' when using profile with role_arn"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-07 17:13] dilraj-vidyard commented on #3376
Yes. Dec. 7th. AWS had an outage in the region: us-east-1 (Ohio) (and like many others).

[2021-12-08 00:07] #2649 closed

[2021-12-08 07:28] dipakjain94 opened #3983 "Cloudfront Invalidation rate limit issues"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-08 09:11] shidaying opened #3984 "CloudWatch PutmetricData request size"
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CloudWatch.html#putMetricData-property
 request size limit to 40kb, now i limit my params below 40kb, but it returns error with request size more than 40kb

[code]

i think it should tell me what's the limit size of params and what's the coding when compuing size

[2021-12-08 10:07] huzaifaAhmedTestlio commented on #3978
Thank you @ajredniwja. Looking forward for the updates.

[2021-12-09 00:07] #3249 closed

[2021-12-09 00:07] #3416 closed

[2021-12-09 06:57] markusl commented on #2528
This still sounds like something users would appreciate.

[2021-12-09 09:16] Wilson13 opened #3985 "[S3] Fatal error condition occurred - Serverless Framework"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-09 18:34] vudh1 commented on #3660
Hi @gabelazo thanks for reaching out. Can you provide a reproducible code that you use?

[2021-12-09 18:36] vudh1 commented on #3762
Hi @michaeltarleton thanks for reaching out. Are you still experiencing this with the latest version of the SDK?

[2021-12-09 18:45] vudh1 commented on #3802
Hi @gabegorelick changing this to feature-request issue since it is not a bug. Feel free to open a PR to fix this.

[2021-12-09 18:47] vudh1 commented on #3820
Hi @ZhouLihua thanks for reaching out. Want to check if this is persisting with the latest version of SDK?

[2021-12-09 20:35] vudh1 commented on #3984
Hi @shidaying thanks for reaching out. I am not able to reproduce this. Can you send reproducible code (with more information about what is your `params`)? How do you check that your request is 40KB or under?

[2021-12-09 20:37] vudh1 commented on #3983
Hi @dipakjain94 thanks for reaching out. Can you send a reproducible code that we can use to investigate this more?

[2021-12-09 22:18] vudh1 commented on #3976
Hi @neerajhere can you provide more information about what we can support you? You can use [this template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=), and provide a reproducible code that we can use to investigate more?

[2021-12-09 22:44] vudh1 commented on #3974
Hi @FaresKi thanks for reaching out. I am not able to reproduce your problem. Can you check if you are still experience this with the latest version of SDK? Also, please follow [this documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CodeBuild.html#createProject-property) with the code below to create new project, and make sure to call the `createProject` only once:

[code]

[2021-12-10 03:21] shidaying commented on #3984
params = {
namespace,
MetricData
}

just use `Buffer.byteLength(JSON.stringify(params), 'utf8')` to compute size

[2021-12-10 09:45] dipakjain94 commented on #3983
Hi @vudh1 Below are the lambda handler code which is triggered on S3 events (s3:ObjectCreated:*, s3:ObjectRemoved:*).

![image](https://user-images.githubusercontent.com/83639632/145552231-fd16a763-a3f8-4b22-8a9b-2ed471112dbc.png)

[2021-12-10 13:06] michaeltarleton commented on #3762
I have since changed companies but at the time I left this was still an issue.

[2021-12-10 18:57] vudh1 commented on #3780
Hi @cdebergh what SDK version are you using, do you still experience this with the latest version of SDK?

[2021-12-10 20:40] vudh1 commented on #3689
Hi @michaelskahn thanks for reaching out. Is the problem still persisting with the latest version of SDK?

[2021-12-10 20:40] gabegorelick commented on #3802
`FileSystemCredentials` also suffers from a similar issue.

[2021-12-10 20:43] vudh1 commented on #3764
Hi @ankursachdeva11 thanks for reaching out. I cannot reproduce your problem. Are you still experiencing this with the latest version of SDK?

[2021-12-10 21:23] vudh1 commented on #3955
Hi @jatinmehrotra thanks for reaching out. According to [this documentation](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#DDB-Query-response-LastEvaluatedKey), `LastEvaluatedKey` being empty means that there is no more data to be retrieved, but if it is not empty, it does not **necessarily** mean that there is more data. A way you can try to workaround is to query

[2021-12-10 21:23] #3955 closed

[2021-12-10 21:35] vudh1 commented on #3762
Feel free to reopen this issue if the problem is still persisting with the latest version of SDK.

[2021-12-10 21:35] #3762 closed

[2021-12-10 23:06] vudh1 commented on #3984
Hi @shidaying can you send more details on how you limit your params under 40KB? also a screenshot/copy of log would be helpful? I use this code below and it works:
[code]

[2021-12-13 12:24] Kalyanikna opened #3987 "Installed aws-sdk in node js and trying to configure secrets manager for mysql DB connection. Getting an error "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'transaction' of undefined""
I want to configure secrets manager for my mysql DB connection in node js server
Complete set up in aws using lambda function is done and now, i am trying to configure it in node server code

Installed aws-sdk and trying to getting DB configuration details in index.js file
But API's without sequelize transaction functions are working!

API's using sequelize transactions are not working and getting

[2021-12-13 14:24] AnkitNassa commented on #3760
@BhargaviGadiraju facing the same. Could you share the fix if this was resolved.

[2021-12-13 20:30] ajredniwja commented on #3941
Hi @jmathes, can you please share the code that you are using?

[2021-12-13 22:10] vudh1 commented on #3931
Hi @AlexMog thanks for reaching out. I'm not able to reproduce this problem. Can you give more details non how your `params` formats are for `createPresignedPost`?
[code]

[2021-12-14 00:09] #3786 closed

[2021-12-14 06:12] mindnuts opened #3988 "Error message is missing vital information."
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
When using AmazonSQSClient.getQueueUrl  method on a non existent queue, the error message does not list the queue name.

[code]
 In an application with many queues the error message is ambiguous and tedious to manually verify what queues are

[2021-12-14 09:56] huzaifaAhmedTestlio commented on #3978
@ajredniwja @aws-sdk-js-automation  @awstools any updates on this thread please?

[2021-12-14 13:51] contactBetterplay opened #3989 "Using s3.upload for upload from iPhone when it's in the sleep mode"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-12-14 22:43] DevRithm commented on #3649
is this issue still persisting?

[2021-12-15 07:20] shakeel0581 opened #3990 "error: node_modules\aws-sdk\dist\aws-sdk-react-native.js: Call retries were exceeded"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-15 21:09] ctwomblyamzn commented on #3555
Our package [amazon-connect-streams](https://github.com/amazon-connect/amazon-connect-streams) is affected by this bug. Can we please get some attention to this?

[2021-12-15 23:18] sowmitranalla commented on #3926
hi @ajredniwja, hope you're doing well :) any update on a fix for this issue?

[2021-12-16 00:43] michaelskahn commented on #3689
Hi @vudh1. I am still able to reproduce the problem with the latest SDK (2.1046.0) and the steps from before.

[2021-12-16 08:51] mhilgefort commented on #3973
Currently experiencing the same issue. Is there a solution yet?
Downgrading to the version proposed in the stackoverflow issue unfortunately didn't solve it for me.
Using aws-sdk 2.1046 with angular 13

[2021-12-16 16:22] neerajhere commented on #3976
Hi @vudh1 ,
Thanks for the reply. I used that example but I am still facing the issue.
Here is the code which I used
var AWS = require('aws-sdk');
var OLD_CLIENT_ID = 'someID';
var OLD_CLIENT_ID2 = 'someID';
var OLD_USER_POOL_ID = 'someID';
var NEW_CLIENT_ID = 'someID';
var NEW_USER_POOL_ID = 'someID';
exports.handler = async (event, context, callback) => {

    var user;
    if ( event.triggerSou

[2021-12-16 17:28] tahirmolkar commented on #3973
Simply call the list user API manually

[2021-12-16 21:50] TimisRobert commented on #2833
I wasted waay too much time on this.... enjoy

[code]

[2021-12-16 22:38] vudh1 commented on #3990
Hi @shakeel0581 thanks for reaching out. Can you confirm if this problem is still persisting with the latest version of SDK `2.1046.0`? Also, if yes, please provide a sample of reproducible code that you use that we can investigate this problem more?

[2021-12-17 00:07] #3660 closed

[2021-12-17 00:07] #3820 closed

[2021-12-17 10:03] JavierLuna opened #3991 "ParamValidator fails to properly validate document type trait"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-18 00:07] #3984 closed

[2021-12-20 09:37] aprat84 commented on #2939
Is no one ever going to fix this issue?

[2021-12-20 10:55] deepakpc commented on #3180
@ajredniwja Will this get fixed any time soon or is the Pinpoint team still figuring out what is going on?

[2021-12-20 16:17] JakubJakubowski8 commented on #3284
Did someone resolve this issue? I'm facing the same

[2021-12-20 16:32] mzl-md commented on #3284
We figured it's some kind of timeout between instance creation and usage of SQS. As a workaround we use `getQueueAttributes()` after creating the SQS instance and that seems to fix the problem in our case.

[2021-12-20 17:08] TheDutchCoder opened #3992 "`adminDeleteUser` resolves the Promise before it actually deletes the user"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-20 19:29] TheDutchCoder commented on #3992
It looks like this was an issue mapping async requests into an array, instead of directly into a Promise.all.

Disregard!

[2021-12-20 19:29] #3992 closed

[2021-12-21 00:08] #3075 closed

[2021-12-21 00:08] #3931 closed

[2021-12-21 00:08] #3941 closed

[2021-12-21 10:00] riteshbehal007 commented on #3983
@vudh1 At your convenience would you mind giving me a brief update regarding this issue?

[2021-12-22 04:16] GeekStocks commented on #2528
The AWS team gave nothing but lip service to the need, as per usual. Oh look! There are 2 decent AWS competitors!  :wave:

[2021-12-22 15:07] Amr09 commented on #3591
I was facing this issue while calling a `async` function which sends a POST request through `node-fetch` with `await`. In the calling function I was using `.then()` to wait for the response from the called function. When I removed `.then()` and called that function with `await` this issue resolved.

[2021-12-23 00:07] #2486 closed

[2021-12-23 13:31] ggorlim opened #3993 "[IOS mobile sdk] Forbidden error: iotdata.getThingShadow with cognito credentials"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2021-12-23 15:05] neerajhere commented on #3976
Hi @vudh1 , you got any solution for this?

[2021-12-24 00:07] #3546 closed

[2021-12-24 00:07] #3990 closed

[2021-12-24 08:27] MishNia opened #3994 "Sporadic: some logs retrieved using Cloudwatch filterLogEvents are out of order"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-24 09:04] ggorlim commented on #3993
OK guys we can close this issue problem was with polices, code work fine.

Our first IOT policy not have "iot:AttachPolicy","iot:AttachPrincipalPolicy", and that not work.

Then we make new policy where we added this actions but when we created new policy we paste action from browser and it add additional quotes (") to action that was not detected by us or AWS dash so we worked we bad policies(bas

[2021-12-24 15:19] #3994 closed

[2021-12-25 08:19] nik-suri commented on #3926
I am facing this problem as well. Can someone please address this issue as it causes massive lag in the node.js event loop.

[2021-12-25 08:31] nik-suri opened #3995 "Massive Event Loop Lag caused by VALIDATE_CREDENTIALS and readFileSync"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-26 00:08] #3479 closed

[2021-12-26 00:08] #3563 closed

[2021-12-26 00:08] #3570 closed

[2021-12-26 00:08] #3575 closed

[2021-12-26 00:08] #3576 closed

[2021-12-26 23:19] Kikobeats commented on #3611
The @ajredniwja's comment is outdated since `.send()` is returning a Promise these days.

[2021-12-27 20:55] emileindik commented on #3163
@ajredniwja I'm facing the same issue and the fix mentioned by @twilkinson and @venkatvb seems to work. Can we please get this fix merged?

[2021-12-28 07:33] peichengliu-kinto commented on #3229
@baillyjamy I also encountered this problem. ECS has role permission. I failed to obtain ECS credentials using react. How did you solve it in the end

[2021-12-28 14:51] pedrocaseiro opened #3999 "Add environment variable to override endpoint_url"
- [x] This is a feature with version 2.x of the SDK

With [boto3](https://github.com/boto/boto3/pull/2746/files) it's possible to specify an `AWS_ENDPOINT_URL` to override the default one. Wondering if it would be possible to have the same in aws-sdk-js.

[2021-12-28 22:12] ajredniwja commented on #3993
Glad you were able to solve the issue. Pease reach out if you need any other help.

[2021-12-28 22:12] #3993 closed

[2021-12-28 23:09] ajredniwja commented on #3180
Pinpoint team was able to provide a workaround but not an idle solution, please see if this works for you.

You follow the following sequence of commands:

1. Create a test endpoint with "UserAttributes.subscriptions" as a user attribute:
[code]
2. Remove all values for the user attribute "subscriptions". Note that excluding "subscriptions" itself without the empty list will NOT remove any values

[2021-12-29 02:02] AllanZhengYP commented on #3163
Hi, @emileindik

Reopen this issue as it remains a problem. I will look into the root cause and verify the proposed fix.

[2021-12-29 03:05] clementy-aws opened #4001 "(redshift): modifyClusterIamRoles with unexpected key 'DefaultIamRoleArn' found in params"
AWS APIs are updating constantly, you might be calling a new API with an older version is SDK. In
    this case you should try installing the newest `aws-sdk` like:

    `npm install aws-sdk@latest`

    If you are using the SDK in AWS Lambda, you are likely using old SDK version too. AWS Lambda bundled
    SDK version is shown in [this document](https://docs.aws.amazon.com/lambda/latest/dg/lambda

[2021-12-29 20:36] jcpage commented on #3783
I am getting the same issue with the SDK when I set "forcePathStyle: true" in the S3ClientConfig.  Basically it is adding the bucketname twice to the path, ie ENDPOINT/BUCKETNAME/BUCKETNAME/KEY.

When I don't set forcePathStyle the path is correct, but the host becomes BUCKETNAME.ENDPOINT/KEY - since I am trying to use a local endpoint for testing this doesn't work.

It's definitely a bug since no

[2021-12-29 21:06] johnrteg commented on #1939
Probably too old, but it would be nice to list buckets without the CORS headache.  The work around to manage available buckets in a json file in a created (well known) bucket will have to suffice for now.

[2021-12-29 21:06] saru2020 opened #4002 "Amazon DynamoDB - Remote DB Connection Issue - InvalidSignatureException: Credential should be scoped to a valid region, not 'eu-east-2'"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2021-12-29 21:08] saru2020 commented on #4002
Also, i tried [this aws4 solution](https://github.com/aws/aws-sdk-js/issues/168#issuecomment-38233913), which is working, which means the issue exists in aws-sdk only? (I tried using different aws-sdk versions as well but still no luck in making it to work)

[2021-12-30 11:07] riteshbehal007 commented on #3983
Do we have anything as an update or can change the user who has help us on this.

[2021-12-31 10:04] smarzism commented on #3649
I had a problem with the image sent from a3 GetObjectCommand and received by axios and I solved it here :
https://stackoverflow.com/questions/70534780/convert-weird-image-characters-for-use-in-image-src

[2022-01-02 12:07] Nxtra commented on #3488
With OTP codes we work around it like this.

We send a custom challenge answer that contains metadata which indicates the code should be resend.
[code]

Then in your create challenge trigger lambda function check the metadata on the request:
[code]

This way the client has the option to ask for the code to be send again.

[2022-01-03 05:57] deepakpc commented on #3180
@ajredniwja I understand what the Pinpoint team is trying to provide as a workaround. When I try to update an endpoint with an empty array, it is working fine for an endpoint.

But, the real issue is not that. The "removeAttributes" API is for removing that attribute from all the endpoints within that Pinpoint Application. With this workaround, we need to get the endpoints and update them one by o

[2022-01-04 04:29] jiahao-c commented on #3673
It should not do `var exports = {};` It is irrelevant and may cause unknown issues.  Only the following will suffice.
[code]

[2022-01-04 04:42] jiahao-c commented on #3673
@ErikCH  Hi Erik, thanks for posting this issue, but it seems like the aws-sdk-js team have not had any fixes or updates for a while.  Maybe it is because they moved to the new repo https://github.com/aws/aws-sdk-js-v3 . Could you please repost/forward this issue in the new repo, so they can be more aware about this?
Thanks so much!

[2022-01-04 21:43] tobilg opened #4003 "GitHub releases are no longer created after v2.1048.0"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-01-05 20:52] tobilg commented on #4003
Seems like it’s working again with v2.1051.0

[2022-01-07 12:35] Joachimzeelmaekers commented on #3305
@sshadmand I had the same issue, but I resolved it by adding an explicitly signature version like this:
[code]

[2022-01-07 13:34] montoyadamien commented on #3102
Yes please, this feature could help us to improve performances. Thanks.

[2022-01-07 16:18] chriswardo commented on #3478
@fiveironfrnzy08 Sorry I've only just noticed your comment. I'm not using that plugin, no.

I'm glad someone else is experiencing the same bug, so it doesn't look like I'm mad ;)

[2022-01-07 20:06] kilsen commented on #3926
We are experiencing the same issue. We're passing in our AWS access key id and secret access key via a call to config.update(). We do not have the credential files on disk. Yet, each call to upload a file to S3 seems to trigger an attempt to read /root/.aws/credentials and /root/.aws/config. Since neither file exists, this results in two ENOENT errors being logged - every time we upload a file. It

[2022-01-08 00:08] #3129 closed

[2022-01-08 00:08] #3548 closed

[2022-01-08 00:08] #3550 closed

[2022-01-08 14:14] saru2020 commented on #4002
the issue was occurring because of the typo in the region where I had this: 'eu-east-2' instead of this: ''us-east-2'

I got an input only [here](https://repost.aws/questions/QUK5A9Y_82SWGsdpE-c0AxGA/dyanamo-db-connection-issue-aws-sdk-for-node-js), looks like people are active only Amazon's repost.

[2022-01-08 14:14] #4002 closed

[2022-01-08 15:59] zikster3262 opened #4004 "e2.createVpc creates two vpc resources instead of one when adding .promise()"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) f

[2022-01-08 18:54] zikster3262 commented on #4004
I tried more testing scenarios with async/await. it sometimes creates 1 and sometimes 2 vpc resources.

[2022-01-08 23:40] #4004 closed

[2022-01-08 23:41] zikster3262 commented on #4004
mistake on my part due to environment testing. Nodemon was creating the operation twice during each save.

[2022-01-10 09:53] abhipatel7 opened #4005 "Help: Do we have functionality in this package to upload multiple file at same time ?"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2022-01-10 10:12] dipakjain94 commented on #3983
Hi @vudh1, Do we have any update on this issue?

[2022-01-10 12:43] bmulcahy commented on #3760
I am also facing the same issue. Manually uploading via console access to s3 works just fine. Uploading via aws-sdk does not. I am running the most recent version of the aws-sdk. File size is about 1 gb.

[2022-01-10 21:40] christianlmc commented on #1769
I'am still getting the same error as @bennypowers and @jordanranz reported. BTW I'm using `"vite": "^2.7.10",` with `"aws-sdk": "^2.1048.0"` on Vue 2.

Builds with `webpack` still run fine but `vite` throws me the same error on the browser:

`Uncaught TypeError: Cannot read property 'memoizedProperty' of undefined`

[2022-01-11 08:15] joanthethings opened #4006 "TypeError: ["fips-aws-global","aws-fips","aws-global"].includes is not a function."
## Describe the bug
I have been using/mantaining a 5 years old repo using aws-sdk 2.6.3, but have been having problems since 1-2 months ago, although the version hasn't been changed, it is throwing me this error, once deployed to production: TypeError: ["fips-aws-global","aws-fips","aws-global"].includes is not a function.

Yes, this old repo is using ES5 so the error is understandable but I don't

[2022-01-11 16:34] akasummer commented on #3478
I've created an AWS Lambda function to convert images to webp format (Triggered by CloudFront) and I am getting same error:
[code]

Piece of the code which is triggering this error:
[code]

After investigation, I've found out that the issue was that the object in S3 (the one I was trying to fetch), had a System-defined metadata: `Expires: 01/01/2031`. So, whole `getObject()` function was failing b

[2022-01-12 00:09] #3018 closed

[2022-01-12 04:00] Todd-SI commented on #3783
@jcpage  Ok, I think I've figured it out. The url construction we're trying to achieve is called path-style: https://s3.Region.amazonaws.com/bucket-name/key-name. (or wasabisys.com in this case). However, AWS is moving to a default virtual-hosted style url construction: https://bucket-name.s3.Region.amazonaws.com/key-name. From this doc, it looks like they plan to eventually deprecate path-style.

[2022-01-12 06:41] Eyads commented on #2486
It is still an issue! I've just used the pipeline and it both consumed and produced data in the weird format described by the OP.

[2022-01-12 10:34] #4006 closed

[2022-01-12 16:26] AllanZhengYP opened #4007 "Support SigV4 unsigned headers configuration"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
Related to https://stackoverflow.com/questions/64693442/wrong-aws-request-signature-caused-by-opentelemetry-https-plugin

For 3rd party tools that mutates the headers, they are likely to break the SigV4 signature because v2 SDK uses a blockli

[2022-01-12 18:09] christianlmc commented on #1769
After a few days of trying to fix this issue, I finally got to a working solution aka workaround.

First create a file for the functions you use on your project (in my case it was only S3)

`aws-s3.js`
[code]

Then create the webpack config file (install webpack if you don't have it).

`webpack.config.js`
[code]

Add the following script to your `package.json`.

`package.json`
[code]

Then run the

[2022-01-12 18:59] emileindik commented on #3163
Hi @AllanZhengYP any update on this? I made a PR for you. https://github.com/aws/aws-sdk-js/pull/4008

[2022-01-12 21:47] xonuzofa opened #4009 "Typings is broken for client-route-53"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-01-13 21:36] fredhii opened #4010 "Kinesis video streaming takes 21-40s latency to stablish video"
Confirm by changing [ ] to [x] below:
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [] This is an

[2022-01-16 00:08] #2920 closed

[2022-01-16 00:08] #3035 closed

[2022-01-16 00:08] #3573 closed

[2022-01-17 01:19] dsilva342 commented on #3136
+1

[2022-01-18 14:45] eric-2d commented on #3673
Going to a year with this issue?
Considering switching to firebase as a much quicker resolution.

[2022-01-19 10:57] pfried commented on #1766
@sebiniemann https://aws.amazon.com/about-aws/whats-new/2022/01/aws-lambda-es-modules-top-level-await-node-js-14/?nc1=h_ls

[2022-01-19 12:39] YoannR09 commented on #3973
try to reduce the version of amazon-cognito-identity-js to  "^3.3.3"

[2022-01-20 00:38] mobsense commented on #3520
This is still an issue and should not be automatically closed without any investigation or comment.

[2022-01-20 05:11] indiub commented on #3987
@vudh1 Is this bug fixed. I keep getting the same error

[2022-01-20 06:04] hellopeera opened #4013 "S3.upload Content-Encoding header disappeared"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2022-01-20 16:25] sowmitranalla commented on #3926
@ajredniwja I hope you're doing well. Is there any sort of update on this issue? seems like multiple people are reporting it and I'm sure others are also experiencing it.

[2022-01-21 03:51] ashutosh887 commented on #4005
Maintainers please tell!

[2022-01-21 17:14] #3991 closed

[2022-01-22 20:34] gustavotemple commented on #3891
Hi,

Same behavior here:
_We are trying to execute the following TransactItems request, about 50% of the time we get the following error. Before throwing the error, the request hangs for about 20s._

**SDK version number**
2.1053.0

@mfbx9da4, do you have any news?

[2022-01-24 11:26] barshopen commented on #3128
To anyone considering to move to the new @aws-sdk/client-s3, please be aware there is also an open [bug](https://github.com/aws/aws-sdk-js-v3/issues/1920#issue-787038681) there, that just won't let you send streams.
There is a bypass however, please see [this](https://github.com/aws/aws-sdk-js-v3/issues/1920#issuecomment-780546781)

[2022-01-24 18:43] Suvab-rently opened #4016 "Cognito Identity service provider returning different cognito error for Refresh Token API from Jan 21st, 2022"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-01-25 00:08] #2768 closed

[2022-01-25 17:23] jfstephe opened #4017 "S3 GetObject Memory Leak when multiple calls made in parallel"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-01-28 13:03] uhinze commented on #3647
Stumbled here by accident. Isn't this just a typo and should be 'us-east1' instead of 'us-east-1'?

[2022-01-30 13:15] ocdinvstr opened #4018 "Add ConditionExpression to DynamoDB batch write"
I would like to put a bunch of items with batchWrite if my condition validates, even putItem is supporting ConditionExpressions for that purpose, DynamoDB batchWrites do not support ConditionExpressions. For that I have to make many parallel calls to DynamoDB which could be solved with batchWrite if it had ConditionExpressions support. If we had it in batchWrite that would save me a lot.

[2022-01-30 16:31] uvdoctor commented on #3721
Is there any update to this bug? I am also facing this issue

[2022-01-31 00:07] #3385 closed

[2022-01-31 07:13] Nevon commented on #3059
Hello bot. Yes, this is still an issue.

[2022-01-31 11:05] Suvab-rently commented on #4016
Can anyone please check this and provide some insights. Thanks

[2022-02-01 20:56] jonathaneemmett commented on #3501
Still an issue as of Feb 1, 2022

[2022-02-02 07:26] ashikjs commented on #3781
@Selenophilia, we are facing same issue, after expired session we can't refresh token by `.get(), .refresh()` etc. event all of those method not working or executed !

@ajredniwja Can you help me by providing how those method work or how i can renew my token or session ?

[2022-02-02 13:24] vusaalab opened #4019 "Next Js production build uploader not working"
Confirm by changing [ ] to [x] below:
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ x] This is

[2022-02-03 16:19] teuteuguy opened #4020 "IoT SDK deleteThingGroup promises on child groups succeed before actually doing it, causing the parent deletion to fail"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-07 09:58] AlexMog commented on #3931
Sorry for the delayed response.
I haven't been able to reproduce it since then, but I may have encountred a problem that can be related:
My AWS Client is not able to automatically discover the configuration in an ECS Container.
I have to use the following code to allow it to link the ECS Task credentials:
[code]
This code works partially, the RemoteCredentials is able to retrieve the AWS credentia

[2022-02-07 14:40] youssef-mahdi commented on #3673
I have the same problem did you manage to solve it ?

[2022-02-08 08:43] UmerEdava opened #4021 "Issue in uploading to S3"
Inaccessible host '  ' at port undefined: This service may not available in the 'us-east-1' region

One of my co-worker getting this error while uploading to s3.......

[2022-02-08 16:45] ajredniwja commented on #4021
This error message can be because of multiple issues:

Please fill out: https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=

[2022-02-08 21:22] clhuang commented on #2300
if you look at the code for @aws-sdk/client-lambda, it still doesn't use HTTP/2, and attempting to just directly use the NodeHttp2Handler doesn't work: https://github.com/aws/aws-sdk-js-v3/issues/3292; I also detail a workaround in that ticket.

It appears there are some implementation details with the Lambda service HTTP/2 server that don't play well with the NodeHttp2Handler in @aws-sdk.

[2022-02-09 00:35] DanielLMA commented on #3973
What is the significance of amazon-cognito-identity-js at "^3.3.3"? Is this a more stable version?

Experiencing the same problem after upgrading ng v11 -> 12.
 "amazon-cognito-identity-js": "^5.2.4",
 "aws-sdk": "^2.1059.0",

[2022-02-09 21:59] #3894 closed

[2022-02-10 18:53] samanrj commented on #2772
Any updates...?

[2022-02-11 07:07] terra2022devops commented on #2833
@TimisRobert : Can you please give link for SignatureV4 documentation

[2022-02-11 17:23] tyler-dunkel opened #4023 "How to access ARN for athena DataCatalog"
Confirm by changing [ ] to [x] below:
- [ ] This is a feature with version 2.982 of the SDK

**Is your feature request related to a problem? Please describe.**
I am trying to get unique instances of athena data catalogs and be able to fetch attached tags. Currently, using `athena:listDataCatalogs` or `athena:getDataCatalog` you only get back `{ CatalogName, Description, Type }`. however, to use `a

[2022-02-13 00:08] #3623 closed

[2022-02-13 13:51] BossYi commented on #1769
it works!!!

[2022-02-13 23:58] maxb94 commented on #3704
For anybody else that may be having this issue running the sdk on Fargate, I found that the following works:

[code]

[2022-02-14 09:38] zhoushangdeng opened #4024 "断点续传报错， Error: Parse Error"
这是我的代码，有时候断点续传走到 this.client.uploadPart 就卡住了，有时候正常，错误为就解析错误。我是在koa里使用的，我的版本"aws-sdk": "^2.4.1",
[code]

[2022-02-15 14:34] nlang commented on #4009
This issue still exists in version 3.51.0
The typings file `Route53.d.ts` is truncated at line 97
![image](https://user-images.githubusercontent.com/1759992/154082831-28ad818a-7cb1-4b07-b78b-f6685bb11477.png)

The typings for `Route53Client` are odd as well, the Route53Client has no `send()` method defined in is therefor pretty useless at the moment.

[2022-02-16 11:59] ArunprasadRajendran commented on #3305
when we get the image or video file from the aws getSignedUrl why the getting files are showing in the source page folder while  doing the inspect element?
How to avoid or clear the image files. Please anyone can explain immediately.

[2022-02-16 12:00] ArunprasadRajendran opened #4025 "when we get the image or video file from the aws getSignedUrl why the getting files are showing in the source page folder while doing the inspect element? How to avoid or clear the image files. Please anyone can explain immediately."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-16 13:44] jsumners opened #4026 "Lambda remaining execution time via an API?"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2022-02-16 16:52] pawelzebrowski opened #4027 "Not possible to Filter on attribute = null"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-16 17:12] Kennyabby opened #4028 "S3.deleteObject affirms that file has been deleted, but i can still find the file in s3 bucket."
After successfully finding a way to send data from client to server in meteor. I tried deleting a file from my bucket list which, from my code analysis, was successful.

Below is my code.
`const app = express();
const S3_BUCKET = process.env.S3_BUCKET;
const REGION = process.env.REGION;
const ACL = process.env.ACL;

AWS.config.update({
  accessKeyId: process.env.ACCESS_KEY_ID,
  secretAccessKey: p

[2022-02-16 18:27] metealp commented on #3203
this is worked for me. Crucial step was setting Inbound rules, default one was http. thanks a lot

[2022-02-16 22:19] sowmitranalla commented on #3926
@ajredniwja if we just opened a PR to fix this, how long would it take to merge?

[2022-02-17 00:07] #4021 closed

[2022-02-17 03:47] FredericHeem opened #4029 "apprunner createService from source code"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-02-17 13:37] ab958 opened #4030 "UnsupportedDocumentException: Request has unsupported document format"
i am using a aws sdk while using analyzeDocument i uplaod a png file using form-data it works fine locally but when i test the deployed fuctiions it give this error
UnsupportedDocumentException: Request has unsupported document format

[2022-02-17 14:35] rrrrrg commented on #3720
Same issue.

[2022-02-17 17:15] qiangyi1 opened #4031 "when I call the generateEmbedUrlForRegisteredUser on a quicksight instance there are two error"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2022-02-19 01:48] vudh1 commented on #4031
Hi @qiangyi1 can you provide more information (with reproducible code) and follow this template so we can investigate more.

[code]

[2022-02-19 01:49] vudh1 commented on #4030
Hi @ab958 thanks for reaching out. Can you follow this template and provide us more information on the case:

[code]

[2022-02-19 01:59] vudh1 commented on #4028
closing this. Please reopen if this is not helpful.

[2022-02-19 13:56] icsaba opened #4033 "Make searchIndex sortable in IoT"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
We are trying to build up a dashboard using IoT without databases, because IoT provides all of the features we need (fleet indexing, basic pagination etc...), except sorting. Currently i have to use 4 different `searchIndex` api call to get w

[2022-02-20 00:10] #3558 closed

[2022-02-20 03:32] qiangyi1 commented on #4031
It is in the browser. I noted that It is the  version of 2.1074.0. I do not use the script type to use the sdk.I install the npm module of sdk for If I want to use the quicksight normally I have to use the client of quicksight because the script type of sdk is not including the quicksight constructor to call. there are some commonts for the below code. I am glad for your team to solve the problem

[2022-02-20 04:15] SebastianBanks commented on #3665
Same problem here

[2022-02-20 09:35] szabadkai commented on #4033
I have to agree, once you exposed maxResults it really begs for a a sort api to be useful.

[2022-02-21 07:49] vudh1 commented on #4024
Hi @zhoushangdeng thanks for reaching out. Can you follow this template with an English version of the case:

[code]

[2022-02-21 08:09] jenni commented on #3922
+1

[2022-02-21 11:02] ab958 commented on #4030
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-21 16:50] augustolima commented on #3005
Hello, any updates here?
I've been experiencing something similar nowadays. Mostly related to `initiateAuth` and `signup` using `CognitoIdentityServiceProvider`.

**Current version**: `"aws-sdk": "^2.1064.0"`
**Node version**: `"node": "16.13.2"`

[2022-02-21 17:17] ulisescarreonalvarez opened #4034 "AWS SDK Translate translateText sometimes throws Timeout in Lambda"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-21 19:02] Asiyah017 commented on #3647
Hi has this been fixed, I have this same exact issue a year after

[2022-02-21 19:56] vudh1 commented on #4026
Hi @jsumners thanks for reaching out. To confirm, are you asking for a `getRemainingTimeInMillis` method that works with non-Lambda function?

[2022-02-21 20:00] vudh1 commented on #4019
Hi @vusaalab thanks for reaching out. Is this problem still persisting? I checked and the code works, and you said that it is also working with next js dev so I suspect something is not correctly set up in production build.

[2022-02-21 20:07] jsumners commented on #4026
No. The execution environment is within a Lambda function. I just want to be able to get the desired information without requiring developers to pass the Lambda `context` object to the HTTP client.

[2022-02-21 20:15] vudh1 commented on #4013
Hi @hellopeera thanks for reaching out. Is this still persting with the latest version of SDK? I am not able to reproduce this.

[2022-02-21 20:19] vudh1 commented on #4010
Hi @fredhii thanks for reaching out. Please open an issue with [amazon-kinesis-video-streams-webrtc-sdk-js](https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-js) as this is not SDK issue.

[2022-02-21 20:19] #4010 closed

[2022-02-21 20:20] vudh1 commented on #3947
closing this for no response. Please reopen and provide more information.

[2022-02-21 20:20] #3947 closed

[2022-02-21 20:29] vudh1 commented on #3855
Hi @nexun, safe way to do it is to have it locally and use `fs.createReadStream`.

[2022-02-21 20:29] #3855 closed

[2022-02-21 20:58] vudh1 commented on #4025
Hi @ArunprasadRajendran thanks for reaching out. Can you provide reproducible code for this case?

[2022-02-21 22:06] vudh1 commented on #3780
closing this for no response.

[2022-02-21 22:06] #3780 closed

[2022-02-21 22:16] vudh1 commented on #3840
Hi @s1mrankaur thanks for reaching out. S3 interface needs to be initialized inside the function in this case because the test function needs to use the instance created.

[2022-02-21 22:16] #3840 closed

[2022-02-21 22:25] #3974 closed

[2022-02-21 22:25] #3760 closed

[2022-02-21 22:26] #3764 closed

[2022-02-22 00:09] jo-sip commented on #3975
Thanks for bringing this up, you saved me more hours on already many wasted!

[2022-02-22 20:39] teuteuguy commented on #3908
Agree with this issue. The .upload does not have the VersionId part of the interface description.

This needs to be corrected, please.

[2022-02-22 23:29] vudh1 commented on #3698
Hi @MeRahulAhire there is no specific way to auto select the closest region in SDK. You can check that [here](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-regions).

[2022-02-22 23:29] #3698 closed

[2022-02-22 23:31] vudh1 commented on #3746
Hi @IhostVlad please confirm if this is still persisting with the latest version of SDK?

[2022-02-23 00:21] vudh1 commented on #3987
hi @Kalyanikna can you confirm if this is still persisting? Can you also provide log so we can understand where the error happens.

[2022-02-23 00:25] vudh1 commented on #4029
Hi @FredericHeem thanks for reaching out. You are missing some variables in params for `ImageRepository`:
[code]
Please refer to [this documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/AppRunner.html#createService-property) also.

[2022-02-23 00:25] #4029 closed

[2022-02-23 03:53] Groverok commented on #3665
+1, same problem

[2022-02-23 10:24] nikhilpatilTR opened #4035 "UnknownEndpoint: Inaccessible host: `localhost' at port `8002'. This service may not be available in the `us-east-1' region."
UnknownEndpoint: Inaccessible host: `localhost' at port `8002'. This service may not be available in the `us-east-1' region.

I am getting this error when trying to access local-dynamo using http://localhost:8000

[2022-02-23 14:11] FredericHeem commented on #4029
There are 2 modes for the *createService* API, via *CodeRepository* or via * ImageRepository*: `You must provide either this member or ImageRepository (but not both).`

[2022-02-23 16:21] TrueWill opened #4036 "Add JavaScript examples for SDKv3"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**

Please consider including JavaScript / TypeScript examples for AWS SDK for JavaScript v3 (specifically SES in my case). I can't find anything that references @aws-sdk/client-sesv2, uses `Content` instead of `Message`, etc.

**Describe the so

[2022-02-24 01:24] vrieni commented on #3180
Is there an update on this? I'm having the exact same problem with custom endpoint attributes.

[2022-02-24 14:54] rchl opened #4038 "NeedMoreData / Not enough data thrown randomly with amazon-dax-client"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-02-24 20:40] andreaswittig opened #4039 "Which VPC endpoint interface (ENI) does the AWS SDK use?"
Confirm by changing [ ] to [x] below:
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [X] This is an

[2022-02-25 06:37] ulisescarreonalvarez commented on #4034
We try to do the next:

* Use only private subnets (at the end it doesn't matter if we use public the lambda has internet access)
* We change the httpOptions to KeepAlive the connections
* We tried to change the code to split the requests on multiple batches.

But at the end it doesn't work as expected, AWS Translate SDK suddenly shows TimeOut.
It happens sometimes, its the only service that we ar

[2022-02-25 08:06] Kalyanikna commented on #3987
Hi @vudh1 @indiub this issue is fixed...
Before applying the secrets manager, Syntax i have followed for sequelize transactions is **sequelize.transaction()**
But After applying secrets manager, sequelize transactions are working only after changing the syntax as follows:
**models.sequelize.transaction()**

[2022-02-25 13:53] teuteuguy commented on #4020
Issue is easy to reproduce.

create a thing group hierarchy of parent and child’s.

then, use JavaScript sdk to deleteThingGroups one after the other starting from the children using promises

[2022-02-27 00:10] #2530 closed

[2022-02-28 01:01] tortuc opened #4040 "how can i solve this error when i tried to play the audio stored in S3 bucket."
![image](https://user-images.githubusercontent.com/65579678/155908238-824b24d8-ea35-4f96-ba79-743564a4fab3.png)

const s3ObjectUrl = parseUrl(`${window.location.protocol}//${Bucket}.s3.${region}.amazonaws.com/${content.Key}`);
const preSigner = new S3RequestPresigner({
    credentials,
    region,
    sha256: Sha256 // In browsers
});
// Create a GET request from S3 url.
const url = await formatUr

[2022-02-28 08:46] skharab-anaplan commented on #3647
for most cases I think it doesn't save code rather add, because we would need to add an if condition to not set it if the region  is us-east-1

[2022-02-28 20:49] DeekshaPandit opened #4041 "Invalid signature when key is encoded in a presigned url generated for object lambda access point"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2022-02-28 22:01] allanjsx commented on #3760
@vudh1 Why this issue is closed, and if there's a fix, can you please share the link to the version that contains the fix? Thanks!

[2022-03-01 00:16] #3648 closed

[2022-03-01 00:16] #4013 closed

[2022-03-01 00:16] #4019 closed

[2022-03-01 00:16] #4024 closed

[2022-03-01 00:16] #4025 closed

[2022-03-01 03:13] DLakin01 opened #4042 "S3 createReadStream returns a PassThrough instead of a Readable"
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issues](http

[2022-03-01 03:24] #4042 closed

[2022-03-01 15:20] FilipPyrek commented on #2772
+1

[2022-03-01 16:03] benkehoe commented on #2772
@FilipPyrek If you react with the 👍 button to the original issue, (click on the smiley face if you're the first reacting), your votes can be used to sort issues and determine priorities.

A comment will send a notification to everyone (participants and watchers), but cannot be easily counted as a vote for an issue. Thus it's generally better to vote than to comment with "+1". To keep up to date, y

[2022-03-02 00:14] #3746 closed

[2022-03-02 11:15] ajredniwja commented on #4041
HI @DeekshaPandit, can you please fill all the info in [issue template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=).

[2022-03-02 11:17] ajredniwja commented on #4040
https://forums.aws.amazon.com/thread.jspa?messageID=914773

Closing this issue as it is not related to the SDK.

[2022-03-02 11:17] #4040 closed

[2022-03-02 17:03] PierreBeucher opened #4043 "AWS_SDK_LOAD_CONFIG being handled as truthy value is confusing as AWS_SDK_LOAD_CONFIG=0 is truthy"
Confirm by changing [ ] to [x] below:
- [x] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**

[Documentation](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-configured-credential-process.html) mentions the use of `AWS_SDK_LOAD_CONFIG` being handled as per _truthy_ value:

However when setti

[2022-03-02 21:27] spaiz commented on #3926
Hi there.
Any plans to fix it? ETA?
Should we fork and temporary fix the stuff until official fix will be released?

[2022-03-02 23:25] robahtou commented on #3943
Any updates on this? getting same warnings
[code]

[2022-03-03 07:58] rvjalamy commented on #3665
same issue :
CredentialsError: Missing credentials in config, if using AWS_CONFIG_FILE, set AWS_SDK_LOAD_CONFIG=1

[2022-03-03 15:29] AliOatley commented on #4016
I would like to know about this as well

[2022-03-05 00:09] #3595 closed

[2022-03-07 00:09] #2947 closed

[2022-03-07 10:47] Tabish13 opened #4044 "How can I upload to s3 without passing credentials/config, IP whitelisting is on aws s3"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2022-03-07 13:21] julien-c commented on #3131
unstale

[2022-03-08 18:25] ajredniwja commented on #4038
Hey @rchl thanks for opening issue, can you possibly check for any race conditions with your code?
To further investigate I would need something I can use to reproduce the issue.

[2022-03-08 18:27] ajredniwja commented on #4036
Thanks for providing the feedback, we are trying to prioritize the docs for V3.

[2022-03-08 18:27] ajredniwja commented on #4035
Can you please follow the [issue template](https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2C+needs-triage&template=---bug-report.md&title=)?

[2022-03-08 18:29] ajredniwja commented on #4034
Can you also share what version of the SDK you are using?

[2022-03-08 18:36] ulisescarreonalvarez commented on #4034
@ajredniwja It's the same version as the Node JS Lambda Function, we don't upload a certain version

[2022-03-08 18:53] ajredniwja commented on #4034
I see a lot of changes to translate after the current version that is shipped with Lambda, can you please update the SDK to the latest version?
You can follow [these guidelines](https://docs.aws.amazon.com/lambda/latest/dg/nodejs-create-deployment-pkg.html#nodejs-package-dependencies)

[2022-03-08 19:52] rchl commented on #4038
Hi.

So after filing this I've also filed the #9647941061 case in AWS with more details and reproduction that I wouldn't be comfortable sharing there.

I got response that it will be followed up by DAX team so up to you how you want to handle this issue.

I could post more information here if that would be useful to you.

[2022-03-08 19:53] comcalvi opened #4046 "createReadStream time out test failures on master branch"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-03-09 13:39] Psycholive opened #4050 "STS service do not use region's endpoint"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-03-10 00:09] #4041 closed

[2022-03-10 12:21] toniopelo commented on #1603
I had to implement this myself and I decided to create a package in order to avoid the hassle of doing this again and again.
If this ever helps someone, here are the two packages: [@modbox/s3-uploads-server](https://www.npmjs.com/package/@modbox/s3-uploads-server) and [@modbox/s3-uploads-client](https://www.npmjs.com/package/@modbox/s3-uploads-client)

These include as a commodity:
- Helpers in th

[2022-03-11 18:11] ctrlaltdylan commented on #3591
Same issue happening for my ALB gateway on `us-east-2`.

It's intermittently rejecting requests from my consumer services:

[code]

[2022-03-11 22:18] #2772 closed

[2022-03-13 00:09] #3651 closed

[2022-03-15 17:55] tnoskilz opened #4053 "Documentation shows this to now be optional?"
in s3control CreateJobRequest, the ClientRequestToken is marked as required.  The [documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3Control.html) is conflicting, marking it both as Required in the example and then stating this:
"If a token is not provided, the SDK will use a version 4 UUID."
Others have pointed to this no longer being required for services such as chime due

[2022-03-15 19:23] andreaswittig commented on #4039
@ajredniwja can you help with this question?

[2022-03-16 14:35] paul-uz opened #4054 "Signed URL for PUTing data works, errors for DELETE"
I am using SignatureV4 to create a signed URL to interact with OpenSearch.

The URL is correctly signed when I create a request to PUT data into the index, but errors with the following message when trying to DELETE a record:

"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for de

[2022-03-16 15:46] paul-uz commented on #4054
Solved by removing the body data when using the DELETE method.

[2022-03-16 15:46] #4054 closed

[2022-03-17 00:09] #4035 closed

[2022-03-17 18:24] mandeepm91 commented on #3488
@Nxtra Which AWS cognito API endpoint did you use for this? The logic that you shared, did you write this in the lambda triggers?

[2022-03-18 17:02] ezequiel454 commented on #3943
I will follow this thread with same errors

`npm WARN deprecated querystring@0.2.0: The querystring API is considered Legacy. new code should use the URLSearchParams API instead.
npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.
n

[2022-03-19 22:24] KevinFiorentino commented on #3665
BadRequestException: Missing credentials in config, if using AWS_CONFIG_FILE, set AWS_SDK_LOAD_CONFIG=1

I am using `"ibm-cos-sdk": "1.10.2"` and I have the same problem.

[2022-03-20 00:10] #2071 closed

[2022-03-21 20:26] boboci9 commented on #3976
Hi guys, did anyone find tge solutiom to this issue? I am fighting with the same one unfortunately.

[2022-03-22 14:44] Phrensoua opened #4057 "DynamoDB error: ValidationException: One or more parameter values were invalid: Missing the key conversationId in the item"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-03-22 16:48] jeremychone commented on #3943
I really hope this can be fixed soon.

Now, uuid is at version > 8.x, and having such an old deprecated version in our builds is worrisome and makes our security team nervous.

AWS-SQK team, your library is great, and we use it for big enterprise applications with high compliance requirements, but  this issue has been a problem in our context.

[2022-03-23 19:20] gmartenscb opened #4058 "Swagger grouping operations (tags) are ignored"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-03-24 06:55] NicoVIII opened #4059 "[Typings][DynamoDB] putItem - .d.ts is missing null for callback parameters"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-03-25 14:52] amopportunities commented on #3926
Still an issue for us as well.

[2022-03-26 01:48] Phrensoua commented on #4057
Ok, I had a typo in my AWS-CLI (conversationnId with 2 n) so it works. Still, the error remains using 'aws-sdk'...

[2022-03-26 04:52] Phrensoua commented on #4057
Sorry, the error was in my CDK deployment. Closing the issue...

[2022-03-26 04:52] #4057 closed

[2022-03-28 03:05] StingLin opened #4061 "Getting ERROR [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated when Refreshing token"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-03-29 00:11] #3683 closed

[2022-03-29 01:40] Cerberus0013 commented on #3665
did anyone figure this problem out? I'm having the same issue

[2022-03-29 04:52] yukha-dw commented on #3894
Please fix bug on `@aws-sdk/signature-v4` before make it the main dependency of `@aws-sdk/middleware-sdk-s3`. I had problem when doing upload test using `@awsk-sdk/client-s3` on `supertest/ava`.

Unfortunately i forgot what's the error is, and it's only happened on linux.

[2022-03-29 14:53] Kinjalrk2k commented on #2981
+1 for this feature!

[2022-03-29 21:32] StingLin commented on #4061
It happened again and the error still only prompt randomly... Anyone has suggestion?
<img width="1088" alt="Screenshot 2022-03-30 at 08 31 05" src="https://user-images.githubusercontent.com/57604552/160710866-b1743a04-f1a7-4b68-ab6b-20818d2e92ea.png">

[2022-03-29 21:39] ajredniwja commented on #4061
Hi there, this seems to be a dependency issue where one or more of your dependencies may still be using the properties which are deprecated now. [See details](https://nodejs.org/api/deprecations.html#DEP0066).

Can you check where the error is originating from

[2022-03-29 21:48] ajredniwja commented on #4058
Hi there, V2(this repo) is default for Lambda Node.js environment. See [examples](https://docs.aws.amazon.com/sdk-for-javascript/v3/developer-guide/lambda-examples.html) here on how to bundle V3 of the SDK correctly.

[2022-03-29 21:48] StingLin commented on #4061
@ajredniwja
The error was handled in catch function that was coming after calling
`cognitoidentityserviceprovider
      .adminInitiateAuth(params)
      .promise()`
      So, I assume the deprecation was because the aws sdk and wonder if there is a way to fix this issue ?

[2022-03-29 22:14] ajredniwja commented on #4053
Hi there, the docs reflect `ClientRequestToken` required because it is required by the [CreateJob API](https://docs.aws.amazon.com/AmazonS3/latest/API/API_control_CreateJob.html#API_control_CreateJob_RequestSyntax).
I think its an add on that the SDK generates a token when its needed, instead of breaking the request.

https://github.com/aws/aws-sdk-js/commit/a984c93b9943b241fb6b040003ed562231ef22a

[2022-03-29 22:23] ajredniwja commented on #4050
Hi there, there might be something else affecting this as I am able to run it just fine, using the code above.
I get:
[code]

[2022-03-29 23:05] AllanZhengYP commented on #4059
Hi @NicoVIII,

Thank you for bringing this to us. I agree this is a miss in the type definition. But I don't think there's a way to add correct type annotation without breaking exiting users that rely on the assumption that the data would exists. I will label it as wont fix, but feel free to comment below.

[2022-03-30 05:18] NicoVIII commented on #4059
Yeah, I understand why you consider this a breaking change.
But another error like this was resolved without a new major version, so I hoped it would be possible here as well.
https://github.com/aws/aws-sdk-js/issues/3184

But thanks for the feedback, I will close then here and have a look at v3 and reopen there, if this still applies in that version :)

[2022-03-30 05:18] #4059 closed

[2022-03-30 22:13] renatorroliveira opened #4062 "AWS SigV4 signature fails when endpoint passed has redundant port number"
- [X] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [X] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [X] I've searched for [previous similar issues](http

[2022-03-31 18:33] tim-finnigan commented on #3329
Linking related issue: https://github.com/aws/aws-sdk/issues/51

[2022-04-01 00:11] #4053 closed

[2022-04-01 08:14] anarkrypto commented on #1252
Any news about this feature proposal?

[2022-04-01 08:14] anarkrypto commented on #1252
Any news about this feature request?

[2022-04-01 08:30] anarkrypto opened #4064 "getSignedUrl - POST support [Resolved]"
In S3, direct-upload through pre-signed url  don't have params for limiting the size of upload content, since it seems to be only valid for POST, not PUT.

This allows users to upload files that are much larger than expected. Attackers can bypass front-end check. Post-treatment does not seem to be an efficient practice.

I found some posts about such a feature (#1252 and #643), but they were aband

[2022-04-01 19:40] JandenMa commented on #3976
Unfortunately, I met the same issue... no idea tho

[2022-04-02 01:05] ahmedyounis commented on #3555
Our dev team is getting the same error when integrating https://github.com/amazon-connect/amazon-connect-streams into our angular project.

[2022-04-03 17:29] sharnage opened #4065 "Default maxretries values for different AWS services"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2022-04-04 00:15] StingLin commented on #4061
@ajredniwja
Just a following up, we still got this issue and it's not happening every time. Any ideas?
<img width="1067" alt="Screenshot 2022-04-04 at 10 13 29" src="https://user-images.githubusercontent.com/57604552/161455306-07f82df5-585e-4289-a94a-37a2907a3360.png">

[2022-04-06 07:00] mirelaekic commented on #3926
if there is an `AWS_SDK_LOAD_CONFIG` it should be set to `""` that is what solved the issue for me.

Read more here:
https://github.com/aws/aws-sdk-js/issues/4043

[2022-04-06 10:25] saloni137 opened #4066 "Upgrade your uuid dependency package version to >= 7"
**Describe the bug**
Upgrade your UUID package version to >= 7 . Current Dependency of UUID package 3.3.2 is deprecated.

[2022-04-07 00:11] #4050 closed

[2022-04-07 00:11] #4058 closed

[2022-04-07 10:56] debashishkumar commented on #2981
+1 for this feature!

[2022-04-08 00:10] #1337 closed

[2022-04-08 06:06] viveksdf opened #4068 "No resend verification code API for SMS MFA"
I am trying to implement resend OTP functionality in my application but there is no API available to do so. Here I am raising it as an enhacement so that we can be resend the OTP.

[2022-04-08 07:48] raejoonee commented on #4066
This issue has been raised several times over the past year. Older versions of uuid may cause problems with random numbers. Now, uuid is at version over 8.x and I really hope this can be fixed as soon as possible.

[2022-04-09 23:47] rotvulpix commented on #3501
Still an issue as of Apr 9, 2022

[2022-04-11 14:18] ardenercelik opened #4069 "TypeError for getBucketLifecycleConfiguration() in aws-sdk/client-s3"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-04-12 11:55] staradayev opened #4070 "AdminSetUserMFAPreference doesn't make an effect to users MFA options"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-04-13 00:11] #3098 closed

[2022-04-15 09:35] Ravi-Rsankar opened #4072 "issue with aws service discovery javascript"
Im developing a nodejs application that needs to register to the AWS service discovery on the app start. I'm using the @aws-sdk/client-servicediscovery lib in my node application. As a reference, I am using the code from here: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-servicediscovery/index.html.

[code]
While running the app, getting these errors.
[code]
I am new to th

[2022-04-15 09:44] damphan commented on #4070
Also happened in aws-sdk-php-laravel

[2022-04-15 14:58] aswinpanexcel opened #4073 "TypeError: this.makeRequest is not a function"
while invoking SES or SNS from lambda function. getting this error

### aws-sdk version
[code]

## SNS code:
[code]
### Error:
[code]

## SES code:
[code]

### Error:
[code]

[2022-04-15 22:50] ajredniwja commented on #4072
@Ravi-Rsankar thanks for opening the issue, transferring it to the correct repo.
https://github.com/aws/aws-sdk-js-v3

[2022-04-18 19:29] ajredniwja commented on #4065
Hi @sharnage thanks for opening this issue, https://github.com/aws/aws-sdk-js/issues/3611
The above issue should resolve your query. Please let us know if it doesnt. Thanks

[2022-04-18 20:06] amirali26 commented on #4064
This is quite appalling that something as important as this has gone under the radar and is not being actively developed.

[2022-04-21 05:06] JANDA-Developers opened #4077 "Aws-sdk s3 upload CORS error cause by CacheControl Option"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2022-04-21 14:43] adrian-goe opened #4078 "SQS responds with an error, but no catch is executed"
Confirm by changing [ ] to [x] below:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] This is an

[2022-04-21 21:02] dreamspider42 commented on #3995
Was there any action on this?  We've been seeing lots of readFileSync as well and seem to be setting all the credentials explicitly.

[2022-04-21 23:19] zpetukhov commented on #2087
The reason of the described issue is clear enough: there's a simple loop in the code where all the s3 streams are opened and appended to the archive.
But the archiver processes them one by one.
And, when client downloads slowly, we can easily reach 120 seconds timeout.
One of possible solutions is to prepare s3 streams and append them to the archive "one by one", i.e. we create the next stream and

[2022-04-22 20:21] dreamspider42 commented on #3995
Wanted to leave an update it seems like this can be prevented if you are using aws-sdk version 2.683 or later along with either setting the environment variables: AWS_ENABLE_ENDPOINT_DISCOVERY or AWS_ENDPOINT_DISCOVERY_ENABLED to a value (either true or false).  If it is undefined in the service config or the env var it attempts to look for a configuration file.  Since it will return false in the

[2022-04-24 16:36] doverradio opened #4079 "amazon s3 Bucket: Inaccessible host: "xxxxxxxxxxx"at port `undefined'. This service may not be available in the `us-west-1' region."
I have an issue similar to the one mentioned in [#2618](https://github.com/aws/aws-sdk-js/issues/2618).

I had successfully loaded about 11 images to my amazon S3 bucket (which I created on the same day as the issues began).

Afterward, I tried to upload the 12th image and got the error:
[code]
I waited for an hour or so, and then tried making the call again, which worked.

Why this behavior?

Can

[2022-04-25 14:25] yenfryherrerafeliz commented on #4078
Hi @adrian-goe, thank you for reaching out. In order to attempt to reproduce the reported issue, could you please provide the following:
- The definition/values of the variable "command".
    - Please redact any sensitive information!

<summary>The sample code below worked just fine for me:</summary>

<details>

[code]
</details>

I will be also moving this issue to the right [repo](github.com/aws

[2022-04-25 17:59] ajredniwja commented on #3815
@FalekPRO Apologies lost track of this issue, is it still a persisting issue?

[2022-04-25 18:03] ajredniwja commented on #3878
@lajpatshah Apologies I lost track of this is it still a persisting issue with the latest version?

[2022-04-25 18:04] #3895 closed

[2022-04-25 18:08] ajredniwja commented on #3978
@huzaifaAhmedTestlio Apologies I lost track of it total in deviceMinutes includes setup time for devices as well. Customer is only charged for either metered or unmetered minutes .

[2022-04-25 18:09] #4065 closed

[2022-04-26 12:16] lajpatshah commented on #3878
Hi @ajredniwja

Thank you for bringing to my notice again. **Yes its working now.**

Cheers

[2022-04-26 15:43] Digized opened #4095 "Allow response-cache-control header in S3 headObject"
Confirm by changing [ ] to [x] below:
- [X] This is a feature with version 2.x of the SDK

**Is your feature request related to a problem? Please describe.**
I am using [Last-Modified](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified) as an optimistic concurrency mechanism. I am calling the headObject api every ~2s. Although this works as expected on Chrome, Firefox caches t

[2022-04-26 15:54] Imnobodyelse opened #4096 "Download multiple files from s3 at the same time."
we are implementing a small vue.js app that allows download the files from the aws s3.
in our app, We fetch all the keys (around 99000) and display them in UI as a directory by filtering a part of the key (example : bucketname/Dir1/Dir2/Dir3/).
Then we loop through the keys that start with this specific directory name, we download the data for each key (file) and finally we save all of them in a s

[2022-04-26 17:10] trivikr commented on #4095
The [headObject](https://docs.aws.amazon.com/AmazonS3/latest/API/API_HeadObject.html) request docs from S3 does not document `response-cache-control` header.

[2022-04-26 20:09] Digized commented on #4095
I wasn't able to repro this since it seems to pass cache-control: max-age=0 in the request headers

https://github.com/Digized/aws-sdk-js-tests

internal ticket V569765586

internal diff ar3iq57k

[2022-04-26 20:45] kellertk commented on #3236
Thank you for posting your feedback here, and our apologies that we’ve been thinking this over for a long time without much forward motion. There are similar requests to implement this feature in a few of the AWS SDKs and the AWS CLI, so in order to coordinate those teams - and hopefully make the discussions a little easier to follow - we’ve created a new issue in aws/aws-sdk here: https://github.

[2022-04-26 20:46] kellertk commented on #3999
Thank you for posting your feedback here, and our apologies that we’ve been thinking this over for a long time without much forward motion. There are similar requests to implement this feature in a few of the AWS SDKs and the AWS CLI, so in order to coordinate those teams - and hopefully make the discussions a little easier to follow - we’ve created a new issue in aws/aws-sdk here: https://github.

[2022-04-27 04:58] lajpatshah commented on #3878
Hi @ajredniwja

Thank you for bringing to my notice again. I checked on my production server it is still giving same error.

It is working when I use security credentials of a aws user. But it doesnt work with ec2role.

[2022-04-27 13:10] SiyabongaMabundza commented on #3025
If the above solution didn't work for you then check the Item in your Table and make sure that the attribute you're trying to delete an element from is of the type StringSet("SS") and not List("L")! [Take a look here](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes) if you want to learn more about Dynamodb data types.

[2022-04-27 13:28] kmcnerney-salesforce commented on #4038
Hi, I'm seeing the same errors and have opened a ticket with AWS Support as well #9956481171. @rchl thanks for opening this, have you found any solution yet?

[2022-04-27 13:42] rchl commented on #4038
I'm using own version of the package with the following patch applied: https://github.com/rchl/amazon-dax-client/commit/8ad2d19530cebae2176715b8971da662640df294

It's a workaround specifically for the `batchGetItem` API so if your error triggers with some other API, it won't help you.

I haven't published that version of the package anywhere publicly.

[2022-04-27 13:54] kmcnerney-salesforce commented on #4038
Thanks for the quick response. One more question - since this code is just ignoring the error, do you know if the error is a real problem? Did AWS tell you that they acknowledge the problem and will work on a fix?

[2022-04-28 13:48] openedhardware opened #4097 "InvalidSignatureException: Credential should be scoped to correct service: 'execute-api'"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-04-28 18:36] Dhyanesh97 opened #4098 "Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource."
Angular Code:
[code]
CORS configuration of bucket:
[code]

Error message in console:
[code]

Cloudfront configuration:

![image](https://user-images.githubusercontent.com/89400147/165822951-a4b1908c-ed05-4932-b79c-57fa36b22cb7.png)

Bucket is private. Block all public access is enabled. No static website hosting. I am trying to list files from private bucket.

Any help appreciated.

[2022-04-28 20:24] dreamspider42 commented on #3926
For those interested you can resolve this issue I believe by either setting the endpointDiscoveryEnabled value in the service config to false or via the environment variable AWS_ENABLE_ENDPOINT_DISCOVERY.  It will search recursively for any value (true or false) until it checks the config file.  You can read more about it here: https://github.com/aws/aws-sdk-js/issues/3995#issuecomment-1106830467

[2022-04-29 15:21] srulfi commented on #3591
Also facing this issue when connecting to an FTP using [basic-ftp](https://www.npmjs.com/package/basic-ftp)

[code]

[code]

[2022-04-29 17:22] SofyaNadesan opened #4099 "Node.js aws-sdk opensearch issue with associating packages"
I have been working on a node.js project, which uploads a file to the S3 bucket, and imports a package in Opensearch based on the newly uploaded file, which is working fine. However, when I try to associate a domain with the package, using the associatePackage function provided by the aws-sdk, I can see it appearing on the aws Opensearch portal, with a status of 'Associating', but after a about fi

[2022-05-01 00:14] #2532 closed

[2022-05-01 14:15] chrisdjin commented on #3665
@ajredniwja "_I suspect that they get overwritten when the S3 client is initialized_". That was the main reason in my case. I just have to call
`var s3 = new AWS.S3({ params: { Bucket: bucketName } });`
in each function.

[2022-05-02 10:02] drodil commented on #2855
Seems like the #3511 is not merged. For some reason I am getting HTTP error 500 when trying to send gzipped content in putMetricData:
`
cloudWatch.putMetricData(r).on('build', (request) => {
      request.httpRequest.headers['Content-Encoding'] = 'gzip';
      zlib.gzip(request.httpRequest.body, function (err, result) {
        if (err) {
          throw err;
        }
        request.httpRequest.

[2022-05-02 11:39] itowk commented on #3501
Still an issue as of May 2, 2022

[2022-05-03 00:11] #536 closed

[2022-05-03 17:24] alanwilter commented on #1436
Could anyone make a proper functional example please?

I'm trying with this:

Be `temp.js`:
[code]

Then:

[code]
My point is, I really need the file to exist at the lambda node `/tmp/...` because I call other processes on it.

[2022-05-03 22:49] ajredniwja commented on #3831
Apologies for a late reply but I believe a change to the docs was made please see:
https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html#API_PutRetentionPolicy_RequestSyntax

[2022-05-03 22:49] #3831 closed

[2022-05-03 22:57] rahul-ghimire-au6 commented on #3665
I have answered the solution for this issue here:- https://stackoverflow.com/questions/62433933/heroku-s3-missing-credentials-in-config-if-using-aws-config-file-set-aws-sdk-l/72106220#72106220

please check it and upVote

[2022-05-04 01:53] athurner opened #4101 "migrate multipart upload with presigned urls from aws javascript sdk v2 to v3"
I successfully have code that allows the support of multipart uploads with presigned urls using `sdk v2`.
And I was successful migrating the code for single uploads with presigned urls from `v2` to `v3`, but I cannot find out how to convert the creation of pre-signed urls for a multipart upload from `sdk v2` to `sdk v3`.

V2 - WORKING:

this is the working code with sdk v2

[code]

V3 - NOT WORKIN

[2022-05-04 05:28] Dhyanesh97 commented on #4098
Issue was resolved. Created new private bucket and tried adding same configuration. Error occurred because I was using the bucket whose Bucket policy was set So it was restricting access it seems.

[2022-05-04 05:28] #4098 closed

[2022-05-04 07:29] elizatlawy opened #4102 "KinesisVideoArchivedMedia return wrong error when using PRODUCER_TIMESTAMP for end timestamp that is outside of retention period"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js)

[2022-05-04 07:44] tamascsaba commented on #3501
Still an issue as of May 4, 2022

[2022-05-04 09:29] veera-clarbloc opened #4103 "Invalid Argument null issue - AWS sdk - Digital Ocean spaces"
Confirm by changing [ ] to [x] below:
- [ ] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [ ] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [ ] This is an

[2022-05-04 13:31] athurner commented on #4101
posted the issue in the aws-sdk-js-v3 project (see https://github.com/aws/aws-sdk-js-v3/issues/3591)

[2022-05-05 14:18] ctunna commented on #3555
Our team is also experiencing this issue.

[2022-05-05 15:50] vanilla-lake opened #4104 "CredentialProviderChain.resolve() may not call its callback on a reentrant call"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) fo

[2022-05-05 23:07] passos commented on #4066
`warning aws-sdk > uuid@3.3.2: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.`

[2022-05-06 00:11] #3002 closed

[2022-05-06 06:17] albertochigua commented on #4064
Is it possible to call **createPresignedPost** for **'uploadPart'**?
I try to create a large file loading system that generates signed links for each party, but to add security I need to indicate the size of each part (Content-Length).

[2022-05-07 20:44] ruchisharma189 commented on #3284
Facing the same issue could somebody help here ?

[2022-05-09 00:11] #3045 closed

[2022-05-09 07:46] xsky-ken commented on #1769
can use CDN import AWS not error

[2022-05-09 17:46] gwdp commented on #3284
@ruchisharma189 In my experience/case, the intermittent issue was caused by a very high throughput on the metadata API. [Metadata API ](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html) is used by the SDK to retrieve the execution role at every service initialization. Few hundreds of `v2` SDK services initialization. e.g.: `new AWS.S3({...})` can cause this, mai

[2022-05-10 00:11] #3725 closed

[2022-05-10 00:11] #3726 closed

[2022-05-10 00:11] #3730 closed

[2022-05-12 13:54] vectronic opened #4106 "Credentials expiryWindow declared as static class field in types, but is actually implemented as a public instance field"
- [x] I've gone through [Developer Guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-js) for answers
- [x] I've searched for [previous similar issues](http

[2022-05-12 17:40] tim-finnigan commented on #3999
I'm going to resolve this as a duplicate of https://github.com/aws/aws-sdk-js/issues/3236. As mentioned above there is also an issue in the aws-sdk repository for tracking this feature request at a cross-sdk level.

[2022-05-12 17:40] #3999 closed

[2022-05-13 12:02] KaidiMohammed commented on #4099
Hello,
Are you using the same user aws credentials in CLI and in SDK ?
and also if the package is already associated, I think it should be dissociated first and then associate it again.

[2022-05-13 18:32] clhuang opened #4107 "@aws-sdk/client-emr-containers cannot call describeJobRun"
**Describe the bug**
parsing of createdAt and finishedAt job fields do not appear to work

**Is the issue in the browser/Node.js?**
Node.js

**Details of the browser/Node.js version**
Paste output of `npx envinfo --browsers` or `node -v`

**SDK version number**
@aws-sdk/client-emr-containers@3.87.0

**To Reproduce (observed behavior)**
[code]

receive the error:
[code]

**Expected behavior**
no er

[2022-05-13 18:44] clhuang commented on #4107
It appears the documentation is incorrect: https://docs.aws.amazon.com/emr-on-eks/latest/APIReference/API_DescribeJobRun.html

`createdAt` and `finishedAt` are stated as numbers, but when I make a HTTP call to the endpoint they're returned as ISO datestrings:
![image](https://user-images.githubusercontent.com/1694228/168347375-13e73dff-0427-48e3-ac8c-e442c15686a2.png)

[2022-05-16 21:15] danobri commented on #3891
Just ran into this error for the first time today after tearing down and recreating a stack we have been using for load testing.  Only happens on one of the recreated tables, but seems to occur on essentially every request.  Any status update on this?

[2022-05-17 17:04] mattBrzezinski commented on #3731
Still relevant.

[2022-05-18 00:12] #3719 closed

[2022-05-19 00:01] mikhael28 commented on #3673
This works `import { defineConfig } from "vite";
import react from "@vitejs/plugin-react";
import resolve from "@rollup/plugin-node-resolve";
import { visualizer } from 'rollup-plugin-visualizer';

export default defineConfig({
    plugins: [
      react(),
      {
        ...resolve({
          preferBuiltins: false,
          browser: true,
        }),
        enforce: 'pre',
        apply: 'bui

[2022-05-19 00:12] #3301 closed

[2022-05-19 14:05] dsturnbull commented on #2970
The SO post hinted at mentions the `NODE_EXTRA_CA_CERTS` env variable. This works, but is unable to be set after the process has started. This is contrary to the expectations the `fromIni` credential provider gives within the SDK. It doesn't provide any way mix 'real' AWS CLI calls with Snow family calls to a local devices, which could be a security problem.

[2022-05-19 15:15] #3987 closed

[2022-05-19 15:25] #4034 closed

[2022-05-19 15:43] fancywriter commented on #4035
@nikhilpatilTR did you try 127.0.0.1 instead of localhost?

[2022-05-19 16:42] kmcnerney-salesforce commented on #4038
FYI: this issue is fixed in version amazon-dax-client 1.2.8

[2022-05-22 00:12] #3755 closed

[2022-05-23 00:12] #3347 closed

[2022-05-23 13:34] ajredniwja commented on #4079
Hey @doverradio apologies for late reply can you please share your code and some of the details about your environment.
https://github.com/aws/aws-sdk-js/issues/new?assignees=&labels=bug%2Cneeds-triage&template=bug-report.yml&title=%28short+issue+description%29

[2022-05-24 00:13] #4096 closed

[2022-05-24 06:31] doverradio commented on #4079
Hello,

Here is my code:

[code]

[2022-05-24 08:55] Arun-KumarH opened #4109 "S3 Client file upload does not work with minio if the file name / key contains umlauts along with the same file name in the Metadata"
### Describe the bug

We have an issue with file upload with minio, if the file name contains umlauts and same key name is used in Metadata then we get `SignatureDoesNotMatch` error.
(If we omit the Key name in the Metadata then the file upload works fine with umlauts).

S3 file upload (s3Upload.js) :
[code]

Minio Docker compose file (minio-docker-compose.yaml) :
[code]

### Expected Behavior

Fi

[2022-05-24 09:31] Nizari commented on #3673
I solved this issue thanks to this post:  https://stackoverflow.com/questions/70938763/build-problem-with-react-vitejs-and-was-amplify

In vite.config.js add:

[code]

[2022-05-24 12:23] irenakovalyova commented on #3534
Hi,
I see it's been a while, but I'm having the same issue. Have you solved yours back then? What was causing it?
I would be very grateful for any clue :) Thanks!

[2022-05-25 07:32] KirtanSoni commented on #4106
I would Like to take up this issue. Please assign it to me.

[2022-05-25 09:26] anujsinghaniya commented on #3532
We are seeing high latency with go sdk for sendmessage.

[2022-05-25 11:17] jhericatiu opened #4110 "Cannot read property of push undefined"
### Describe the bug

Hello, having a bug in lambda AWS. We cannot replicate the issue we tried uploading a file and then manually trigging the lambda function, upon checking this is the only one that is currently having an error. Checked it in lambda and the test was a success. Still receiving this error.

In QA environment, 288 lambda runs per day but we are only getting 3 error on push (max cou

[2022-05-26 00:45] Birowsky commented on #3275
Nudge

[2022-05-27 03:04] richardbullin opened #4112 ""InvalidIdentityPoolConfigurationException" when getting credentials"
### Describe the bug

I have an S3 bucket which all of my customers data is stored in, the first "folder" level is made up of the Cognito Identity Id for each customer and my IAM policies have been setup so each user can only access the items from their own directories, this all works fine.

I'm trying to allow my customers to share their S3 directories with each other by making use of attributes

[2022-05-27 17:19] airjp73 commented on #1769
With vite, you can do the same solution using `strictRequires`, but since vite is on v21 of `@rollup/commonjs`, it requires a slightly hackier approach. This plugin removes the `commonjs` plugin that vite provides by default and replaces it with v22.

[code]

Then in your vite config you can do

[code]

I think vite is planning on upgrading `@rollup/commonjs` to v22 in vite 3 ([reference](https://

[2022-05-27 18:04] t-lock commented on #1769
plugins: [updateCommonjsPlugin()],

@airjp73 this method got rid of the `Cannot read property 'memoizedProperty' of undefined` error for me, but now my Svelte bundle doesn't get called in index.html, resulting in a blank page.

Are you importing aws as es module or using commonjs `require`?

[2022-05-27 18:13] john-at-mc commented on #3136
+1

[2022-05-27 18:16] airjp73 commented on #1769
In my case, I'm not using the html output from vite so that could be why I'm not running into that issue.

[2022-05-27 19:39] kennedysam97 commented on #3136
+1

[2022-05-29 23:53] geekdroid07 commented on #2981
+1 for this feature!

[2022-05-30 09:10] jonatandmapser commented on #3555
any news about this?

[2022-05-31 13:50] ajredniwja commented on #4106
@vectronic thanks for opening this issue, from looking at it I believe it should not be marked Static.

[2022-05-31 14:13] ajredniwja commented on #4099
@SofyaNadesan thanks for opening this issue, can you please share the code you are using? Or maybe the HTTP request is used? I would also try to disassociating it first too.

[2022-05-31 14:18] ajredniwja commented on #3989
@contactBetterplay apologies for losing track of this issue, I believe this not to be an SDK issue but how SDK behaves. I phone sleeping and not having enough time to recover for connection is what causes the upload to fail.

[2022-05-31 14:22] ajredniwja commented on #4003
Closing this issue now, please reach out if there are any questions. Thanks

[2022-05-31 14:22] #4003 closed

[2022-05-31 14:45] ajredniwja commented on #4097
Hi @openedhardware thanks for opening this issue, would you be able to share what the endpoint looks like. Should be something like: end.jobs.iot.us-west-2.amazonaws.com

[2022-05-31 14:48] ajredniwja commented on #4068
Hey @viveksdf I believe you are looking for something like this.
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/sns-examples-sending-sms.html

I would close this issue, please reopen the issue using the [issue template](https://github.com/aws/aws-sdk-js/issues/new/choose), if you have any other questions. thanks